# Get Lists of Measurement Types & Locations

In [1]:
import pandas as pd

In [2]:
def load_data(kind, name):
    return pd.read_csv(f"data/raw/{kind}/{name}.csv")
def get_col_names(df):
    return list(set(df.columns) - set(['Date']))
def aggregate_col_names(kinds, names):
    bucket = []
    for k, n in zip(kinds, names):
        df = load_data(k, n)
        bucket += get_col_names(df)
    return sorted(bucket)

In [3]:
names = [
    'auser',
    'doganella',
    'luco',
    'petrignano',
    'amiata',
    'lupa',
    'madonna_di_canneto',
    'bilancino',
    'arno'
]

kinds = [
    'aquifer',
    'aquifer',
    'aquifer',
    'aquifer',
    'waterspring',
    'waterspring',
    'waterspring',
    'lake',
    'river'
]

In [4]:
features = aggregate_col_names(kinds, names)

In [5]:
features

['Depth_to_Groundwater_CoS',
 'Depth_to_Groundwater_DIEC',
 'Depth_to_Groundwater_David_Lazzaretti',
 'Depth_to_Groundwater_LT2',
 'Depth_to_Groundwater_P24',
 'Depth_to_Groundwater_P25',
 'Depth_to_Groundwater_PAG',
 'Depth_to_Groundwater_Podere_Casetta',
 'Depth_to_Groundwater_Pozzo_1',
 'Depth_to_Groundwater_Pozzo_1',
 'Depth_to_Groundwater_Pozzo_2',
 'Depth_to_Groundwater_Pozzo_3',
 'Depth_to_Groundwater_Pozzo_3',
 'Depth_to_Groundwater_Pozzo_4',
 'Depth_to_Groundwater_Pozzo_4',
 'Depth_to_Groundwater_Pozzo_5',
 'Depth_to_Groundwater_Pozzo_6',
 'Depth_to_Groundwater_Pozzo_7',
 'Depth_to_Groundwater_Pozzo_8',
 'Depth_to_Groundwater_Pozzo_9',
 'Depth_to_Groundwater_SAL',
 'Depth_to_Groundwater_S_Fiora_11bis',
 'Depth_to_Groundwater_S_Fiora_8',
 'Flow_Rate',
 'Flow_Rate_Arbure',
 'Flow_Rate_Bugnano',
 'Flow_Rate_Ermicciolo',
 'Flow_Rate_Galleria_Alta',
 'Flow_Rate_Lupa',
 'Flow_Rate_Madonna_di_Canneto',
 'Hydrometry_Fiume_Chiascio_Petrignano',
 'Hydrometry_Monte_S_Quirico',
 'Hydrometry_Nave_di_Rosano',
 'Hydrometry_Piaggione',
 'Lake_Level',
 'Rainfall_Abbadia_S_Salvatore',
 'Rainfall_Bastia_Umbra',
 'Rainfall_Bibbiena',
 'Rainfall_Borgo_a_Mozzano',
 'Rainfall_Calavorno',
 'Rainfall_Camaldoli',
 'Rainfall_Castel_del_Piano',
 'Rainfall_Cavallina',
 'Rainfall_Cavallina',
 'Rainfall_Consuma',
 'Rainfall_Croce_Arcana',
 'Rainfall_Fabbriche_di_Vallico',
 'Rainfall_Gallicano',
 'Rainfall_Incisa',
 'Rainfall_Laghetto_Verde',
 'Rainfall_Laterina',
 'Rainfall_Le_Croci',
 'Rainfall_Le_Croci',
 'Rainfall_Mangona',
 'Rainfall_Mangona',
 'Rainfall_Mensano',
 'Rainfall_Montalcinello',
 'Rainfall_Monte_Serra',
 'Rainfall_Monteporzio',
 'Rainfall_Monteroni_Arbia_Biena',
 'Rainfall_Montevarchi',
 'Rainfall_Monticiano_la_Pineta',
 'Rainfall_Orentano',
 'Rainfall_Pentolina',
 'Rainfall_Piaggione',
 'Rainfall_Ponte_Orgia',
 'Rainfall_Pontetetto',
 'Rainfall_S_Agata',
 'Rainfall_S_Agata',
 'Rainfall_S_Fiora',
 'Rainfall_S_Piero',
 'Rainfall_S_Piero',
 'Rainfall_S_Savino',
 'Rainfall_Scorgiano',
 'Rainfall_Settefrati',
 'Rainfall_Siena_Poggio_al_Vento',
 'Rainfall_Simignano',
 'Rainfall_Sovicille',
 'Rainfall_Stia',
 'Rainfall_Tereglio_Coreglia_Antelminelli',
 'Rainfall_Terni',
 'Rainfall_Velletri',
 'Rainfall_Vernio',
 'Rainfall_Vetta_Amiata',
 'Temperature_Abbadia_S_Salvatore',
 'Temperature_Bastia_Umbra',
 'Temperature_Firenze',
 'Temperature_Laghetto_Verde',
 'Temperature_Le_Croci',
 'Temperature_Lucca_Orto_Botanico',
 'Temperature_Mensano',
 'Temperature_Monte_Serra',
 'Temperature_Monteporzio',
 'Temperature_Monteroni_Arbia_Biena',
 'Temperature_Orentano',
 'Temperature_Pentolina',
 'Temperature_Petrignano',
 'Temperature_Ponte_a_Moriano',
 'Temperature_S_Fiora',
 'Temperature_Settefrati',
 'Temperature_Siena_Poggio_al_Vento',
 'Temperature_Velletri',
 'Volume_C10_Petrignano',
 'Volume_CC1',
 'Volume_CC2',
 'Volume_CSA',
 'Volume_CSAL',
 'Volume_POL',
 'Volume_Pozzo_1',
 'Volume_Pozzo_1',
 'Volume_Pozzo_2',
 'Volume_Pozzo_3',
 'Volume_Pozzo_3',
 'Volume_Pozzo_4',
 'Volume_Pozzo_4',
 'Volume_Pozzo_5+6',
 'Volume_Pozzo_7',
 'Volume_Pozzo_8',
 'Volume_Pozzo_9']

In [6]:
measurements = [
    'Depth_to_Groundwater',
    'Flow_Rate',
    'Hydrometry',
    'Lake_Level',
    'Rainfall',
    'Temperature',
    'Volume'
]

In [7]:
def detect_measurement(name):
    for m in measurements:
        if name.startswith(m):
            return m
def remove_measurement(name, m):
    return name.replace(m, '')
def clean_location(n):
    return n[1:]
def aggregate_locations(cols):
    bucket = set()
    for n in cols:
        m = detect_measurement(n)
        n2 = remove_measurement(n, m)
        if n2 != '':
            bucket.add(clean_location(n2))
    return sorted(list(bucket))

In [8]:
locations = aggregate_locations(features)

In [9]:
locations

['Abbadia_S_Salvatore',
 'Arbure',
 'Bastia_Umbra',
 'Bibbiena',
 'Borgo_a_Mozzano',
 'Bugnano',
 'C10_Petrignano',
 'CC1',
 'CC2',
 'CSA',
 'CSAL',
 'Calavorno',
 'Camaldoli',
 'Castel_del_Piano',
 'Cavallina',
 'CoS',
 'Consuma',
 'Croce_Arcana',
 'DIEC',
 'David_Lazzaretti',
 'Ermicciolo',
 'Fabbriche_di_Vallico',
 'Firenze',
 'Fiume_Chiascio_Petrignano',
 'Galleria_Alta',
 'Gallicano',
 'Incisa',
 'LT2',
 'Laghetto_Verde',
 'Laterina',
 'Le_Croci',
 'Lucca_Orto_Botanico',
 'Lupa',
 'Madonna_di_Canneto',
 'Mangona',
 'Mensano',
 'Montalcinello',
 'Monte_S_Quirico',
 'Monte_Serra',
 'Monteporzio',
 'Monteroni_Arbia_Biena',
 'Montevarchi',
 'Monticiano_la_Pineta',
 'Nave_di_Rosano',
 'Orentano',
 'P24',
 'P25',
 'PAG',
 'POL',
 'Pentolina',
 'Petrignano',
 'Piaggione',
 'Podere_Casetta',
 'Ponte_Orgia',
 'Ponte_a_Moriano',
 'Pontetetto',
 'Pozzo_1',
 'Pozzo_2',
 'Pozzo_3',
 'Pozzo_4',
 'Pozzo_5',
 'Pozzo_5+6',
 'Pozzo_6',
 'Pozzo_7',
 'Pozzo_8',
 'Pozzo_9',
 'SAL',
 'S_Agata',
 'S_Fiora',
 'S_Fiora_11bis',
 'S_Fiora_8',
 'S_Piero',
 'S_Savino',
 'Scorgiano',
 'Settefrati',
 'Siena_Poggio_al_Vento',
 'Simignano',
 'Sovicille',
 'Stia',
 'Tereglio_Coreglia_Antelminelli',
 'Terni',
 'Velletri',
 'Vernio',
 'Vetta_Amiata']

In [313]:
def lookup_columns(loc):
    return [f for f in features if f.endswith(loc)]
def remove_prefix(loc, col):
    return col.replace(loc, '')[:-1]
def collate_locations_measurements():
    bucket = dict()
    for loc in locations:
        if loc == 'Petrignano': # could be confused with other columns
            bucket['Petrignano'] = ['Temperature']
        elif loc == 'SAL': # could be confused with CSAL
            bucket['SAL'] = ['Depth_to_Groundwater']
        else:
            cols = lookup_columns(loc)
            bucket[loc] = list(set(remove_prefix(loc, col) for col in cols))
    return bucket

In [314]:
loc_meas = collate_locations_measurements()

In [315]:
loc_meas

{'Abbadia_S_Salvatore': ['Rainfall', 'Temperature'],
 'Arbure': ['Flow_Rate'],
 'Bastia_Umbra': ['Rainfall', 'Temperature'],
 'Bibbiena': ['Rainfall'],
 'Borgo_a_Mozzano': ['Rainfall'],
 'Bugnano': ['Flow_Rate'],
 'C10_Petrignano': ['Volume'],
 'CC1': ['Volume'],
 'CC2': ['Volume'],
 'CSA': ['Volume'],
 'CSAL': ['Volume'],
 'Calavorno': ['Rainfall'],
 'Camaldoli': ['Rainfall'],
 'Castel_del_Piano': ['Rainfall'],
 'Cavallina': ['Rainfall'],
 'CoS': ['Depth_to_Groundwater'],
 'Consuma': ['Rainfall'],
 'Croce_Arcana': ['Rainfall'],
 'DIEC': ['Depth_to_Groundwater'],
 'David_Lazzaretti': ['Depth_to_Groundwater'],
 'Ermicciolo': ['Flow_Rate'],
 'Fabbriche_di_Vallico': ['Rainfall'],
 'Firenze': ['Temperature'],
 'Fiume_Chiascio_Petrignano': ['Hydrometry'],
 'Galleria_Alta': ['Flow_Rate'],
 'Gallicano': ['Rainfall'],
 'Incisa': ['Rainfall'],
 'LT2': ['Depth_to_Groundwater'],
 'Laghetto_Verde': ['Rainfall', 'Temperature'],
 'Laterina': ['Rainfall'],
 'Le_Croci': ['Rainfall', 'Temperature'],
 'Lucca_Orto_Botanico': ['Temperature'],
 'Lupa': ['Flow_Rate'],
 'Madonna_di_Canneto': ['Flow_Rate'],
 'Mangona': ['Rainfall'],
 'Mensano': ['Rainfall', 'Temperature'],
 'Montalcinello': ['Rainfall'],
 'Monte_S_Quirico': ['Hydrometry'],
 'Monte_Serra': ['Rainfall', 'Temperature'],
 'Monteporzio': ['Rainfall', 'Temperature'],
 'Monteroni_Arbia_Biena': ['Rainfall', 'Temperature'],
 'Montevarchi': ['Rainfall'],
 'Monticiano_la_Pineta': ['Rainfall'],
 'Nave_di_Rosano': ['Hydrometry'],
 'Orentano': ['Rainfall', 'Temperature'],
 'P24': ['Depth_to_Groundwater'],
 'P25': ['Depth_to_Groundwater'],
 'PAG': ['Depth_to_Groundwater'],
 'POL': ['Volume'],
 'Pentolina': ['Rainfall', 'Temperature'],
 'Petrignano': ['Temperature'],
 'Piaggione': ['Hydrometry', 'Rainfall'],
 'Podere_Casetta': ['Depth_to_Groundwater'],
 'Ponte_Orgia': ['Rainfall'],
 'Ponte_a_Moriano': ['Temperature'],
 'Pontetetto': ['Rainfall'],
 'Pozzo_1': ['Depth_to_Groundwater', 'Volume'],
 'Pozzo_2': ['Depth_to_Groundwater', 'Volume'],
 'Pozzo_3': ['Depth_to_Groundwater', 'Volume'],
 'Pozzo_4': ['Depth_to_Groundwater', 'Volume'],
 'Pozzo_5': ['Depth_to_Groundwater'],
 'Pozzo_5+6': ['Volume'],
 'Pozzo_6': ['Depth_to_Groundwater'],
 'Pozzo_7': ['Depth_to_Groundwater', 'Volume'],
 'Pozzo_8': ['Depth_to_Groundwater', 'Volume'],
 'Pozzo_9': ['Depth_to_Groundwater', 'Volume'],
 'SAL': ['Depth_to_Groundwater'],
 'S_Agata': ['Rainfall'],
 'S_Fiora': ['Rainfall', 'Temperature'],
 'S_Fiora_11bis': ['Depth_to_Groundwater'],
 'S_Fiora_8': ['Depth_to_Groundwater'],
 'S_Piero': ['Rainfall'],
 'S_Savino': ['Rainfall'],
 'Scorgiano': ['Rainfall'],
 'Settefrati': ['Rainfall', 'Temperature'],
 'Siena_Poggio_al_Vento': ['Rainfall', 'Temperature'],
 'Simignano': ['Rainfall'],
 'Sovicille': ['Rainfall'],
 'Stia': ['Rainfall'],
 'Tereglio_Coreglia_Antelminelli': ['Rainfall'],
 'Terni': ['Rainfall'],
 'Velletri': ['Rainfall', 'Temperature'],
 'Vernio': ['Rainfall'],
 'Vetta_Amiata': ['Rainfall']}

# Find Locations In `stazioni.csv`

In [10]:
stazioni = pd.read_csv('data/geo/stazioni.csv', ';')

In [11]:
stazioni.head()

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
0,TOS19000601,0,5A,Cecina,LI,NaN,freatimetro,m,761579.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
1,TOS19000601,0,5A,Cecina,LI,NaN,qualita,microS/cm,761585.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
2,TOS19000601,0,5A,Cecina,LI,NaN,termometro acqua,�C,761583.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
3,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,deg,751055.0,42.883103,11.661623,1717391.08,4751286.43,910.00,10.0
4,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,m/s,751056.0,42.883103,11.661623,1717391.08,4751286.43,910.00,10.0

In [12]:
stazioni.shape

(2572, 15)

In [61]:
import json

def search_for(nome, unit=None):
    in_name = stazioni['Nome'].str.lower().str.contains(nome.lower())
    in_comune = stazioni['Comune'].str.lower().str.contains(nome.lower())
    mydf = stazioni[in_name | in_comune]
    if unit is not None:
        mydf = mydf[mydf['Strumento'] == unit]
    return mydf.index.tolist()

class SearchRecord:
    def __init__(self, loc):
        self.location = loc
        self.queries = dict()
    def add_query(self, name, unit=None):
        q = name if unit is None else f"{name}/{unit}"
        if q not in self.queries:
            idx = search_for(name, unit)
            self.queries[q] = idx
            return stazioni.iloc[idx]
    def make_choice(self, idx, why=None):
        self.final = idx
        if why is not None:
            self.why = why

## The Long Dark Night of the Search

In [62]:
searches = []
def move_on(loc):
    searches.append(SearchRecord(loc))
def query(a, b=None):
    return searches[-1].add_query(a, b)
def choose(a, b=None):
    searches[-1].make_choice(a, b)

In [63]:
move_on('Abbadia_S_Salvatore')

In [64]:
query('Abbadia')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
3,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,deg,751055.0,42.883103,11.661623,1717391.08,4751286.43,910.0,10.0
4,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,m/s,751056.0,42.883103,11.661623,1717391.08,4751286.43,910.0,10.0
5,TOS11000114,3,Abbadia S. S. - Laghetto Verde3,Abbadia S.S.,SI,NaN,anemometro,m/s,751093.0,42.883103,11.661623,1717391.08,4751286.43,910.0,10.0
6,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,igrometro,%,751052.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
7,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,nivometro,m,751094.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
8,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,pluviometro,mm,751057.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
9,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,radiometro solare,W/mq,751054.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
10,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,termometro,�C,751051.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
11,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,anemometro,deg,747305.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
12,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,anemometro,m/s,747306.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
13,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,anemometro,m/s,747343.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
14,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,barometro,mB,747303.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,6.0
15,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,igrometro,%,747302.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
16,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,nivometro,m,747344.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,4.0
17,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,pluviometro,mm,747307.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
18,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,radiometro solare,W/mq,747304.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,6.0
19,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,termometro,�C,747301.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
20,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,anemometro,deg,811561.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
21,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,anemometro,m/s,811551.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
22,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,igrometro,%,811531.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
23,TOS19000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,nivometro,m,747345.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
24,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,pluviometro,mm,747327.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
25,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,termometro,�C,747321.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
26,TOS07000001,0,Abbadia S. Salvatore,Abbadia S. Salvatore,SI,NaN,pluviometro,mm,15201.0,42.894344,11.669369,1717984.09,4752554.84,855.0,2.0
27,TOS07000001,0,Abbadia S. Salvatore,Abbadia S. Salvatore,SI,NaN,termometro,�C,15202.0,42.894344,11.669369,1717984.09,4752554.84,855.0,2.0

In [65]:
choose(26)

In [67]:
move_on('Arbure')

In [68]:
query('Arbure')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [69]:
query('bure')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [71]:
query('Arb')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
178,TOS11000022,0,Barberino,Barberino Val d'Elsa,FI,NaN,anemometro,deg,749905.0,43.511758,11.235840,1680752.22,4820091.41,430.00,3.0
179,TOS11000022,0,Barberino,Barberino Val d'Elsa,FI,NaN,anemometro,m/s,749906.0,43.511758,11.235840,1680752.22,4820091.41,430.00,3.0
180,TOS11000022,3,Barberino3,Barberino Val d'Elsa,FI,NaN,anemometro,m/s,749943.0,43.511758,11.235840,1680752.22,4820091.41,430.00,3.0
181,TOS11000022,0,Barberino,Barberino Val d'Elsa,FI,NaN,igrometro,%,749902.0,43.511758,11.235840,1680752.22,4820091.41,430.00,NaN
182,TOS11000022,0,Barberino,Barberino Val d'Elsa,FI,NaN,pluviometro,mm,749907.0,43.511758,11.235840,1680752.22,4820091.41,430.00,NaN
183,TOS11000022,0,Barberino,Barberino Val d'Elsa,FI,NaN,termometro,�C,749901.0,43.511758,11.235840,1680752.22,4820091.41,430.00,NaN
215,TOS01004611,0,Bilancino,Barberino di Mugello,FI,Sieve,idrometro,m,737159.0,43.974972,11.289822,1683693.30,4871657.83,NaN,NaN
567,TOS01000911,0,Cavallina,Barberino di Mugello,FI,NaN,pluviometro,mm,737957.0,43.983567,11.237420,1679464.29,4872497.11,256.00,2.0
733,TOS19000646,0,Dep. Cascina,Riparbella,PI,NaN,freatimetro,m,763179.0,43.675075,10.488076,1619984.90,4836876.82,2.24,0.0
734,TOS19000646,0,Dep. Cascina,Riparbella,PI,NaN,qualita,microS/cm,763185.0,43.675075,10.488076,1619984.90,4836876.82,2.24,0.0
735,TOS19000646,0,Dep. Cascina,Riparbella,PI,NaN,termometro acqua,�C,763183.0,43.675075,10.488076,1619984.90,4836876.82,2.24,0.0
1061,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,anemometro,deg,739955.0,44.007030,11.271254,1682105.88,4875177.41,388.00,10.0
1062,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,anemometro,m/s,739956.0,44.007030,11.271254,1682105.88,4875177.41,388.00,10.0
1063,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,anemometro,m/s,739993.0,44.007030,11.271254,1682105.88,4875177.41,388.00,10.0
1064,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,barometro,mB,739953.0,44.007030,11.271254,1682105.88,4875177.41,388.00,2.0
1065,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,evaporimetro,mm,739998.0,44.007030,11.271254,1682105.88,4875177.41,388.00,0.0
1066,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,igrometro,%,739952.0,44.007030,11.271254,1682105.88,4875177.41,388.00,2.0
1067,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,pluviometro,mm,739957.0,44.007030,11.271254,1682105.88,4875177.41,388.00,2.0
1068,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,termometro,�C,739951.0,44.007030,11.271254,1682105.88,4875177.41,388.00,2.0
1147,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,igrometro,%,738302.0,44.050061,11.195636,1675916.49,4879792.65,540.00,NaN
1148,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,pluviometro,mm,738307.0,44.050061,11.195636,1675916.49,4879792.65,540.00,2.0
1149,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,pluviometro,mm,738327.0,44.050061,11.195636,1675916.49,4879792.65,540.00,NaN
1150,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,termometro,�C,738301.0,44.050061,11.195636,1675916.49,4879792.65,540.00,NaN
1151,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,termometro,�C,738321.0,44.050061,11.195636,1675916.49,4879792.65,540.00,NaN
1176,TOS19000613,0,Melatina bis,Riparbella,PI,NaN,freatimetro,m,762129.0,43.344362,10.610429,1630558.90,4800331.82,18.56,0.0
1177,TOS19000613,0,Melatina bis,Riparbella,PI,NaN,qualita,microS/cm,762135.0,43.344362,10.610429,1630558.90,4800331.82,18.56,0.0
1178,TOS19000613,0,Melatina bis,Riparbella,PI,NaN,termometro acqua,�C,762133.0,43.344362,10.610429,1630558.90,4800331.82,18.56,0.0
1227,TOS01000916,0,Monte di Fò,Barberino di Mugello,FI,NaN,igrometro,%,737452.0,44.079632,11.280845,1682651.52,4883262.58,820.00,NaN
1228,TOS01000916,0,Monte di Fò,Barberino di Mugello,FI,NaN,pluviometro,mm,737457.0,44.079632,11.280845,1682651.52,4883262.58,820.00,2.0
1229,TOS01000916,0,Monte di Fò,Barberino di Mugello,FI,NaN,pluviometro,mm,737477.0,44.079632,11.280845,1682651.52,4883262.58,820.00,NaN
1230,TOS01000916,0,Monte di Fò,Barberino di Mugello,FI,NaN,termometro,�C,737451.0,44.079632,11.280845,1682651.52,4883262.58,820.00,NaN
1231,TOS01000916,0,Monte di Fò,Barberino di Mugello,FI,NaN,termometro,�C,737471.0,44.079632,11.280845,1682651.52,4883262.58,820.00,NaN
1357,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,anemometro,deg,749305.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1358,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,anemometro,m/s,749306.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1359,TOS11000082,3,Monteroni Arbia Biena3,Monteroni d'Arbia,SI,NaN,anemometro,m/s,749343.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1360,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,igrometro,%,749302.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1361,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,pluviometro,mm,749307.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1362,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,radiometro solare,W/mq,749304.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1363,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,termometro,�C,749301.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1364,TOS03002689,0,Monteroni d'Arbia,Monteroni d'Arbia,SI,NaN,pluviometro,mm,22290.0,43.259111,11.425138,1696869.90,4792460.82,229.39,2.0
1717,TOS03005655,0,Podere Nuovo,Monteroni d'Arbia,SI,Arbia,idrometro,m,745309.0,43.200789,11.452689,1699296.28,4786048.93,156.00,NaN
1718,TOS03005655,0,Podere Nuovo,Monteroni d'Arbia,SI,Arbia,idrometro,m,745329.0,43.200789,11.452689,1699296.28,4786048.93,156.00,NaN
1785,TOS03005641,0,Ponte del Garbo,Asciano,SI,OmbroneGR,idrometro,m,752009.0,43.240033,11.553432,1707348.27,4790652.24,NaN,NaN
1957,TOS03005657,0,Radi,Monteroni d'Arbia,SI,Sorra,idrometro,m,752059.0,43.215033,11.386919,1693907.49,4787476.21,NaN,NaN
1998,TOS01002231,0,Riparbella,Riparbella,PI,NaN,igrometro,%,743602.0,43.367441,10.602227,1629844.90,4802882.13,230.00,NaN
1999,TOS01002231,9,Riparbella9,Riparbella,PI,NaN,igrometro,%,932918.0,43.367441,10.602227,1629844.90,4802882.13,230.00,NaN
2000,TOS01002231,0,Riparbella,Riparbella,PI,NaN,pluviometro,mm,743607.0,43.367441,10.602227,1629844.90,4802882.13,230.00,NaN
2001,TOS01002231,9,Riparbella9,Riparbella,PI,NaN,pluviometro,mm,932916.0,43.367441,10.602227,1629844.90,4802882.13,230.00,NaN
2002,TOS01002231,0,Riparbella,Riparbella,PI,NaN,termometro,�C,743601.0,43.367441,10.602227,1629844.90,4802882.13,230.00,NaN
2003,TOS01002231,9,Riparbella9,Riparbella,PI,NaN,termometro,�C,932917.0,43.367441,10.602227,1629844.90,4802882.13,230.00,NaN
2331,TOS01005415,0,Steccaia,Riparbella,PI,Cecina,idrometro,m,743909.0,43.339968,10.573541,1627578.21,4799786.88,12.00,NaN
2332,TOS01005415,9,Steccaia9,Riparbella,PI,Cecina,idrometro,m,743929.0,43.339968,10.573541,1627578.21,4799786.88,12.00,NaN
2336,TOS03005415,0,Steccaia Q,Riparbella,PI,Cecina,flussometro,mc/s,744020.0,43.339968,10.573541,1627578.21,4799786.88,12.00,NaN
2337,TOS03005415,0,Steccaia Q,Riparbella,PI,Cecina,idrometro,m,744009.0,43.339968,10.573541,1627578.21,4799786.88,12.00,NaN

In [72]:
move_on('Bastia_Umbra')

In [73]:
query('Bastia')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [74]:
query('Umbra')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [75]:
query('astia')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [76]:
query('mbra')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
66,TOS03004563,0,Ambra,Bucine,AR,Ambra,idrometro,m,747509.0,43.415123,11.605106,1710936.89,4810227.49,NaN,NaN
1847,TOS19000605,0,Ponte Zambra,Volterra,PI,NaN,freatimetro,m,760979.0,43.337718,10.848602,1649880.14,4799994.14,83.13,0.0
1848,TOS19000605,0,Ponte Zambra,Volterra,PI,NaN,qualita,microS/cm,760985.0,43.337718,10.848602,1649880.14,4799994.14,83.13,0.0
1849,TOS19000605,0,Ponte Zambra,Volterra,PI,NaN,termometro acqua,�C,760983.0,43.337718,10.848602,1649880.14,4799994.14,83.13,0.0

In [77]:
move_on('Bibbiena')

In [78]:
query('Bibbiena')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
205,TOS01000626,0,Bibbiena,Bibbiena,AR,NaN,pluviometro,mm,738957.0,43.714149,11.830949,1728089.90,4844035.82,415.0,2.0
206,TOS01000626,0,Bibbiena,Bibbiena,AR,NaN,pluviometro,mm,738977.0,43.714149,11.830949,1728089.90,4844035.82,415.0,2.0
1902,TOS29000040,0,Pozzo Le Chiane,Bibbiena,AR,NaN,freatimetro,m,765429.0,43.690540,11.802960,1725923.71,4841336.91,320.0,NaN
1903,TOS29000040,1,Pozzo Le Chiane1,Bibbiena,AR,NaN,qualita,microS/cm,765435.0,43.690540,11.802960,1725923.71,4841336.91,320.0,NaN
1904,TOS29000040,0,Pozzo Le Chiane,Bibbiena,AR,NaN,termometro acqua,�C,765433.0,43.690540,11.802960,1725923.71,4841336.91,320.0,NaN

In [79]:
choose(205)

In [80]:
move_on('Borgo_a_Mozzano')

In [81]:
query('Mozzano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
234,TOS02004271,0,Borgo a Mozzano,Borgo a Mozzano,LU,Serchio,idrometro,m,734059.0,43.979877,10.551510,1624463.43,4870823.67,100.0,NaN
235,TOS02004271,0,Borgo a Mozzano,Borgo a Mozzano,LU,Serchio,idrometro,m,734079.0,43.979877,10.551510,1624463.43,4870823.67,100.0,NaN
236,TOS02004271,0,Borgo a Mozzano,Borgo a Mozzano,LU,Serchio,pluviometro,mm,734057.0,43.979877,10.551510,1624463.43,4870823.67,100.0,2.0
237,TOS02004271,0,Borgo a Mozzano,Borgo a Mozzano,LU,Serchio,pluviometro,mm,734077.0,43.979877,10.551510,1624463.43,4870823.67,100.0,2.0
650,TOS02004255,0,Chifenti,Borgo a Mozzano,LU,Lima,idrometro,m,734009.0,44.007322,10.563969,1625404.90,4873890.82,103.0,NaN
651,TOS02004255,0,Chifenti,Borgo a Mozzano,LU,Lima,idrometro,m,734029.0,44.007322,10.563969,1625404.90,4873890.82,103.0,NaN
652,TOS02004255,0,Chifenti,Borgo a Mozzano,LU,Lima,igrometro,%,734002.0,44.007322,10.563969,1625404.90,4873890.82,103.0,NaN
653,TOS02004255,0,Chifenti,Borgo a Mozzano,LU,Lima,pluviometro,mm,734007.0,44.007322,10.563969,1625404.90,4873890.82,103.0,2.0
654,TOS02004255,0,Chifenti,Borgo a Mozzano,LU,Lima,pluviometro,mm,734027.0,44.007322,10.563969,1625404.90,4873890.82,103.0,2.0
655,TOS02004255,0,Chifenti,Borgo a Mozzano,LU,Lima,termometro,�C,734001.0,44.007322,10.563969,1625404.90,4873890.82,103.0,NaN
742,TOS29000028,0,Diecimo,Borgo a Mozzano,LU,NaN,freatimetro,m,765029.0,43.955750,10.505320,1620807.78,4868075.31,65.0,NaN
743,TOS29000028,1,Diecimo1,Borgo a Mozzano,LU,NaN,qualita,microS/cm,765035.0,43.955750,10.505320,1620807.78,4868075.31,65.0,NaN
744,TOS29000028,0,Diecimo,Borgo a Mozzano,LU,NaN,termometro acqua,�C,765033.0,43.955750,10.505320,1620807.78,4868075.31,65.0,NaN
851,TOS02004203,0,Fornoli,Borgo a Mozzano,LU,Serchio,idrometro,m,733859.0,44.003558,10.551038,1624376.10,4873453.20,NaN,NaN

In [82]:
choose(236)

In [83]:
move_on('Bugnano')

In [84]:
query('Bugnano')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [85]:
query('ugnano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
400,TOS02000161,0,Capanne di Sillano,Sillano Giuncugnano,LU,NaN,pluviometro,mm,734507.0,44.256021,10.309653,1604577.86,4901158.92,1035.0,2.0
1226,TOS02000171,0,Monte Castellino,Sillano Giuncugnano,LU,NaN,pluviometro,mm,734457.0,44.235873,10.332589,1606445.17,4898950.50,858.0,2.0
1524,TOS02000155,0,Passo Pradarena,Sillano Giuncugnano,LU,NaN,pluviometro,mm,732457.0,44.284518,10.301054,1603841.26,4904313.25,1580.0,2.0
1525,TOS02000155,0,Passo Pradarena,Sillano Giuncugnano,LU,NaN,pluviometro,mm,732477.0,44.284518,10.301054,1603841.26,4904313.25,1580.0,2.0

In [86]:
move_on('C10_Petrignano')

In [87]:
query('Petrignano')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [88]:
query('C10')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [89]:
move_on('CC1')

In [90]:
query('CC1')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [91]:
move_on('CC2')

In [92]:
query('CC2')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [93]:
move_on('CSA')

In [94]:
query('CSA')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [95]:
move_on('CSAL')

In [96]:
query('CSAL')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [97]:
move_on('Calavorno')

In [98]:
query('Calavorno')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
283,TOS02004195,0,Calavorno,Coreglia Antelminelli,LU,Serchio,idrometro,m,733809.0,44.01975,10.535103,1623065.13,4875227.79,137.0,NaN
284,TOS02004195,0,Calavorno,Coreglia Antelminelli,LU,Serchio,idrometro,m,733829.0,44.01975,10.535103,1623065.13,4875227.79,137.0,NaN
285,TOS02004195,0,Calavorno,Coreglia Antelminelli,LU,Serchio,pluviometro,mm,733807.0,44.01975,10.535103,1623065.13,4875227.79,137.0,2.0
286,TOS02004195,0,Calavorno,Coreglia Antelminelli,LU,Serchio,pluviometro,mm,733827.0,44.01975,10.535103,1623065.13,4875227.79,137.0,2.0

In [99]:
choose(285)

In [100]:
move_on('Camaldoli')

In [101]:
query('Camaldoli')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
305,TOS01000611,0,Camaldoli,Poppi,AR,NaN,pluviometro,mm,739057.0,43.810416,11.817376,1726632.43,4854690.83,1111.0,2.0
306,TOS01000611,0,Camaldoli,Poppi,AR,NaN,pluviometro,mm,739077.0,43.810416,11.817376,1726632.43,4854690.83,1111.0,NaN
307,TOS01000611,0,Camaldoli,Poppi,AR,NaN,termometro,�C,739051.0,43.810416,11.817376,1726632.43,4854690.83,1111.0,NaN
308,TOS01000611,0,Camaldoli,Poppi,AR,NaN,termometro,�C,739071.0,43.810416,11.817376,1726632.43,4854690.83,1111.0,NaN

In [102]:
choose(305)

In [103]:
move_on('Castel_del_Piano')

In [104]:
query('Piano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
314,TOS01002779,0,Campiano,Montieri,GR,NaN,igrometro,%,744202.0,43.102463,11.038738,1665930.10,4774226.38,500.00,2.0
315,TOS01002779,0,Campiano,Montieri,GR,NaN,pluviometro,mm,744207.0,43.102463,11.038738,1665930.10,4774226.38,500.00,2.0
316,TOS01002779,0,Campiano,Montieri,GR,NaN,pluviometro,mm,744227.0,43.102463,11.038738,1665930.10,4774226.38,500.00,2.0
317,TOS01002779,0,Campiano,Montieri,GR,NaN,termometro,�C,744201.0,43.102463,11.038738,1665930.10,4774226.38,500.00,2.0
318,TOS01002779,0,Campiano,Montieri,GR,NaN,termometro,�C,744221.0,43.102463,11.038738,1665930.10,4774226.38,500.00,2.0
508,TOS03002901,1,Castel del Piano1,Castel del Piano,GR,NaN,igrometro,%,745936.0,42.893956,11.526710,1706336.73,4752152.02,566.00,NaN
509,TOS03002901,0,Castel del Piano,Castel del Piano,GR,NaN,nivometro,m,745944.0,42.893956,11.526710,1706336.73,4752152.02,566.00,NaN
510,TOS03002901,0,Castel del Piano,Castel del Piano,GR,NaN,pluviometro,mm,745907.0,42.893956,11.526710,1706336.73,4752152.02,566.00,2.0
511,TOS03002901,0,Castel del Piano,Castel del Piano,GR,NaN,pluviometro,mm,745927.0,42.893956,11.526710,1706336.73,4752152.02,566.00,2.0
512,TOS03002901,1,Castel del Piano1,Castel del Piano,GR,NaN,termometro,�C,745913.0,42.893956,11.526710,1706336.73,4752152.02,566.00,NaN
513,TOS03002901,1,Castel del Piano1,Castel del Piano,GR,NaN,termometro,�C,745933.0,42.893956,11.526710,1706336.73,4752152.02,566.00,NaN
1331,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,anemometro,deg,750405.0,42.950614,11.439461,1699029.90,4758233.82,193.00,NaN
1332,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,anemometro,m/s,750406.0,42.950614,11.439461,1699029.90,4758233.82,193.00,NaN
1333,TOS11000051,3,Montenero3,Castel del Piano,GR,NaN,anemometro,m/s,750443.0,42.950614,11.439461,1699029.90,4758233.82,193.00,NaN
1334,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,igrometro,%,750402.0,42.950614,11.439461,1699029.90,4758233.82,193.00,NaN
1335,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,pluviometro,mm,750407.0,42.950614,11.439461,1699029.90,4758233.82,193.00,NaN
1336,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,radiometro solare,W/mq,750404.0,42.950614,11.439461,1699029.90,4758233.82,193.00,NaN
1337,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,termometro,�C,750401.0,42.950614,11.439461,1699029.90,4758233.82,193.00,NaN
1588,TOS19000607,0,Piano Cortolla,Montecatini Val di Cecina,PI,NaN,freatimetro,m,560792.0,43.340298,10.763173,1642948.90,4800130.82,51.59,0.0
1589,TOS19000607,0,Piano Cortolla,Montecatini Val di Cecina,PI,NaN,qualita,microS/cm,560780.0,43.340298,10.763173,1642948.90,4800130.82,51.59,0.0
1590,TOS19000607,0,Piano Cortolla,Montecatini Val di Cecina,PI,NaN,termometro acqua,�C,560751.0,43.340298,10.763173,1642948.90,4800130.82,51.59,0.0
1591,TOS29000695,0,Piano Cortolla BIS,Montecatini Val di Cecina,PI,NaN,freatimetro,m,763979.0,43.393446,10.739075,1640872.48,4805992.30,52.04,NaN
1592,TOS29000695,1,Piano Cortolla BIS1,Montecatini Val di Cecina,PI,NaN,qualita,microS/cm,763985.0,43.393446,10.739075,1640872.48,4805992.30,52.04,NaN
1593,TOS29000695,0,Piano Cortolla BIS,Montecatini Val di Cecina,PI,NaN,termometro acqua,�C,763983.0,43.393446,10.739075,1640872.48,4805992.30,52.04,NaN
2254,TOS11000053,0,Seggiano,Castel del Piano,GR,NaN,igrometro,%,505331.0,42.906039,11.549029,1708118.45,4753548.83,539.00,NaN
2255,TOS11000053,0,Seggiano,Castel del Piano,GR,NaN,pluviometro,mm,505301.0,42.906039,11.549029,1708118.45,4753548.83,539.00,NaN
2256,TOS11000053,0,Seggiano,Castel del Piano,GR,NaN,termometro,�C,505321.0,42.906039,11.549029,1708118.45,4753548.83,539.00,NaN

In [105]:
query('Castel del Piano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
508,TOS03002901,1,Castel del Piano1,Castel del Piano,GR,NaN,igrometro,%,745936.0,42.893956,11.526710,1706336.73,4752152.02,566.0,NaN
509,TOS03002901,0,Castel del Piano,Castel del Piano,GR,NaN,nivometro,m,745944.0,42.893956,11.526710,1706336.73,4752152.02,566.0,NaN
510,TOS03002901,0,Castel del Piano,Castel del Piano,GR,NaN,pluviometro,mm,745907.0,42.893956,11.526710,1706336.73,4752152.02,566.0,2.0
511,TOS03002901,0,Castel del Piano,Castel del Piano,GR,NaN,pluviometro,mm,745927.0,42.893956,11.526710,1706336.73,4752152.02,566.0,2.0
512,TOS03002901,1,Castel del Piano1,Castel del Piano,GR,NaN,termometro,�C,745913.0,42.893956,11.526710,1706336.73,4752152.02,566.0,NaN
513,TOS03002901,1,Castel del Piano1,Castel del Piano,GR,NaN,termometro,�C,745933.0,42.893956,11.526710,1706336.73,4752152.02,566.0,NaN
1331,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,anemometro,deg,750405.0,42.950614,11.439461,1699029.90,4758233.82,193.0,NaN
1332,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,anemometro,m/s,750406.0,42.950614,11.439461,1699029.90,4758233.82,193.0,NaN
1333,TOS11000051,3,Montenero3,Castel del Piano,GR,NaN,anemometro,m/s,750443.0,42.950614,11.439461,1699029.90,4758233.82,193.0,NaN
1334,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,igrometro,%,750402.0,42.950614,11.439461,1699029.90,4758233.82,193.0,NaN
1335,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,pluviometro,mm,750407.0,42.950614,11.439461,1699029.90,4758233.82,193.0,NaN
1336,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,radiometro solare,W/mq,750404.0,42.950614,11.439461,1699029.90,4758233.82,193.0,NaN
1337,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,termometro,�C,750401.0,42.950614,11.439461,1699029.90,4758233.82,193.0,NaN
2254,TOS11000053,0,Seggiano,Castel del Piano,GR,NaN,igrometro,%,505331.0,42.906039,11.549029,1708118.45,4753548.83,539.0,NaN
2255,TOS11000053,0,Seggiano,Castel del Piano,GR,NaN,pluviometro,mm,505301.0,42.906039,11.549029,1708118.45,4753548.83,539.0,NaN
2256,TOS11000053,0,Seggiano,Castel del Piano,GR,NaN,termometro,�C,505321.0,42.906039,11.549029,1708118.45,4753548.83,539.0,NaN

In [106]:
choose(510)

In [107]:
move_on('Cavallina')

In [108]:
query('Cavallina')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
567,TOS01000911,0,Cavallina,Barberino di Mugello,FI,NaN,pluviometro,mm,737957.0,43.983567,11.23742,1679464.29,4872497.11,256.0,2.0

In [109]:
choose(567)

In [110]:
move_on('CoS')

In [111]:
query('CoS')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
698,TOS29000054,0,Costanza,Vecchiano,PI,NaN,freatimetro,m,765929.0,43.805195,10.323619,1606496.90,4851103.82,-0.38,NaN
699,TOS29000054,0,Costanza,Vecchiano,PI,NaN,qualita,microS/cm,765935.0,43.805195,10.323619,1606496.90,4851103.82,-0.38,NaN
700,TOS29000054,0,Costanza,Vecchiano,PI,NaN,termometro acqua,�C,765933.0,43.805195,10.323619,1606496.90,4851103.82,-0.38,NaN
2064,TOS01002401,0,S. Costanza,Massa Marittima,GR,NaN,pluviometro,mm,33065.0,43.114987,10.903151,1654864.92,4775357.77,600.00,NaN

In [112]:
move_on('Consuma')

In [113]:
query('Consuma')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
679,TOS01001041,0,Consuma,Rufina,FI,NaN,igrometro,%,738002.0,43.784466,11.585201,1708048.04,4851198.64,955.0,NaN
680,TOS01001041,0,Consuma,Rufina,FI,NaN,pluviometro,mm,738007.0,43.784466,11.585201,1708048.04,4851198.64,955.0,2.3
681,TOS01001041,0,Consuma,Rufina,FI,NaN,termometro,�C,738001.0,43.784466,11.585201,1708048.04,4851198.64,955.0,3.0

In [114]:
choose(680)

In [115]:
move_on('Croce_Arcana')

In [116]:
query('Arcana')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
701,TOS02000372,0,Croce Arcana,Abetone Cutigliano,PT,NaN,anemometro,deg,733555.0,44.129883,10.781536,1642551.71,4887857.66,1716.0,6.0
702,TOS02000372,0,Croce Arcana,Abetone Cutigliano,PT,NaN,anemometro,m/s,733556.0,44.129883,10.781536,1642551.71,4887857.66,1716.0,6.0
703,TOS02000372,0,Croce Arcana,Abetone Cutigliano,PT,NaN,anemometro,m/s,733593.0,44.129883,10.781536,1642551.71,4887857.66,1716.0,6.0
704,TOS02000372,0,Croce Arcana,Abetone Cutigliano,PT,NaN,pluviometro,mm,733557.0,44.129883,10.781536,1642551.71,4887857.66,1716.0,2.0

In [117]:
choose(704)

In [118]:
move_on('DIEC')

In [119]:
query('DIEC')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
742,TOS29000028,0,Diecimo,Borgo a Mozzano,LU,NaN,freatimetro,m,765029.0,43.95575,10.50532,1620807.78,4868075.31,65.0,NaN
743,TOS29000028,1,Diecimo1,Borgo a Mozzano,LU,NaN,qualita,microS/cm,765035.0,43.95575,10.50532,1620807.78,4868075.31,65.0,NaN
744,TOS29000028,0,Diecimo,Borgo a Mozzano,LU,NaN,termometro acqua,�C,765033.0,43.95575,10.50532,1620807.78,4868075.31,65.0,NaN

In [120]:
# MAYBE 742, but in keeping with the other code-like
# names, we'll just move on
move_on('David_Lazzaretti')

In [121]:
query('David')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
730,TOS29000055,0,David Lazzaretti,S.Fiora,GR,NaN,freatimetro,m,747109.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN
731,TOS29000055,1,David Lazzaretti1,S.Fiora,GR,NaN,qualita,microS/cm,747115.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN
732,TOS29000055,0,David Lazzaretti,S.Fiora,GR,NaN,termometro acqua,�C,747113.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN

In [122]:
choose(730)

In [123]:
move_on('Ermicciolo')

In [124]:
query('Ermicciolo')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [125]:
query('Ermi')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [126]:
query('cciolo')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1883,TOS03005351,0,Porticciolo del Chioma,Livorno,LI,Chioma,idrometro,m,759179.0,43.449534,10.38039,1611720.11,4811677.94,NaN,NaN

In [127]:
query('ciolo')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1883,TOS03005351,0,Porticciolo del Chioma,Livorno,LI,Chioma,idrometro,m,759179.0,43.449534,10.38039,1611720.11,4811677.94,NaN,NaN

In [128]:
move_on('Fabbriche_di_Vallico')

In [129]:
query('Fabbriche')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
772,TOS02000332,0,Fabbriche di Vallico,Fabbriche di Vergemoli,LU,NaN,pluviometro,mm,734307.0,43.999596,10.432135,1614851.27,4872840.69,345.0,2.0
773,TOS02000332,0,Fabbriche di Vallico,Fabbriche di Vergemoli,LU,NaN,pluviometro,mm,734327.0,43.999596,10.432135,1614851.27,4872840.69,345.0,2.0
852,TOS02000281,0,Fornovolasco,Fabbriche di Vergemoli,LU,NaN,pluviometro,mm,731107.0,44.028957,10.360547,1609057.87,4876004.70,493.0,2.0

In [130]:
choose(772)

In [131]:
move_on('Firenze')

In [132]:
query('Firenze')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
781,TOS11000111,0,Firenze Citta',Firenze,FI,NaN,anemometro,deg,511161.0,43.771512,11.264566,1682286.90,4849003.82,48.00,NaN
782,TOS11000111,0,Firenze Citta',Firenze,FI,NaN,anemometro,m/s,511151.0,43.771512,11.264566,1682286.90,4849003.82,48.00,NaN
783,TOS11000111,3,Firenze Citta'3,Firenze,FI,NaN,anemometro,m/s,511155.0,43.771512,11.264566,1682286.90,4849003.82,48.00,NaN
784,TOS11000111,0,Firenze Citta',Firenze,FI,NaN,igrometro,%,511131.0,43.771512,11.264566,1682286.90,4849003.82,48.00,NaN
785,TOS11000111,0,Firenze Citta',Firenze,FI,NaN,pluviometro,mm,511101.0,43.771512,11.264566,1682286.90,4849003.82,48.00,NaN
786,TOS11000111,0,Firenze Citta',Firenze,FI,NaN,termometro,�C,511121.0,43.771512,11.264566,1682286.90,4849003.82,48.00,NaN
787,TOS01001095,0,Firenze Genio Civile,Firenze,FI,NaN,igrometro,%,740352.0,43.779197,11.258056,1681739.68,4849843.05,50.00,NaN
788,TOS01001095,0,Firenze Genio Civile,Firenze,FI,NaN,pluviometro,mm,740357.0,43.779197,11.258056,1681739.68,4849843.05,50.00,2.0
789,TOS01001095,0,Firenze Genio Civile,Firenze,FI,NaN,termometro,�C,740351.0,43.779197,11.258056,1681739.68,4849843.05,50.00,NaN
790,TOS01004679,0,Firenze Uffizi,Firenze,FI,Arno,idrometro,m,738209.0,43.767638,11.254925,1681522.62,4848552.41,43.78,NaN
791,TOS01004679,0,Firenze Uffizi,Firenze,FI,Arno,idrometro,m,738229.0,43.767638,11.254925,1681522.62,4848552.41,43.78,NaN
792,TOS15004682,0,Firenze Uffizi 2,Firenze,FI,Arno,idrometro,m,738212.0,43.767631,11.254925,1681522.64,4848551.55,40.58,NaN
793,TOS15004682,0,Firenze Uffizi 2,Firenze,FI,Arno,idrometro,m,738232.0,43.767631,11.254925,1681522.64,4848551.55,40.58,NaN
794,TOS01004683,0,Firenze Uffizi 3,Firenze,FI,Arno,idrometro,m,738246.0,43.767635,11.254919,1681522.20,4848551.97,43.25,NaN
795,TOS01004683,0,Firenze Uffizi 3,Firenze,FI,Arno,idrometro,m,738247.0,43.767635,11.254919,1681522.20,4848551.97,43.25,NaN
796,TOS01001096,0,Firenze Università,Firenze,FI,NaN,anemometro,deg,739905.0,43.798788,11.251140,1681123.90,4852003.85,84.00,10.0
797,TOS01001096,0,Firenze Università,Firenze,FI,NaN,anemometro,m/s,739906.0,43.798788,11.251140,1681123.90,4852003.85,84.00,10.0
798,TOS01001096,0,Firenze Università,Firenze,FI,NaN,anemometro,deg,739925.0,43.798788,11.251140,1681123.90,4852003.85,84.00,10.0
799,TOS01001096,0,Firenze Università,Firenze,FI,NaN,anemometro,m/s,739926.0,43.798788,11.251140,1681123.90,4852003.85,84.00,10.0
800,TOS01001096,0,Firenze Università,Firenze,FI,NaN,anemometro,m/s,739943.0,43.798788,11.251140,1681123.90,4852003.85,84.00,10.0
801,TOS01001096,0,Firenze Università,Firenze,FI,NaN,igrometro,%,739902.0,43.798788,11.251140,1681123.90,4852003.85,84.00,9.0
802,TOS01001096,0,Firenze Università,Firenze,FI,NaN,pluviometro,mm,739907.0,43.798788,11.251140,1681123.90,4852003.85,84.00,2.0
803,TOS01001096,0,Firenze Università,Firenze,FI,NaN,pluviometro,mm,739927.0,43.798788,11.251140,1681123.90,4852003.85,84.00,2.0
804,TOS01001096,0,Firenze Università,Firenze,FI,NaN,radiometro diretta,W/mq,739904.0,43.798788,11.251140,1681123.90,4852003.85,84.00,8.0
805,TOS01001096,0,Firenze Università,Firenze,FI,NaN,termometro,�C,739901.0,43.798788,11.251140,1681123.90,4852003.85,84.00,9.0
806,TOS01001096,0,Firenze Università,Firenze,FI,NaN,termometro,�C,739921.0,43.798788,11.251140,1681123.90,4852003.85,84.00,9.0
1435,TOS19000644,0,Novoli,Firenze,FI,NaN,freatimetro,m,763129.0,43.793000,11.225800,1679102.66,4851305.82,44.00,0.0
1436,TOS19000644,0,Novoli,Firenze,FI,NaN,qualita,microS/cm,763135.0,43.793000,11.225800,1679102.66,4851305.82,44.00,0.0
1437,TOS19000644,0,Novoli,Firenze,FI,NaN,termometro acqua,�C,763133.0,43.793000,11.225800,1679102.66,4851305.82,44.00,0.0
1499,TOS19000696,0,Palazzo Strozzi,Firenze,FI,NaN,freatimetro,m,764029.0,43.774288,11.252786,1681330.40,4849286.34,49.85,0.0
1500,TOS19000696,0,Palazzo Strozzi,Firenze,FI,NaN,qualita,microS/cm,764035.0,43.774288,11.252786,1681330.40,4849286.34,49.85,0.0
1501,TOS19000696,0,Palazzo Strozzi,Firenze,FI,NaN,termometro acqua,�C,764033.0,43.774288,11.252786,1681330.40,4849286.34,49.85,0.0
1781,TOS01004702,0,Ponte alle Mosse,Firenze,FI,Mugnone,idrometro,m,737559.0,43.786860,11.226718,1679194.86,4850625.83,NaN,NaN
2517,TOS19000630,0,Via Paisiello,Firenze,FI,NaN,freatimetro,m,762729.0,43.782000,11.230000,1679473.49,4850093.18,62.00,0.0
2518,TOS19000630,0,Via Paisiello,Firenze,FI,NaN,qualita,microS/cm,762735.0,43.782000,11.230000,1679473.49,4850093.18,62.00,0.0
2519,TOS19000630,0,Via Paisiello,Firenze,FI,NaN,termometro acqua,�C,762733.0,43.782000,11.230000,1679473.49,4850093.18,62.00,0.0

In [133]:
query('Firenze', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
786,TOS11000111,0,Firenze Citta',Firenze,FI,NaN,termometro,�C,511121.0,43.771512,11.264566,1682286.90,4849003.82,48.0,NaN
789,TOS01001095,0,Firenze Genio Civile,Firenze,FI,NaN,termometro,�C,740351.0,43.779197,11.258056,1681739.68,4849843.05,50.0,NaN
805,TOS01001096,0,Firenze Università,Firenze,FI,NaN,termometro,�C,739901.0,43.798788,11.251140,1681123.90,4852003.85,84.0,9.0
806,TOS01001096,0,Firenze Università,Firenze,FI,NaN,termometro,�C,739921.0,43.798788,11.251140,1681123.90,4852003.85,84.0,9.0

In [134]:
choose(789, 'All within 3km of each other; temperature shouldn\'t vary much at that distance, right? split the distance difference')

In [135]:
move_on('Fiume_Chiascio_Petrignano')

In [136]:
query('Fiume')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [137]:
query('Chiascio')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [138]:
move_on('Galleria_Alta')

In [139]:
query('Galleria')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [140]:
query('Alta')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
455,TOS29000033,0,Casalta 4,Lucignano,AR,NaN,freatimetro,m,603392.0,43.24,11.744166,1722835.19,4791139.4,262.0,NaN
456,TOS29000033,1,Casalta 41,Lucignano,AR,NaN,qualita,microS/cm,603380.0,43.24,11.744166,1722835.19,4791139.4,262.0,NaN
457,TOS29000033,0,Casalta 4,Lucignano,AR,NaN,termometro acqua,�C,603324.0,43.24,11.744166,1722835.19,4791139.4,262.0,NaN

In [141]:
query('Galeria')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [142]:
query('Gal')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
383,TOS01001151,0,Cantagallo,Cantagallo,PO,NaN,pluviometro,mm,736357.0,44.021610,11.079484,1666691.43,4876391.04,555.00,2.0
384,TOS01001151,0,Cantagallo,Cantagallo,PO,NaN,pluviometro,mm,736377.0,44.021610,11.079484,1666691.43,4876391.04,555.00,2.0
878,TOS11000501,0,Galceti,Montemurlo,PO,NaN,anemometro,deg,550161.0,43.909982,11.084181,1667381.17,4864002.03,93.00,NaN
879,TOS11000501,0,Galceti,Montemurlo,PO,NaN,anemometro,m/s,550151.0,43.909982,11.084181,1667381.17,4864002.03,93.00,NaN
880,TOS11000501,0,Galceti,Montemurlo,PO,NaN,anemometro,m/s,550155.0,43.909982,11.084181,1667381.17,4864002.03,93.00,NaN
881,TOS11000501,0,Galceti,Montemurlo,PO,NaN,barometro,mB,550171.0,43.909982,11.084181,1667381.17,4864002.03,93.00,NaN
882,TOS11000501,0,Galceti,Montemurlo,PO,NaN,igrometro,%,550131.0,43.909982,11.084181,1667381.17,4864002.03,93.00,NaN
883,TOS11000501,0,Galceti,Montemurlo,PO,NaN,pluviometro,mm,550101.0,43.909982,11.084181,1667381.17,4864002.03,93.00,NaN
884,TOS11000501,0,Galceti,Montemurlo,PO,NaN,radiometro solare,W/mq,550119.0,43.909982,11.084181,1667381.17,4864002.03,93.00,NaN
885,TOS11000501,0,Galceti,Montemurlo,PO,NaN,termometro,�C,550121.0,43.909982,11.084181,1667381.17,4864002.03,93.00,NaN
886,TOS02000078,0,Gallena,Stazzema,LU,NaN,pluviometro,mm,732557.0,43.992061,10.251792,1600404.91,4871768.55,345.00,2.0
887,TOS02000299,0,Gallicano,Gallicano,LU,NaN,pluviometro,mm,732307.0,44.064125,10.442982,1615595.43,4880023.10,179.00,2.0
888,TOS03002845,0,Gallina,Castiglione d'Orcia,SI,NaN,pluviometro,mm,22280.0,42.967438,11.691826,1719557.90,4760730.82,406.85,2.0
899,TOS01001161,0,Gavigno,Cantagallo,PO,NaN,pluviometro,mm,737307.0,44.071165,11.093498,1667674.80,4881923.58,752.00,2.0

In [143]:
move_on('Gallicano')

In [144]:
query('Gallicano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
887,TOS02000299,0,Gallicano,Gallicano,LU,NaN,pluviometro,mm,732307.0,44.064125,10.442982,1615595.43,4880023.1,179.0,2.0

In [145]:
choose(887)

In [146]:
move_on('Incisa')

In [147]:
query('Incisa')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
983,TOS01000891,0,Il Palagio,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,738257.0,43.612661,11.427217,1695894.31,4831731.81,315.00,2.0
997,TOS01004589,0,Incisa Monte,Figline e Incisa Valdarno,FI,Arno,idrometro,m,11259.0,43.688196,11.456561,1698013.90,4840190.82,NaN,NaN
998,TOS01004591,0,Incisa Valle,Figline e Incisa Valdarno,FI,Arno,idrometro,m,739159.0,43.689849,11.456191,1697978.63,4840373.59,108.42,NaN
999,TOS01004591,0,Incisa Valle,Figline e Incisa Valdarno,FI,Arno,idrometro,m,739179.0,43.689849,11.456191,1697978.63,4840373.59,108.42,NaN
1000,TOS01004591,0,Incisa Valle,Figline e Incisa Valdarno,FI,Arno,pluviometro,mm,739157.0,43.689849,11.456191,1697978.63,4840373.59,108.42,2.0
1001,TOS01004591,0,Incisa Valle,Figline e Incisa Valdarno,FI,Arno,pluviometro,mm,739177.0,43.689849,11.456191,1697978.63,4840373.59,108.42,2.0
1002,TOS29000006,0,IP Figline,Figline e Incisa Valdarno,FI,NaN,freatimetro,m,764279.0,43.624780,11.466920,1699058.25,4833172.25,120.00,NaN
1003,TOS29000006,1,IP Figline1,Figline e Incisa Valdarno,FI,NaN,qualita,microS/cm,764285.0,43.624780,11.466920,1699058.25,4833172.25,120.00,NaN
1004,TOS29000006,0,IP Figline,Figline e Incisa Valdarno,FI,NaN,termometro acqua,�C,764283.0,43.624780,11.466920,1699058.25,4833172.25,120.00,NaN
1739,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,anemometro,deg,740855.0,43.650094,11.392472,1692970.61,4835807.90,500.00,10.0
1740,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,anemometro,m/s,740856.0,43.650094,11.392472,1692970.61,4835807.90,500.00,10.0
1741,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,anemometro,m/s,740893.0,43.650094,11.392472,1692970.61,4835807.90,500.00,10.0
1742,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,igrometro,%,740852.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0
1743,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740857.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0
1744,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740877.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0
1745,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,termometro,�C,740851.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0
1746,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,termometro,�C,740871.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0

In [148]:
query('Incisa', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
983,TOS01000891,0,Il Palagio,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,738257.0,43.612661,11.427217,1695894.31,4831731.81,315.00,2.0
1000,TOS01004591,0,Incisa Valle,Figline e Incisa Valdarno,FI,Arno,pluviometro,mm,739157.0,43.689849,11.456191,1697978.63,4840373.59,108.42,2.0
1001,TOS01004591,0,Incisa Valle,Figline e Incisa Valdarno,FI,Arno,pluviometro,mm,739177.0,43.689849,11.456191,1697978.63,4840373.59,108.42,2.0
1743,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740857.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0
1744,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740877.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0

In [149]:
choose(1000, '"Incisa Valle" seems the most representative')

In [150]:
move_on('LT2')

In [151]:
query('LT2')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [152]:
query('LT')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
455,TOS29000033,0,Casalta 4,Lucignano,AR,NaN,freatimetro,m,603392.0,43.240000,11.744166,1722835.19,4791139.40,262.00,NaN
456,TOS29000033,1,Casalta 41,Lucignano,AR,NaN,qualita,microS/cm,603380.0,43.240000,11.744166,1722835.19,4791139.40,262.00,NaN
457,TOS29000033,0,Casalta 4,Lucignano,AR,NaN,termometro acqua,�C,603324.0,43.240000,11.744166,1722835.19,4791139.40,262.00,NaN
670,TOS01001831,0,Coltano,Pisa,PI,NaN,pluviometro,mm,735357.0,43.637960,10.390911,1612221.36,4832618.77,5.00,2.0
671,TOS01001831,0,Coltano,Pisa,PI,NaN,termometro,�C,735351.0,43.637960,10.390911,1612221.36,4832618.77,5.00,NaN
672,TOS29000056,0,Coltano,Pisa,PI,NaN,freatimetro,m,760729.0,43.658056,10.375556,1610945.77,4834830.03,NaN,NaN
673,TOS29000056,1,Coltano1,Pisa,PI,NaN,qualita,microS/cm,760735.0,43.658056,10.375556,1610945.77,4834830.03,NaN,NaN
674,TOS29000056,0,Coltano,Pisa,PI,NaN,termometro acqua,�C,760733.0,43.658056,10.375556,1610945.77,4834830.03,NaN,NaN
1028,TOS01001679,0,La Madonnina,Volterra,PI,NaN,anemometro,deg,742905.0,43.441854,10.952876,1658062.01,4811751.92,607.00,NaN
1029,TOS01001679,0,La Madonnina,Volterra,PI,NaN,anemometro,m/s,742906.0,43.441854,10.952876,1658062.01,4811751.92,607.00,NaN
1030,TOS01001679,0,La Madonnina,Volterra,PI,NaN,anemometro,m/s,742943.0,43.441854,10.952876,1658062.01,4811751.92,607.00,NaN
1031,TOS01001679,0,La Madonnina,Volterra,PI,NaN,pluviometro,mm,742907.0,43.441854,10.952876,1658062.01,4811751.92,607.00,2.0
1032,TOS01001679,0,La Madonnina,Volterra,PI,NaN,termometro,�C,742901.0,43.441854,10.952876,1658062.01,4811751.92,607.00,NaN
1204,TOS01005115,0,Molino d'Era,Volterra,PI,Era,idrometro,m,735559.0,43.455635,10.830127,1648094.96,4813056.81,100.32,NaN
1205,TOS01005115,0,Molino d'Era,Volterra,PI,Era,idrometro,m,735579.0,43.455635,10.830127,1648094.96,4813056.81,100.32,NaN
1206,TOS01005115,0,Molino d'Era,Volterra,PI,Era,pluviometro,mm,735557.0,43.455635,10.830127,1648094.96,4813056.81,100.32,2.0
1207,TOS01005115,0,Molino d'Era,Volterra,PI,Era,pluviometro,mm,735577.0,43.455635,10.830127,1648094.96,4813056.81,100.32,2.0
1764,TOS01002115,0,Ponsano,Volterra,PI,NaN,igrometro,%,743552.0,43.365308,10.990347,1661297.34,4803322.50,340.00,NaN
1765,TOS01002115,9,Ponsano9,Volterra,PI,NaN,igrometro,%,932806.0,43.365308,10.990347,1661297.34,4803322.50,340.00,NaN
1766,TOS01002115,0,Ponsano,Volterra,PI,NaN,pluviometro,mm,743557.0,43.365308,10.990347,1661297.34,4803322.50,340.00,NaN
1767,TOS01002115,9,Ponsano9,Volterra,PI,NaN,pluviometro,mm,932804.0,43.365308,10.990347,1661297.34,4803322.50,340.00,NaN
1768,TOS01002115,0,Ponsano,Volterra,PI,NaN,termometro,�C,743551.0,43.365308,10.990347,1661297.34,4803322.50,340.00,NaN
1769,TOS01002115,9,Ponsano9,Volterra,PI,NaN,termometro,�C,932805.0,43.365308,10.990347,1661297.34,4803322.50,340.00,NaN
1847,TOS19000605,0,Ponte Zambra,Volterra,PI,NaN,freatimetro,m,760979.0,43.337718,10.848602,1649880.14,4799994.14,83.13,0.0
1848,TOS19000605,0,Ponte Zambra,Volterra,PI,NaN,qualita,microS/cm,760985.0,43.337718,10.848602,1649880.14,4799994.14,83.13,0.0
1849,TOS19000605,0,Ponte Zambra,Volterra,PI,NaN,termometro acqua,�C,760983.0,43.337718,10.848602,1649880.14,4799994.14,83.13,0.0
2552,TOS01001664,0,Volterra,Volterra,PI,NaN,igrometro,%,735702.0,43.409046,10.862249,1650809.50,4807940.30,462.00,NaN
2553,TOS01001664,1,Volterra1,Volterra,PI,NaN,igrometro,%,735736.0,43.409046,10.862249,1650809.50,4807940.30,462.00,NaN
2554,TOS01001664,0,Volterra,Volterra,PI,NaN,pluviometro,mm,735707.0,43.409046,10.862249,1650809.50,4807940.30,462.00,2.0
2555,TOS01001664,0,Volterra,Volterra,PI,NaN,pluviometro,mm,735727.0,43.409046,10.862249,1650809.50,4807940.30,462.00,NaN
2556,TOS01001664,0,Volterra,Volterra,PI,NaN,termometro,�C,735701.0,43.409046,10.862249,1650809.50,4807940.30,462.00,NaN
2557,TOS01001664,0,Volterra,Volterra,PI,NaN,termometro,�C,735721.0,43.409046,10.862249,1650809.50,4807940.30,462.00,NaN
2558,TOS01001664,1,Volterra1,Volterra,PI,NaN,termometro,�C,735713.0,43.409046,10.862249,1650809.50,4807940.30,462.00,NaN
2559,TOS01001664,1,Volterra1,Volterra,PI,NaN,termometro,�C,735733.0,43.409046,10.862249,1650809.50,4807940.30,462.00,NaN
2560,TOS11000047,0,Volterra Le Balze,Volterra,PI,NaN,anemometro,deg,504761.0,43.423646,10.839690,1648947.17,4809521.17,283.00,3.0
2561,TOS11000047,0,Volterra Le Balze,Volterra,PI,NaN,anemometro,m/s,504751.0,43.423646,10.839690,1648947.17,4809521.17,283.00,3.0
2562,TOS11000047,3,Volterra Le Balze3,Volterra,PI,NaN,anemometro,m/s,504755.0,43.423646,10.839690,1648947.17,4809521.17,283.00,3.0
2563,TOS11000047,0,Volterra Le Balze,Volterra,PI,NaN,igrometro,%,504731.0,43.423646,10.839690,1648947.17,4809521.17,283.00,NaN
2564,TOS11000047,0,Volterra Le Balze,Volterra,PI,NaN,pluviometro,mm,504701.0,43.423646,10.839690,1648947.17,4809521.17,283.00,NaN
2565,TOS11000047,0,Volterra Le Balze,Volterra,PI,NaN,radiometro solare,W/mq,504719.0,43.423646,10.839690,1648947.17,4809521.17,283.00,NaN
2566,TOS11000047,0,Volterra Le Balze,Volterra,PI,NaN,termometro,�C,504721.0,43.423646,10.839690,1648947.17,4809521.17,283.00,NaN

In [153]:
move_on('Laghetto_Verde')

In [154]:
query('Laghetto')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
3,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,deg,751055.0,42.883103,11.661623,1717391.08,4751286.43,910.0,10.0
4,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,m/s,751056.0,42.883103,11.661623,1717391.08,4751286.43,910.0,10.0
5,TOS11000114,3,Abbadia S. S. - Laghetto Verde3,Abbadia S.S.,SI,NaN,anemometro,m/s,751093.0,42.883103,11.661623,1717391.08,4751286.43,910.0,10.0
6,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,igrometro,%,751052.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
7,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,nivometro,m,751094.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
8,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,pluviometro,mm,751057.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
9,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,radiometro solare,W/mq,751054.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0
10,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,termometro,�C,751051.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0

In [155]:
query('Laghetto', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
8,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,pluviometro,mm,751057.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0

In [156]:
query('Laghetto', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
10,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,termometro,�C,751051.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0

In [157]:
choose(8)

In [158]:
move_on('Laterina')

In [159]:
query('Laterina')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1059,TOS01000799,0,Laterina,Laterina Pergine Valdarno,AR,NaN,pluviometro,mm,11115.0,43.508954,11.716307,1719599.90,4820936.35,210.0,2.0
1060,TOS01004557,0,Laterina,Laterina Pergine Valdarno,AR,Oreno,idrometro,m,754209.0,43.510398,11.709367,1719033.63,4821078.38,NaN,NaN
1820,TOS01004561,0,Ponte Romito,Laterina Pergine Valdarno,AR,Arno,idrometro,m,754259.0,43.502515,11.675731,1716342.82,4820114.82,NaN,NaN

In [160]:
choose(1059)

In [161]:
move_on('Le_Croci')

In [162]:
query('Croci')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1061,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,anemometro,deg,739955.0,44.007030,11.271254,1682105.88,4875177.41,388.0,10.0
1062,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,anemometro,m/s,739956.0,44.007030,11.271254,1682105.88,4875177.41,388.0,10.0
1063,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,anemometro,m/s,739993.0,44.007030,11.271254,1682105.88,4875177.41,388.0,10.0
1064,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,barometro,mB,739953.0,44.007030,11.271254,1682105.88,4875177.41,388.0,2.0
1065,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,evaporimetro,mm,739998.0,44.007030,11.271254,1682105.88,4875177.41,388.0,0.0
1066,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,igrometro,%,739952.0,44.007030,11.271254,1682105.88,4875177.41,388.0,2.0
1067,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,pluviometro,mm,739957.0,44.007030,11.271254,1682105.88,4875177.41,388.0,2.0
1068,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,termometro,�C,739951.0,44.007030,11.271254,1682105.88,4875177.41,388.0,2.0
1069,TOS01001189,0,Le Croci di Calenzano,Calenzano,FI,NaN,pluviometro,mm,737407.0,43.944755,11.213740,1677680.87,4868135.03,421.0,2.0
1070,TOS01001189,0,Le Croci di Calenzano,Calenzano,FI,NaN,pluviometro,mm,737427.0,43.944755,11.213740,1677680.87,4868135.03,421.0,2.0

In [163]:
query('Le Croci', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1067,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,pluviometro,mm,739957.0,44.007030,11.271254,1682105.88,4875177.41,388.0,2.0
1069,TOS01001189,0,Le Croci di Calenzano,Calenzano,FI,NaN,pluviometro,mm,737407.0,43.944755,11.213740,1677680.87,4868135.03,421.0,2.0
1070,TOS01001189,0,Le Croci di Calenzano,Calenzano,FI,NaN,pluviometro,mm,737427.0,43.944755,11.213740,1677680.87,4868135.03,421.0,2.0

In [164]:
query('Le Croci', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1068,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,termometro,�C,739951.0,44.00703,11.271254,1682105.88,4875177.41,388.0,2.0

In [165]:
choose(1067)

In [166]:
move_on('Lucca_Orto_Botanico')

In [167]:
query('Botanico')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1111,TOS02000512,0,Lucca (Orto Botanico),Lucca,LU,NaN,pluviometro,mm,730157.0,43.841864,10.51086,1621483.64,4855434.45,16.0,2.0
1112,TOS02000512,0,Lucca (Orto Botanico),Lucca,LU,NaN,pluviometro,mm,730177.0,43.841864,10.51086,1621483.64,4855434.45,16.0,2.0
1113,TOS02000512,0,Lucca (Orto Botanico),Lucca,LU,NaN,termometro,�C,730151.0,43.841864,10.51086,1621483.64,4855434.45,16.0,NaN
1114,TOS02000512,0,Lucca (Orto Botanico),Lucca,LU,NaN,termometro,�C,730171.0,43.841864,10.51086,1621483.64,4855434.45,16.0,NaN

In [168]:
choose(1113)

In [169]:
move_on('Lupa')

In [170]:
query('Lupa')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [171]:
move_on('Madonna_di_Canneto')

In [172]:
query('Madonna')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1118,TOS03002643,0,Madonna a Brolio,Castelnuovo Berardenga,SI,NaN,pluviometro,mm,744457.0,43.414467,11.455717,1698844.15,4809787.27,440.0,2.0
1119,TOS03002643,0,Madonna a Brolio,Castelnuovo Berardenga,SI,NaN,pluviometro,mm,744477.0,43.414467,11.455717,1698844.15,4809787.27,440.0,2.0

In [173]:
query('Canneto')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
374,TOS01002171,0,Canneto,Monteverdi Marittimo,PI,NaN,igrometro,%,742702.0,43.202337,10.739307,1641333.31,4784768.67,300.0,NaN
375,TOS01002171,9,Canneto9,Monteverdi Marittimo,PI,NaN,igrometro,%,932763.0,43.202337,10.739307,1641333.31,4784768.67,300.0,NaN
376,TOS01002171,0,Canneto,Monteverdi Marittimo,PI,NaN,pluviometro,mm,742707.0,43.202337,10.739307,1641333.31,4784768.67,300.0,NaN
377,TOS01002171,9,Canneto9,Monteverdi Marittimo,PI,NaN,pluviometro,mm,742727.0,43.202337,10.739307,1641333.31,4784768.67,300.0,NaN
378,TOS01002171,0,Canneto,Monteverdi Marittimo,PI,NaN,termometro,�C,742701.0,43.202337,10.739307,1641333.31,4784768.67,300.0,NaN
379,TOS01002171,9,Canneto9,Monteverdi Marittimo,PI,NaN,termometro,�C,742721.0,43.202337,10.739307,1641333.31,4784768.67,300.0,NaN

In [174]:
# none of these 'strumento' seem to be flow rate...?
move_on('Mangona')

In [175]:
query('Mangona')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1147,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,igrometro,%,738302.0,44.050061,11.195636,1675916.49,4879792.65,540.0,NaN
1148,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,pluviometro,mm,738307.0,44.050061,11.195636,1675916.49,4879792.65,540.0,2.0
1149,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,pluviometro,mm,738327.0,44.050061,11.195636,1675916.49,4879792.65,540.0,NaN
1150,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,termometro,�C,738301.0,44.050061,11.195636,1675916.49,4879792.65,540.0,NaN
1151,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,termometro,�C,738321.0,44.050061,11.195636,1675916.49,4879792.65,540.0,NaN

In [176]:
choose(1148)

In [177]:
move_on('Mensano')

In [178]:
query('Mensano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1183,TOS03001385,0,Mensano,Casole d'Elsa,SI,NaN,igrometro,%,748252.0,43.291376,11.071148,1668048.11,4795271.08,365.0,NaN
1184,TOS03001385,0,Mensano,Casole d'Elsa,SI,NaN,pluviometro,mm,748257.0,43.291376,11.071148,1668048.11,4795271.08,365.0,NaN
1185,TOS03001385,0,Mensano,Casole d'Elsa,SI,NaN,pluviometro,mm,748277.0,43.291376,11.071148,1668048.11,4795271.08,365.0,NaN
1186,TOS03001385,0,Mensano,Casole d'Elsa,SI,NaN,termometro,�C,748251.0,43.291376,11.071148,1668048.11,4795271.08,365.0,NaN
1187,TOS03001385,0,Mensano,Casole d'Elsa,SI,NaN,termometro,�C,748271.0,43.291376,11.071148,1668048.11,4795271.08,365.0,NaN

In [179]:
choose(1184)

In [180]:
move_on('Montalcinello')

In [181]:
query('Montalcinello')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1219,TOS03002733,0,Montalcinello,Chiusdino,SI,NaN,pluviometro,mm,743957.0,43.203111,11.07662,1668735.54,4785479.63,380.0,2.0

In [182]:
choose(1219)

In [183]:
move_on('Monte_S_Quirico')

In [184]:
query('Quirico')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1268,TOS02004291,0,Monte S.Quirico,Lucca,LU,Serchio,idrometro,m,730209.0,43.857255,10.506863,1621131.17,4857137.92,25.0,NaN
1269,TOS02004291,0,Monte S.Quirico,Lucca,LU,Serchio,idrometro,m,730229.0,43.857255,10.506863,1621131.17,4857137.92,25.0,NaN

In [185]:
choose(1268)

In [186]:
move_on('Monte_Serra')

In [187]:
query('Monte Serra')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1273,TOS01001801,0,Monte Serra,Calci,PI,NaN,pluviometro,mm,16951.0,43.751788,10.55500,1625219.90,4845495.82,918.0,2.0
1274,TOS01001801,0,Monte Serra,Calci,PI,NaN,termometro,�C,16952.0,43.751788,10.55500,1625219.90,4845495.82,918.0,NaN
1275,TOS11000020,0,Monte Serra,Calci,PI,NaN,anemometro,deg,753205.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1276,TOS11000020,0,Monte Serra,Calci,PI,NaN,anemometro,m/s,753206.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1277,TOS11000020,3,Monte Serra3,Calci,PI,NaN,anemometro,m/s,753243.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1278,TOS11000020,0,Monte Serra,Calci,PI,NaN,barometro,mB,753203.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1279,TOS11000020,0,Monte Serra,Calci,PI,NaN,igrometro,%,753202.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1280,TOS11000020,0,Monte Serra,Calci,PI,NaN,pluviometro,mm,753207.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1281,TOS11000020,0,Monte Serra,Calci,PI,NaN,pluviometro,mm,753227.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1282,TOS11000020,0,Monte Serra,Calci,PI,NaN,radiometro solare,W/mq,753204.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1283,TOS11000020,0,Monte Serra,Calci,PI,NaN,termometro,�C,753201.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN

In [188]:
query('Monte Serra', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1273,TOS01001801,0,Monte Serra,Calci,PI,NaN,pluviometro,mm,16951.0,43.751788,10.55500,1625219.90,4845495.82,918.0,2.0
1280,TOS11000020,0,Monte Serra,Calci,PI,NaN,pluviometro,mm,753207.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN
1281,TOS11000020,0,Monte Serra,Calci,PI,NaN,pluviometro,mm,753227.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN

In [189]:
query('Monte Serra', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1274,TOS01001801,0,Monte Serra,Calci,PI,NaN,termometro,�C,16952.0,43.751788,10.55500,1625219.90,4845495.82,918.0,NaN
1283,TOS11000020,0,Monte Serra,Calci,PI,NaN,termometro,�C,753201.0,43.747072,10.55446,1625186.28,4844971.26,890.0,NaN

In [190]:
choose(1273, "Doesn't seem to be much of a difference; only 500m apart, on top of an aquifer")

In [191]:
move_on('Monteporzio')

In [192]:
query('Monteporzio')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [193]:
query('porzio')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [194]:
query('Monte')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
96,TOS11000079,0,Argentario,Monte Argentario,GR,NaN,anemometro,deg,753055.0,42.386774,11.169570,1678620.32,4695016.57,615.0,NaN
97,TOS11000079,0,Argentario,Monte Argentario,GR,NaN,anemometro,m/s,753056.0,42.386774,11.169570,1678620.32,4695016.57,615.0,NaN
98,TOS11000079,3,Argentario3,Monte Argentario,GR,NaN,anemometro,m/s,753093.0,42.386774,11.169570,1678620.32,4695016.57,615.0,NaN
99,TOS11000079,0,Argentario,Monte Argentario,GR,NaN,barometro,mB,753053.0,42.386774,11.169570,1678620.32,4695016.57,615.0,NaN
100,TOS11000079,0,Argentario,Monte Argentario,GR,NaN,igrometro,%,753052.0,42.386774,11.169570,1678620.32,4695016.57,615.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,TOS11000105,0,Stia Monte,Pratovecchio Stia,AR,NaN,termometro,�C,749851.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2441,TOS01004921,0,Turbone,Montelupo Fiorentino,FI,Pesa,idrometro,m,737059.0,43.718605,11.035911,1664028.36,4842649.71,45.0,NaN
2442,TOS01004921,0,Turbone,Montelupo Fiorentino,FI,Pesa,idrometro,m,737079.0,43.718605,11.035911,1664028.36,4842649.71,45.0,NaN
2443,TOS01004921,0,Turbone,Montelupo Fiorentino,FI,Pesa,pluviometro,mm,737057.0,43.718605,11.035911,1664028.36,4842649.71,45.0,2.0
2444,TOS01004921,0,Turbone,Montelupo Fiorentino,FI,Pesa,pluviometro,mm,737077.0,43.718605,11.035911,1664028.36,4842649.71,45.0,2.0

In [195]:
move_on('Monteroni_Arbia_Biena')

In [196]:
query('Arbia')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1357,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,anemometro,deg,749305.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1358,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,anemometro,m/s,749306.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1359,TOS11000082,3,Monteroni Arbia Biena3,Monteroni d'Arbia,SI,NaN,anemometro,m/s,749343.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1360,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,igrometro,%,749302.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1361,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,pluviometro,mm,749307.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1362,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,radiometro solare,W/mq,749304.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1363,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,termometro,�C,749301.0,43.243014,11.416887,1696251.90,4790653.72,165.00,NaN
1364,TOS03002689,0,Monteroni d'Arbia,Monteroni d'Arbia,SI,NaN,pluviometro,mm,22290.0,43.259111,11.425138,1696869.90,4792460.82,229.39,2.0
1717,TOS03005655,0,Podere Nuovo,Monteroni d'Arbia,SI,Arbia,idrometro,m,745309.0,43.200789,11.452689,1699296.28,4786048.93,156.00,NaN
1718,TOS03005655,0,Podere Nuovo,Monteroni d'Arbia,SI,Arbia,idrometro,m,745329.0,43.200789,11.452689,1699296.28,4786048.93,156.00,NaN
1957,TOS03005657,0,Radi,Monteroni d'Arbia,SI,Sorra,idrometro,m,752059.0,43.215033,11.386919,1693907.49,4787476.21,NaN,NaN

In [197]:
query('Arbia', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1361,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,pluviometro,mm,749307.0,43.243014,11.416887,1696251.9,4790653.72,165.00,NaN
1364,TOS03002689,0,Monteroni d'Arbia,Monteroni d'Arbia,SI,NaN,pluviometro,mm,22290.0,43.259111,11.425138,1696869.9,4792460.82,229.39,2.0

In [198]:
query('Arbia', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1363,TOS11000082,0,Monteroni Arbia Biena,Monteroni d'Arbia,SI,NaN,termometro,�C,749301.0,43.243014,11.416887,1696251.9,4790653.72,165.0,NaN

In [199]:
choose(1361)

In [200]:
move_on('Montevarchi')

In [201]:
query('Montevarchi')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1092,TOS29000010,0,Liceo scientifico Montevarchi,Montevarchi,AR,NaN,freatimetro,m,764479.0,43.624780,11.466920,1699058.25,4833172.25,141.0,NaN
1093,TOS29000010,1,Liceo scientifico Montevarchi1,Montevarchi,AR,NaN,qualita,microS/cm,764485.0,43.624780,11.466920,1699058.25,4833172.25,141.0,NaN
1094,TOS29000010,0,Liceo scientifico Montevarchi,Montevarchi,AR,NaN,termometro acqua,�C,764483.0,43.624780,11.466920,1699058.25,4833172.25,141.0,NaN
1386,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,anemometro,deg,744305.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN
1387,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,anemometro,m/s,744306.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN
1388,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,anemometro,m/s,744343.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN
1389,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,idrometro,m,744309.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN
1390,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,idrometro,m,744329.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN
1391,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,igrometro,%,744302.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN
1392,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,pluviometro,mm,744307.0,43.541212,11.566208,1707355.74,4824133.60,133.8,2.0
1393,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,pluviometro,mm,744327.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN
1394,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,termometro,�C,744301.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN
1395,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,termometro,�C,744321.0,43.541212,11.566208,1707355.74,4824133.60,133.8,NaN

In [202]:
query('Montevarchi', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1392,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,pluviometro,mm,744307.0,43.541212,11.566208,1707355.74,4824133.6,133.8,2.0
1393,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,pluviometro,mm,744327.0,43.541212,11.566208,1707355.74,4824133.6,133.8,NaN

In [203]:
choose(1392)

In [204]:
move_on('Monticiano_la_Pineta')

In [205]:
query('Pineta')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1400,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,anemometro,deg,747055.0,43.134374,11.242022,1682377.83,4778192.71,450.0,NaN
1401,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,anemometro,m/s,747056.0,43.134374,11.242022,1682377.83,4778192.71,450.0,2.0
1402,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,anemometro,m/s,747093.0,43.134374,11.242022,1682377.83,4778192.71,450.0,2.0
1403,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,igrometro,%,747052.0,43.134374,11.242022,1682377.83,4778192.71,450.0,NaN
1404,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,pluviometro,mm,747057.0,43.134374,11.242022,1682377.83,4778192.71,450.0,2.0
1405,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,pluviometro,mm,747077.0,43.134374,11.242022,1682377.83,4778192.71,450.0,2.0
1406,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,termometro,�C,747051.0,43.134374,11.242022,1682377.83,4778192.71,450.0,NaN
1407,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,termometro,�C,747071.0,43.134374,11.242022,1682377.83,4778192.71,450.0,2.0
2320,TOS03002819,0,Spineta,Sarteano,SI,NaN,pluviometro,mm,745257.0,42.951210,11.853004,1732764.48,4759362.51,633.0,2.0
2321,TOS03002819,0,Spineta,Sarteano,SI,NaN,pluviometro,mm,745277.0,42.951210,11.853004,1732764.48,4759362.51,633.0,2.0

In [206]:
query('Pineta', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1404,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,pluviometro,mm,747057.0,43.134374,11.242022,1682377.83,4778192.71,450.0,2.0
1405,TOS03002742,0,Monticiano La Pineta,Monticiano,SI,NaN,pluviometro,mm,747077.0,43.134374,11.242022,1682377.83,4778192.71,450.0,2.0
2320,TOS03002819,0,Spineta,Sarteano,SI,NaN,pluviometro,mm,745257.0,42.951210,11.853004,1732764.48,4759362.51,633.0,2.0
2321,TOS03002819,0,Spineta,Sarteano,SI,NaN,pluviometro,mm,745277.0,42.951210,11.853004,1732764.48,4759362.51,633.0,2.0

In [207]:
choose(1404)

In [208]:
move_on('Nave_di_Rosano')

In [209]:
query('Rosano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1427,TOS01004659,0,Nave di Rosano,Rignano sull'Arno,FI,Arno,idrometro,m,738409.0,43.771197,11.422816,1695024.49,4849329.51,78.84,NaN
1428,TOS01004659,0,Nave di Rosano,Rignano sull'Arno,FI,Arno,idrometro,m,738429.0,43.771197,11.422816,1695024.49,4849329.51,78.84,NaN
1429,TOS01004659,0,Nave di Rosano,Rignano sull'Arno,FI,Arno,pluviometro,mm,738407.0,43.771197,11.422816,1695024.49,4849329.51,78.84,2.0
1430,TOS01004659,0,Nave di Rosano,Rignano sull'Arno,FI,Arno,pluviometro,mm,738427.0,43.771197,11.422816,1695024.49,4849329.51,78.84,2.0
1431,TOS01004661,0,Nave Rosano valle,Bagno a Ripoli,FI,Arno,idrometro,m,738459.0,43.774303,11.413957,1694301.42,4849653.55,NaN,NaN

In [210]:
choose(1427)

In [211]:
move_on('Orentano')

In [212]:
query('Orentano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1453,TOS01001889,0,Orentano,Castelfranco di Sotto,PI,NaN,pluviometro,mm,735757.0,43.774425,10.657082,1633388.12,4848169.36,22.0,2.0
1454,TOS01001889,0,Orentano,Castelfranco di Sotto,PI,NaN,pluviometro,mm,735777.0,43.774425,10.657082,1633388.12,4848169.36,22.0,NaN
1455,TOS01001889,0,Orentano,Castelfranco di Sotto,PI,NaN,termometro,�C,735751.0,43.774425,10.657082,1633388.12,4848169.36,22.0,NaN
1456,TOS01001889,0,Orentano,Castelfranco di Sotto,PI,NaN,termometro,�C,735771.0,43.774425,10.657082,1633388.12,4848169.36,22.0,2.0

In [213]:
choose(1453)

In [214]:
move_on('P24')

In [215]:
query('P24')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [216]:
query('24')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [217]:
move_on('P25')

In [218]:
query('P25')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [219]:
move_on('PAG')

In [220]:
query('PAG')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
309,TOS02000241,0,Campagrina,Stazzema,LU,NaN,igrometro,%,734202.0,44.059003,10.259342,1600896.71,4879212.98,807.00,NaN
310,TOS02000241,0,Campagrina,Stazzema,LU,NaN,pluviometro,mm,734207.0,44.059003,10.259342,1600896.71,4879212.98,807.00,2.0
311,TOS02000241,0,Campagrina,Stazzema,LU,NaN,pluviometro,mm,734227.0,44.059003,10.259342,1600896.71,4879212.98,807.00,2.0
312,TOS02000241,0,Campagrina,Stazzema,LU,NaN,termometro,�C,734201.0,44.059003,10.259342,1600896.71,4879212.98,807.00,NaN
313,TOS02000241,0,Campagrina,Stazzema,LU,NaN,termometro,�C,734221.0,44.059003,10.259342,1600896.71,4879212.98,807.00,NaN
684,TOS19000655,0,Corte Spagni,Porcari,LU,NaN,freatimetro,m,763479.0,43.800248,10.623876,1630659.47,4850984.47,9.07,0.0
685,TOS19000655,0,Corte Spagni,Porcari,LU,NaN,qualita,microS/cm,763485.0,43.800248,10.623876,1630659.47,4850984.47,9.07,0.0
686,TOS19000655,0,Corte Spagni,Porcari,LU,NaN,termometro acqua,�C,763483.0,43.800248,10.623876,1630659.47,4850984.47,9.07,0.0
955,TOS03002941,0,Granaione,Campagnatico,GR,NaN,pluviometro,mm,746107.0,42.804369,11.303231,1688360.91,4741679.39,148.00,2.0
1225,TOS03002801,0,Monte Antico,Civitella Paganico,GR,NaN,pluviometro,mm,745857.0,42.983825,11.364699,1692827.15,4761747.71,82.00,2.0
1489,TOS03002921,0,Paganico,Civitella Paganico,GR,NaN,pluviometro,mm,745957.0,42.939816,11.284651,1686433.33,4756679.77,70.00,2.0
1490,TOS03002921,0,Paganico,Civitella Paganico,GR,NaN,pluviometro,mm,745977.0,42.939816,11.284651,1686433.33,4756679.77,70.00,2.0
1491,TOS19000614,0,Paganico,Capannori,LU,NaN,freatimetro,m,760129.0,43.835220,10.581000,1627136.14,4854801.90,13.00,0.0
1492,TOS19000614,0,Paganico,Capannori,LU,NaN,qualita,microS/cm,760135.0,43.835220,10.581000,1627136.14,4854801.90,13.00,NaN
1493,TOS19000614,0,Paganico,Capannori,LU,NaN,termometro acqua,�C,760133.0,43.835220,10.581000,1627136.14,4854801.90,13.00,NaN
1506,TOS03002789,0,Pari,Civitella Paganico,GR,NaN,pluviometro,mm,745807.0,43.062520,11.322537,1689147.63,4770391.30,330.00,2.0
2025,TOS01005785,0,Roccastrada,Civitella Paganico,GR,Gretano,idrometro,m,745009.0,43.001428,11.222662,1681194.49,4763386.40,NaN,NaN

In [221]:
move_on('POL')

In [222]:
query('POL')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
82,TOS01001141,0,Antella,Bagno a Ripoli,FI,NaN,pluviometro,mm,16859.0,43.730104,11.329965,1687679.90,4844550.82,170.0,2.0
83,TOS01001141,0,Antella,Bagno a Ripoli,FI,NaN,termometro,�C,16860.0,43.730104,11.329965,1687679.90,4844550.82,170.0,NaN
164,TOS11000075,0,Bagno a Ripoli,Bagno a Ripoli,FI,NaN,anemometro,deg,507561.0,43.686370,11.331259,1687920.72,4839696.43,260.0,NaN
165,TOS11000075,0,Bagno a Ripoli,Bagno a Ripoli,FI,NaN,anemometro,m/s,507551.0,43.686370,11.331259,1687920.72,4839696.43,260.0,NaN
166,TOS11000075,3,Bagno a Ripoli3,Bagno a Ripoli,FI,NaN,anemometro,m/s,507555.0,43.686370,11.331259,1687920.72,4839696.43,260.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2435,TOS03000855,0,Trappola,Loro Ciuffena,AR,NaN,termometro,�C,748401.0,43.618988,11.652637,1714062.79,4832991.13,869.0,NaN
2436,TOS03000855,0,Trappola,Loro Ciuffena,AR,NaN,termometro,�C,748421.0,43.618988,11.652637,1714062.79,4832991.13,869.0,NaN
2511,TOS29000018,0,Via Giusti,Empoli,FI,NaN,freatimetro,m,764629.0,43.723460,10.953420,1657370.61,4843028.94,27.0,NaN
2512,TOS29000018,1,Via Giusti1,Empoli,FI,NaN,qualita,microS/cm,764635.0,43.723460,10.953420,1657370.61,4843028.94,27.0,NaN
2513,TOS29000018,0,Via Giusti,Empoli,FI,NaN,termometro acqua,�C,764633.0,43.723460,10.953420,1657370.61,4843028.94,27.0,NaN

In [223]:
# i aint diggin thru all that
move_on('Pentolina')

In [224]:
query('Pentolina')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1549,TOS11000080,0,Pentolina,Chiusdino,SI,NaN,anemometro,deg,751005.0,43.208502,11.179902,1677110.9,4786291.82,450.0,3.0
1550,TOS11000080,0,Pentolina,Chiusdino,SI,NaN,anemometro,m/s,751006.0,43.208502,11.179902,1677110.9,4786291.82,450.0,3.0
1551,TOS11000080,3,Pentolina3,Chiusdino,SI,NaN,anemometro,m/s,751043.0,43.208502,11.179902,1677110.9,4786291.82,450.0,3.0
1552,TOS11000080,0,Pentolina,Chiusdino,SI,NaN,igrometro,%,751002.0,43.208502,11.179902,1677110.9,4786291.82,450.0,NaN
1553,TOS11000080,0,Pentolina,Chiusdino,SI,NaN,pluviometro,mm,751007.0,43.208502,11.179902,1677110.9,4786291.82,450.0,NaN
1554,TOS11000080,0,Pentolina,Chiusdino,SI,NaN,radiometro solare,W/mq,751004.0,43.208502,11.179902,1677110.9,4786291.82,450.0,NaN
1555,TOS11000080,0,Pentolina,Chiusdino,SI,NaN,termometro,�C,751001.0,43.208502,11.179902,1677110.9,4786291.82,450.0,NaN

In [225]:
query('Pentolina', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1553,TOS11000080,0,Pentolina,Chiusdino,SI,NaN,pluviometro,mm,751007.0,43.208502,11.179902,1677110.9,4786291.82,450.0,NaN

In [226]:
query('Pentolina', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1555,TOS11000080,0,Pentolina,Chiusdino,SI,NaN,termometro,�C,751001.0,43.208502,11.179902,1677110.9,4786291.82,450.0,NaN

In [227]:
choose(1553)

In [228]:
move_on('Petrignano')

In [229]:
query('Petrignano')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [230]:
move_on('Piaggione')

In [231]:
query('Piaggione')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1568,TOS02004284,0,Piaggione,Lucca,LU,Serchio,idrometro,m,731209.0,43.929353,10.514275,1621580.1,4865156.58,72.0,NaN
1569,TOS02004284,0,Piaggione,Lucca,LU,Serchio,idrometro,m,731229.0,43.929353,10.514275,1621580.1,4865156.58,72.0,NaN
1570,TOS02004284,0,Piaggione,Lucca,LU,Serchio,pluviometro,mm,731207.0,43.929353,10.514275,1621580.1,4865156.58,72.0,2.0
1571,TOS02004284,0,Piaggione,Lucca,LU,Serchio,pluviometro,mm,731227.0,43.929353,10.514275,1621580.1,4865156.58,72.0,2.0

In [232]:
choose(1568)

In [233]:
move_on('Podere_Casetta')

In [234]:
query('Podere')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1711,TOS19000681,0,Podere Casetta,Sovicille,SI,NaN,freatimetro,m,763879.0,43.252262,11.225785,1680708.90,4791249.82,192.57,0.0
1712,TOS19000681,0,Podere Casetta,Sovicille,SI,NaN,qualita,microS/cm,763885.0,43.252262,11.225785,1680708.90,4791249.82,192.57,0.0
1713,TOS19000681,0,Podere Casetta,Sovicille,SI,NaN,termometro acqua,�C,763883.0,43.252262,11.225785,1680708.90,4791249.82,192.57,0.0
1714,TOS29000030,0,Podere Cipollini,Pisa,PI,NaN,freatimetro,m,765129.0,43.676520,10.329280,1607181.52,4836819.93,1.00,NaN
1715,TOS29000030,1,Podere Cipollini1,Pisa,PI,NaN,qualita,microS/cm,765135.0,43.676520,10.329280,1607181.52,4836819.93,1.00,NaN
1716,TOS29000030,0,Podere Cipollini,Pisa,PI,NaN,termometro acqua,�C,765133.0,43.676520,10.329280,1607181.52,4836819.93,1.00,NaN
1717,TOS03005655,0,Podere Nuovo,Monteroni d'Arbia,SI,Arbia,idrometro,m,745309.0,43.200789,11.452689,1699296.28,4786048.93,156.00,NaN
1718,TOS03005655,0,Podere Nuovo,Monteroni d'Arbia,SI,Arbia,idrometro,m,745329.0,43.200789,11.452689,1699296.28,4786048.93,156.00,NaN
1719,TOS03005865,0,Podere Peretti,Orbetello,GR,Osa,idrometro,m,746909.0,42.567848,11.233600,1683361.67,4715260.61,12.00,NaN
1720,TOS03005865,1,Podere Peretti1,Orbetello,GR,Osa,idrometro,m,746929.0,42.567848,11.233600,1683361.67,4715260.61,12.00,NaN
1721,TOS29000038,0,Podere Steccaie,Sinalunga,SI,NaN,freatimetro,m,765329.0,43.232780,11.748330,1723199.66,4790348.65,261.00,NaN
1722,TOS29000038,1,Podere Steccaie1,Sinalunga,SI,NaN,qualita,microS/cm,765335.0,43.232780,11.748330,1723199.66,4790348.65,261.00,NaN
1723,TOS29000038,0,Podere Steccaie,Sinalunga,SI,NaN,termometro acqua,�C,765333.0,43.232780,11.748330,1723199.66,4790348.65,261.00,NaN

In [235]:
choose(1711)

In [236]:
move_on('Ponte_Orgia')

In [237]:
query('Orgia')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
340,TOS02004115,0,Camporgiano,Camporgiano,LU,Serchio,idrometro,m,731159.0,44.162935,10.338424,1607043.09,4890856.67,390.0,NaN
341,TOS02004115,0,Camporgiano,Camporgiano,LU,Serchio,idrometro,m,731179.0,44.162935,10.338424,1607043.09,4890856.67,390.0,NaN
342,TOS02004115,0,Camporgiano,Camporgiano,LU,Serchio,igrometro,%,731152.0,44.162935,10.338424,1607043.09,4890856.67,390.0,NaN
343,TOS02004115,0,Camporgiano,Camporgiano,LU,Serchio,pluviometro,mm,731157.0,44.162935,10.338424,1607043.09,4890856.67,390.0,NaN
344,TOS02004115,0,Camporgiano,Camporgiano,LU,Serchio,termometro,�C,731151.0,44.162935,10.338424,1607043.09,4890856.67,390.0,NaN
345,TOS02004115,0,Camporgiano,Camporgiano,LU,Serchio,termometro,�C,731171.0,44.162935,10.338424,1607043.09,4890856.67,390.0,NaN
1814,TOS03005707,0,Ponte Orgia,Sovicille,SI,Merse,idrometro,m,747159.0,43.214645,11.258112,1683445.92,4787142.60,NaN,NaN
1815,TOS03005707,0,Ponte Orgia,Sovicille,SI,Merse,pluviometro,mm,747157.0,43.214645,11.258112,1683445.92,4787142.60,NaN,NaN
2247,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,anemometro,deg,748905.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2248,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,anemometro,m/s,748906.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2249,TOS11000025,3,Scorgiano3,Monteriggioni,SI,NaN,anemometro,m/s,748943.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2250,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,igrometro,%,748902.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2251,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,pluviometro,mm,748907.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2252,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,radiometro solare,W/mq,748904.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2253,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,termometro,�C,748901.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN

In [238]:
choose(1815)

In [239]:
move_on('Ponte_a_Moriano')

In [240]:
query('Moriano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1771,TOS11000109,0,Ponte a Moriano,Lucca,LU,NaN,anemometro,deg,510961.0,43.890091,10.529101,1622850.9,4860817.82,33.0,NaN
1772,TOS11000109,0,Ponte a Moriano,Lucca,LU,NaN,anemometro,m/s,510951.0,43.890091,10.529101,1622850.9,4860817.82,33.0,NaN
1773,TOS11000109,3,Ponte a Moriano3,Lucca,LU,NaN,anemometro,m/s,510955.0,43.890091,10.529101,1622850.9,4860817.82,33.0,NaN
1774,TOS11000109,0,Ponte a Moriano,Lucca,LU,NaN,igrometro,%,510931.0,43.890091,10.529101,1622850.9,4860817.82,33.0,NaN
1775,TOS11000109,0,Ponte a Moriano,Lucca,LU,NaN,pluviometro,mm,510901.0,43.890091,10.529101,1622850.9,4860817.82,33.0,NaN
1776,TOS11000109,0,Ponte a Moriano,Lucca,LU,NaN,termometro,�C,510921.0,43.890091,10.529101,1622850.9,4860817.82,33.0,NaN

In [241]:
choose(1776)

In [242]:
move_on('Pontetetto')

In [243]:
query('Pontet')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1868,TOS02004315,0,Pontetetto,Lucca,LU,Ozzeri,idrometro,m,730359.0,43.829653,10.469765,1618204.13,4854018.7,12.99,NaN
1869,TOS02004315,0,Pontetetto,Lucca,LU,Ozzeri,idrometro,m,730379.0,43.829653,10.469765,1618204.13,4854018.7,12.99,0.0
1870,TOS02004315,0,Pontetetto,Lucca,LU,Ozzeri,pluviometro,mm,730357.0,43.829653,10.469765,1618204.13,4854018.7,12.99,2.0
1871,TOS02004315,0,Pontetetto,Lucca,LU,Ozzeri,pluviometro,mm,730377.0,43.829653,10.469765,1618204.13,4854018.7,12.99,2.0

In [244]:
choose(1870)

In [245]:
move_on('Pozzo_1')

In [246]:
query('Pozzo')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1893,TOS29000002,0,Pozzo 7 Staffoli,Castelfranco di Sotto,PI,NaN,freatimetro,m,764179.0,43.75290,10.68775,1635904.96,4845828.55,12.0,NaN
1894,TOS29000002,1,Pozzo 7 Staffoli1,Castelfranco di Sotto,PI,NaN,qualita,microS/cm,764185.0,43.75290,10.68775,1635904.96,4845828.55,12.0,NaN
1895,TOS29000002,0,Pozzo 7 Staffoli,Castelfranco di Sotto,PI,NaN,termometro acqua,�C,764183.0,43.75290,10.68775,1635904.96,4845828.55,12.0,NaN
1896,TOS29000021,0,Pozzo Aquilani,Grosseto,GR,NaN,freatimetro,m,764779.0,42.79730,11.04179,1667001.63,4740343.27,0.0,NaN
1897,TOS29000021,1,Pozzo Aquilani1,Grosseto,GR,NaN,qualita,microS/cm,764785.0,42.79730,11.04179,1667001.63,4740343.27,0.0,NaN
1898,TOS29000021,0,Pozzo Aquilani,Grosseto,GR,NaN,termometro acqua,�C,764783.0,42.79730,11.04179,1667001.63,4740343.27,0.0,NaN
1899,TOS29000023,0,Pozzo Corsica,Grosseto,GR,NaN,freatimetro,m,764829.0,42.70385,11.09162,1671334.00,4730065.62,0.0,NaN
1900,TOS29000023,1,Pozzo Corsica1,Grosseto,GR,NaN,qualita,microS/cm,764835.0,42.70385,11.09162,1671334.00,4730065.62,0.0,NaN
1901,TOS29000023,0,Pozzo Corsica,Grosseto,GR,NaN,termometro acqua,�C,764833.0,42.70385,11.09162,1671334.00,4730065.62,0.0,NaN
1902,TOS29000040,0,Pozzo Le Chiane,Bibbiena,AR,NaN,freatimetro,m,765429.0,43.69054,11.80296,1725923.71,4841336.91,320.0,NaN
1903,TOS29000040,1,Pozzo Le Chiane1,Bibbiena,AR,NaN,qualita,microS/cm,765435.0,43.69054,11.80296,1725923.71,4841336.91,320.0,NaN
1904,TOS29000040,0,Pozzo Le Chiane,Bibbiena,AR,NaN,termometro acqua,�C,765433.0,43.69054,11.80296,1725923.71,4841336.91,320.0,NaN
1905,TOS29000076,0,Pozzo Pomodorificio,Cecina,LI,NaN,freatimetro,m,766729.0,43.30800,10.51300,1622735.14,4796145.83,NaN,NaN
1906,TOS29000076,0,Pozzo Pomodorificio,Cecina,LI,NaN,qualita,microS/cm,766735.0,43.30800,10.51300,1622735.14,4796145.83,NaN,NaN
1907,TOS29000076,0,Pozzo Pomodorificio,Cecina,LI,NaN,termometro acqua,�C,766733.0,43.30800,10.51300,1622735.14,4796145.83,NaN,NaN
1908,TOS29000039,0,Pozzo S.Piero,Borgo San Lorenzo,FI,NaN,freatimetro,m,765379.0,44.00098,11.39787,1692275.87,4874792.88,311.0,NaN
1909,TOS29000039,1,Pozzo S.Piero1,Borgo San Lorenzo,FI,NaN,qualita,microS/cm,765385.0,44.00098,11.39787,1692275.87,4874792.88,311.0,NaN
1910,TOS29000039,0,Pozzo S.Piero,Borgo San Lorenzo,FI,NaN,termometro acqua,�C,765383.0,44.00098,11.39787,1692275.87,4874792.88,311.0,NaN

In [247]:
# no way to figure pozzo's 1-9
move_on('Pozzo_2')
move_on('Pozzo_3')
move_on('Pozzo_4')
move_on('Pozzo_5')
move_on('Pozzo_5+6')
move_on('Pozzo_6')
move_on('Pozzo_7')
move_on('Pozzo_8')
move_on('Pozzo_9')

In [248]:
move_on('SAL')

In [249]:
query('SAL')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
26,TOS07000001,0,Abbadia S. Salvatore,Abbadia S. Salvatore,SI,NaN,pluviometro,mm,15201.0,42.894344,11.669369,1717984.09,4752554.84,855.00,2.0
27,TOS07000001,0,Abbadia S. Salvatore,Abbadia S. Salvatore,SI,NaN,termometro,�C,15202.0,42.894344,11.669369,1717984.09,4752554.84,855.00,2.0
117,TOS19000674,0,ASA 34,Collesalvetti,LI,NaN,freatimetro,m,763329.0,43.623800,10.499602,1621016.90,4831198.82,8.47,0.0
118,TOS19000674,0,ASA 34,Collesalvetti,LI,NaN,qualita,microS/cm,763335.0,43.623800,10.499602,1621016.90,4831198.82,8.47,0.0
119,TOS19000674,0,ASA 34,Collesalvetti,LI,NaN,termometro acqua,�C,763333.0,43.623800,10.499602,1621016.90,4831198.82,8.47,0.0
120,TOS19000650,0,ASA 34 bis,Collesalvetti,LI,NaN,freatimetro,m,763829.0,43.623800,10.499602,1621016.90,4831198.82,2.63,0.0
121,TOS19000650,0,ASA 34 bis,Collesalvetti,LI,NaN,qualita,microS/cm,763835.0,43.623800,10.499602,1621016.90,4831198.82,2.63,0.0
122,TOS19000650,0,ASA 34 bis,Collesalvetti,LI,NaN,termometro acqua,�C,763833.0,43.623800,10.499602,1621016.90,4831198.82,2.63,0.0
455,TOS29000033,0,Casalta 4,Lucignano,AR,NaN,freatimetro,m,603392.0,43.240000,11.744166,1722835.19,4791139.40,262.00,NaN
456,TOS29000033,1,Casalta 41,Lucignano,AR,NaN,qualita,microS/cm,603380.0,43.240000,11.744166,1722835.19,4791139.40,262.00,NaN
457,TOS29000033,0,Casalta 4,Lucignano,AR,NaN,termometro acqua,�C,603324.0,43.240000,11.744166,1722835.19,4791139.40,262.00,NaN
661,TOS11000036,0,Collesalvetti,Collesalvetti,LI,NaN,anemometro,deg,748555.0,43.583842,10.466720,1618442.34,4826713.56,15.00,NaN
662,TOS11000036,0,Collesalvetti,Collesalvetti,LI,NaN,anemometro,m/s,748556.0,43.583842,10.466720,1618442.34,4826713.56,15.00,NaN
663,TOS11000036,3,Collesalvetti3,Collesalvetti,LI,NaN,anemometro,m/s,748593.0,43.583842,10.466720,1618442.34,4826713.56,15.00,NaN
664,TOS11000036,0,Collesalvetti,Collesalvetti,LI,NaN,igrometro,%,748552.0,43.583842,10.466720,1618442.34,4826713.56,15.00,NaN
665,TOS11000036,0,Collesalvetti,Collesalvetti,LI,NaN,pluviometro,mm,748557.0,43.583842,10.466720,1618442.34,4826713.56,15.00,NaN
666,TOS11000036,0,Collesalvetti,Collesalvetti,LI,NaN,radiometro solare,W/mq,748554.0,43.583842,10.466720,1618442.34,4826713.56,15.00,NaN
667,TOS11000036,0,Collesalvetti,Collesalvetti,LI,NaN,termometro,�C,748551.0,43.583842,10.466720,1618442.34,4826713.56,15.00,NaN
1831,TOS03005335,0,Ponte SS555,Collesalvetti,LI,Tora,idrometro,m,740609.0,43.600428,10.444291,1616599.57,4828523.93,NaN,NaN
2200,TOS19000659,0,Salicchi,Salicchi,LU,NaN,freatimetro,m,763629.0,43.861069,10.513800,1621680.90,4857571.82,27.12,0.0
2201,TOS19000659,0,Salicchi,Salicchi,LU,NaN,qualita,microS/cm,763635.0,43.861069,10.513800,1621680.90,4857571.82,27.12,0.0
2202,TOS19000659,0,Salicchi,Salicchi,LU,NaN,termometro acqua,�C,763633.0,43.861069,10.513800,1621680.90,4857571.82,27.12,0.0
2203,TOS01000651,0,Salutio,Castel Focognano,AR,NaN,pluviometro,mm,739807.0,43.615136,11.813191,1727032.39,4832989.90,315.00,2.0
2225,TOS03004006,0,Santuario della Salute,Carrara,MS,Gragnana,idrometro,m,751309.0,44.080038,10.095897,1587774.45,4881362.17,NaN,NaN
2322,TOS03005282,0,SR206 Emilia,Collesalvetti,LI,Scolmatore,idrometro,m,751359.0,43.625238,10.461211,1617916.74,4831303.29,NaN,NaN
2327,TOS01005342,0,Stagno,Collesalvetti,LI,Scolmatore,idrometro,m,735809.0,43.599973,10.352131,1609161.97,4828348.25,1.11,NaN
2328,TOS01005342,0,Stagno,Collesalvetti,LI,Scolmatore,idrometro,m,735829.0,43.599973,10.352131,1609161.97,4828348.25,1.11,NaN
2329,TOS01005342,0,Stagno,Collesalvetti,LI,Scolmatore,pluviometro,mm,735807.0,43.599973,10.352131,1609161.97,4828348.25,1.11,2.0
2330,TOS01005342,0,Stagno,Collesalvetti,LI,Scolmatore,pluviometro,mm,735827.0,43.599973,10.352131,1609161.97,4828348.25,1.11,NaN

In [250]:
move_on('S_Agata')

In [251]:
query('Agata')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2045,TOS01000961,0,S. Agata di Mugello,Scarperia e San Piero,FI,NaN,pluviometro,mm,737607.0,44.020694,11.337209,1687350.28,4876842.88,357.0,2.0

In [252]:
choose(2045)

In [253]:
move_on('S_Fiora')

In [254]:
query('Fiora')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
730,TOS29000055,0,David Lazzaretti,S.Fiora,GR,NaN,freatimetro,m,747109.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN
731,TOS29000055,1,David Lazzaretti1,S.Fiora,GR,NaN,qualita,microS/cm,747115.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN
732,TOS29000055,0,David Lazzaretti,S.Fiora,GR,NaN,termometro acqua,�C,747113.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN
2084,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,anemometro,deg,747255.0,42.854480,11.555793,1708844.63,4747839.81,813.0,3.0
2085,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,anemometro,m/s,747256.0,42.854480,11.555793,1708844.63,4747839.81,813.0,3.0
2086,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,anemometro,deg,805261.0,42.854480,11.555793,1708844.63,4747839.81,813.0,3.0
2087,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,anemometro,m/s,805251.0,42.854480,11.555793,1708844.63,4747839.81,813.0,3.0
2088,TOS11000052,3,S. Fiora3,Arcidosso,GR,NaN,anemometro,m/s,747293.0,42.854480,11.555793,1708844.63,4747839.81,813.0,3.0
2089,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,igrometro,%,747252.0,42.854480,11.555793,1708844.63,4747839.81,813.0,2.0
2090,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,igrometro,%,747266.0,42.854480,11.555793,1708844.63,4747839.81,813.0,NaN
2091,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,igrometro,%,747286.0,42.854480,11.555793,1708844.63,4747839.81,813.0,NaN
2092,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,igrometro,%,805231.0,42.854480,11.555793,1708844.63,4747839.81,813.0,2.0
2093,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,nivometro,m,747294.0,42.854480,11.555793,1708844.63,4747839.81,813.0,3.0
2094,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,pluviometro,mm,747257.0,42.854480,11.555793,1708844.63,4747839.81,813.0,2.0
2095,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,pluviometro,mm,747277.0,42.854480,11.555793,1708844.63,4747839.81,813.0,2.0
2096,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,radiometro solare,W/mq,747254.0,42.854480,11.555793,1708844.63,4747839.81,813.0,3.0
2097,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,termometro,�C,747251.0,42.854480,11.555793,1708844.63,4747839.81,813.0,2.0
2098,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747271.0,42.854480,11.555793,1708844.63,4747839.81,813.0,2.0
2099,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747263.0,42.854480,11.555793,1708844.63,4747839.81,813.0,NaN
2100,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747283.0,42.854480,11.555793,1708844.63,4747839.81,813.0,NaN
2101,TOS20000004,0,S. Fiora 11bis,Grosseto,GR,NaN,freatimetro,m,766629.0,42.838214,11.584455,1711241.90,4746104.82,706.0,NaN
2102,TOS20000004,0,S. Fiora 11bis,Grosseto,GR,NaN,qualita,microS/cm,76663.0,42.838214,11.584455,1711241.90,4746104.82,706.0,NaN
2103,TOS20000004,0,S. Fiora 11bis,Grosseto,GR,NaN,termometro acqua,�C,766633.0,42.838214,11.584455,1711241.90,4746104.82,706.0,NaN
2104,TOS20000003,0,S. Fiora 8,Grosseto,GR,NaN,freatimetro,m,766679.0,42.838184,11.585775,1711349.90,4746104.82,705.0,NaN
2105,TOS20000003,0,S. Fiora 8,Grosseto,GR,NaN,qualita,microS/cm,766685.0,42.838184,11.585775,1711349.90,4746104.82,705.0,NaN
2106,TOS20000003,0,S. Fiora 8,Grosseto,GR,NaN,termometro acqua,�C,766683.0,42.838184,11.585775,1711349.90,4746104.82,705.0,NaN

In [255]:
query('Fiora', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2094,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,pluviometro,mm,747257.0,42.85448,11.555793,1708844.63,4747839.81,813.0,2.0
2095,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,pluviometro,mm,747277.0,42.85448,11.555793,1708844.63,4747839.81,813.0,2.0

In [256]:
query('Fiora', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2097,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,termometro,�C,747251.0,42.85448,11.555793,1708844.63,4747839.81,813.0,2.0
2098,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747271.0,42.85448,11.555793,1708844.63,4747839.81,813.0,2.0
2099,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747263.0,42.85448,11.555793,1708844.63,4747839.81,813.0,NaN
2100,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747283.0,42.85448,11.555793,1708844.63,4747839.81,813.0,NaN

In [257]:
choose(2094)

In [258]:
move_on('S_Fiora_11bis')

In [259]:
query('11bis')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2101,TOS20000004,0,S. Fiora 11bis,Grosseto,GR,NaN,freatimetro,m,766629.0,42.838214,11.584455,1711241.9,4746104.82,706.0,NaN
2102,TOS20000004,0,S. Fiora 11bis,Grosseto,GR,NaN,qualita,microS/cm,76663.0,42.838214,11.584455,1711241.9,4746104.82,706.0,NaN
2103,TOS20000004,0,S. Fiora 11bis,Grosseto,GR,NaN,termometro acqua,�C,766633.0,42.838214,11.584455,1711241.9,4746104.82,706.0,NaN

In [260]:
choose(2101)

In [261]:
move_on('S_Fiora_8')

In [262]:
query('Fiora 8')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2104,TOS20000003,0,S. Fiora 8,Grosseto,GR,NaN,freatimetro,m,766679.0,42.838184,11.585775,1711349.9,4746104.82,705.0,NaN
2105,TOS20000003,0,S. Fiora 8,Grosseto,GR,NaN,qualita,microS/cm,766685.0,42.838184,11.585775,1711349.9,4746104.82,705.0,NaN
2106,TOS20000003,0,S. Fiora 8,Grosseto,GR,NaN,termometro acqua,�C,766683.0,42.838184,11.585775,1711349.9,4746104.82,705.0,NaN

In [263]:
choose(2104)

In [264]:
move_on('S_Piero')

In [265]:
query('Piero')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1152,TOS01000925,0,Marcoiano,Scarperia e San Piero,FI,NaN,igrometro,%,11135.0,44.054421,11.304825,1684649.90,4880515.82,537.51,NaN
1153,TOS01000925,0,Marcoiano,Scarperia e San Piero,FI,NaN,pluviometro,mm,11133.0,44.054421,11.304825,1684649.90,4880515.82,537.51,2.0
1154,TOS01000925,0,Marcoiano,Scarperia e San Piero,FI,NaN,termometro,�C,11208.0,44.054421,11.304825,1684649.90,4880515.82,537.51,NaN
1777,TOS01000931,0,Ponte a Olmo,Scarperia e San Piero,FI,NaN,pluviometro,mm,737507.0,44.049164,11.304406,1684632.69,4879931.07,459.00,2.0
1908,TOS29000039,0,Pozzo S.Piero,Borgo San Lorenzo,FI,NaN,freatimetro,m,765379.0,44.000980,11.397870,1692275.87,4874792.88,311.00,NaN
1909,TOS29000039,1,Pozzo S.Piero1,Borgo San Lorenzo,FI,NaN,qualita,microS/cm,765385.0,44.000980,11.397870,1692275.87,4874792.88,311.00,NaN
1910,TOS29000039,0,Pozzo S.Piero,Borgo San Lorenzo,FI,NaN,termometro acqua,�C,765383.0,44.000980,11.397870,1692275.87,4874792.88,311.00,NaN
2045,TOS01000961,0,S. Agata di Mugello,Scarperia e San Piero,FI,NaN,pluviometro,mm,737607.0,44.020694,11.337209,1687350.28,4876842.88,357.00,2.0
2158,TOS01004791,0,S. Piero a Ponti,Signa,FI,Bisenzio,idrometro,m,737009.0,43.803684,11.130532,1671407.31,4852290.73,40.00,NaN
2159,TOS01004791,0,S. Piero a Ponti,Signa,FI,Bisenzio,idrometro,m,737029.0,43.803684,11.130532,1671407.31,4852290.73,40.00,NaN
2160,TOS01004623,0,S. Piero a Sieve-Carza,Scarperia e San Piero,FI,Carza,idrometro,m,738709.0,43.959058,11.322347,1686351.96,4869963.18,NaN,NaN
2161,TOS01004621,0,S. Piero a Sieve-Sieve,Scarperia e San Piero,FI,Sieve,idrometro,m,737659.0,43.965105,11.328013,1686787.54,4870647.71,222.00,NaN
2162,TOS01004621,0,S. Piero a Sieve-Sieve,Scarperia e San Piero,FI,Sieve,pluviometro,mm,737657.0,43.965105,11.328013,1686787.54,4870647.71,222.00,2.0

In [266]:
query('Piero', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1153,TOS01000925,0,Marcoiano,Scarperia e San Piero,FI,NaN,pluviometro,mm,11133.0,44.054421,11.304825,1684649.90,4880515.82,537.51,2.0
1777,TOS01000931,0,Ponte a Olmo,Scarperia e San Piero,FI,NaN,pluviometro,mm,737507.0,44.049164,11.304406,1684632.69,4879931.07,459.00,2.0
2045,TOS01000961,0,S. Agata di Mugello,Scarperia e San Piero,FI,NaN,pluviometro,mm,737607.0,44.020694,11.337209,1687350.28,4876842.88,357.00,2.0
2162,TOS01004621,0,S. Piero a Sieve-Sieve,Scarperia e San Piero,FI,Sieve,pluviometro,mm,737657.0,43.965105,11.328013,1686787.54,4870647.71,222.00,2.0

In [267]:
choose(2162)

In [268]:
move_on('S_Savino')

In [269]:
query('Savino')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1270,TOS01000741,0,Monte S.Savino,Monte San Savino,AR,NaN,igrometro,%,739252.0,43.339127,11.742346,1722325.84,4802143.81,275.0,NaN
1271,TOS01000741,0,Monte S.Savino,Monte San Savino,AR,NaN,pluviometro,mm,739257.0,43.339127,11.742346,1722325.84,4802143.81,275.0,2.0
1272,TOS01000741,0,Monte S.Savino,Monte San Savino,AR,NaN,termometro,�C,739251.0,43.339127,11.742346,1722325.84,4802143.81,275.0,NaN

In [270]:
choose(1271)

In [271]:
move_on('Scorgiano')

In [272]:
query('Scorgiano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2247,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,anemometro,deg,748905.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2248,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,anemometro,m/s,748906.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2249,TOS11000025,3,Scorgiano3,Monteriggioni,SI,NaN,anemometro,m/s,748943.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2250,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,igrometro,%,748902.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2251,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,pluviometro,mm,748907.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2252,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,radiometro solare,W/mq,748904.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN
2253,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,termometro,�C,748901.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN

In [273]:
query('Scorgiano', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2251,TOS11000025,0,Scorgiano,Monteriggioni,SI,NaN,pluviometro,mm,748907.0,43.366271,11.151425,1674346.24,4803753.45,233.0,NaN

In [274]:
choose(2251)

In [275]:
move_on('Settefrati')

In [276]:
query('Settefrati')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [277]:
query('Sette')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [278]:
query('frati')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [279]:
move_on('Siena_Poggio_al_Vento')

In [280]:
query('Poggio')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1735,TOS01004875,0,Poggio a Caiano,Poggio a Caiano,PO,Ombrone PT,idrometro,m,736709.0,43.814591,11.061444,1665819.71,4853361.30,36.0,NaN
1736,TOS01004875,0,Poggio a Caiano,Poggio a Caiano,PO,Ombrone PT,termometro,�C,19202.0,43.814591,11.061444,1665819.71,4853361.30,36.0,2.0
1737,TOS01001445,0,Poggio Aglione,Gambassi Terme,FI,NaN,pluviometro,mm,736757.0,43.529882,10.927966,1655819.68,4821481.49,441.0,2.0
1738,TOS01001445,0,Poggio Aglione,Gambassi Terme,FI,NaN,pluviometro,mm,736777.0,43.529882,10.927966,1655819.68,4821481.49,441.0,2.0
1739,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,anemometro,deg,740855.0,43.650094,11.392472,1692970.61,4835807.90,500.0,10.0
1740,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,anemometro,m/s,740856.0,43.650094,11.392472,1692970.61,4835807.90,500.0,10.0
1741,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,anemometro,m/s,740893.0,43.650094,11.392472,1692970.61,4835807.90,500.0,10.0
1742,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,igrometro,%,740852.0,43.650094,11.392472,1692970.61,4835807.90,500.0,2.0
1743,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740857.0,43.650094,11.392472,1692970.61,4835807.90,500.0,2.0
1744,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740877.0,43.650094,11.392472,1692970.61,4835807.90,500.0,2.0
1745,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,termometro,�C,740851.0,43.650094,11.392472,1692970.61,4835807.90,500.0,2.0
1746,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,termometro,�C,740871.0,43.650094,11.392472,1692970.61,4835807.90,500.0,2.0
1747,TOS11000088,0,Poggio Casciano,Bagno a Ripoli,FI,NaN,anemometro,deg,508861.0,43.694483,11.328336,1687659.82,4840590.84,215.0,NaN
1748,TOS11000088,0,Poggio Casciano,Bagno a Ripoli,FI,NaN,anemometro,m/s,508851.0,43.694483,11.328336,1687659.82,4840590.84,215.0,NaN
1749,TOS11000088,3,Poggio Casciano3,Bagno a Ripoli,FI,NaN,anemometro,m/s,508855.0,43.694483,11.328336,1687659.82,4840590.84,215.0,NaN
1750,TOS11000088,0,Poggio Casciano,Bagno a Ripoli,FI,NaN,igrometro,%,508831.0,43.694483,11.328336,1687659.82,4840590.84,215.0,NaN
1751,TOS11000088,0,Poggio Casciano,Bagno a Ripoli,FI,NaN,pluviometro,mm,508801.0,43.694483,11.328336,1687659.82,4840590.84,215.0,NaN
1752,TOS11000088,0,Poggio Casciano,Bagno a Ripoli,FI,NaN,termometro,�C,508821.0,43.694483,11.328336,1687659.82,4840590.84,215.0,NaN
1753,TOS03003011,0,Poggio Perotto,Magliano in Toscana,GR,NaN,pluviometro,mm,746207.0,42.613681,11.254882,1684972.91,4720396.56,82.0,2.0
1754,TOS03003011,0,Poggio Perotto,Magliano in Toscana,GR,NaN,pluviometro,mm,746227.0,42.613681,11.254882,1684972.91,4720396.56,82.0,NaN
2081,TOS01001291,0,S. Donato in Poggio,Tavarnelle Val di Pesa,FI,NaN,pluviometro,mm,16890.0,43.538057,11.232544,1680407.43,4823005.13,375.0,2.0
2082,TOS01001291,0,S. Donato in Poggio,Tavarnelle Val di Pesa,FI,NaN,termometro,�C,16891.0,43.538057,11.232544,1680407.43,4823005.13,375.0,NaN
2151,TOS11000045,0,S. Miniato Poggio al Pino,San Miniato,PI,NaN,anemometro,deg,753405.0,43.679502,10.893552,1652659.90,4838034.82,117.0,NaN
2152,TOS11000045,0,S. Miniato Poggio al Pino,San Miniato,PI,NaN,anemometro,m/s,753406.0,43.679502,10.893552,1652659.90,4838034.82,117.0,NaN
2153,TOS11000045,3,S. Miniato Poggio al Pino3,San Miniato,PI,NaN,anemometro,m/s,753443.0,43.679502,10.893552,1652659.90,4838034.82,117.0,NaN
2154,TOS11000045,0,S. Miniato Poggio al Pino,San Miniato,PI,NaN,igrometro,%,753402.0,43.679502,10.893552,1652659.90,4838034.82,117.0,NaN
2155,TOS11000045,0,S. Miniato Poggio al Pino,San Miniato,PI,NaN,pluviometro,mm,753407.0,43.679502,10.893552,1652659.90,4838034.82,117.0,NaN
2156,TOS11000045,0,S. Miniato Poggio al Pino,San Miniato,PI,NaN,radiometro solare,W/mq,753404.0,43.679502,10.893552,1652659.90,4838034.82,117.0,NaN
2157,TOS11000045,0,S. Miniato Poggio al Pino,San Miniato,PI,NaN,termometro,�C,753401.0,43.679502,10.893552,1652659.90,4838034.82,117.0,NaN
2294,TOS01002661,0,Siena Poggio al Vento,Siena,SI,NaN,anemometro,deg,754105.0,43.320448,11.312592,1687546.02,4799013.84,348.0,NaN
2295,TOS01002661,0,Siena Poggio al Vento,Siena,SI,NaN,anemometro,m/s,754106.0,43.320448,11.312592,1687546.02,4799013.84,348.0,NaN
2296,TOS01002661,0,Siena Poggio al Vento,Siena,SI,NaN,anemometro,m/s,754143.0,43.320448,11.312592,1687546.02,4799013.84,348.0,NaN
2297,TOS01002661,0,Siena Poggio al Vento,Siena,SI,NaN,igrometro,%,754102.0,43.320448,11.312592,1687546.02,4799013.84,348.0,NaN
2298,TOS01002661,0,Siena Poggio al Vento,Siena,SI,NaN,pluviometro,mm,754107.0,43.320448,11.312592,1687546.02,4799013.84,348.0,NaN
2299,TOS01002661,0,Siena Poggio al Vento,Siena,SI,NaN,termometro,�C,754101.0,43.320448,11.312592,1687546.02,4799013.84,348.0,NaN

In [281]:
query('Poggio', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1737,TOS01001445,0,Poggio Aglione,Gambassi Terme,FI,NaN,pluviometro,mm,736757.0,43.529882,10.927966,1655819.68,4821481.49,441.0,2.0
1738,TOS01001445,0,Poggio Aglione,Gambassi Terme,FI,NaN,pluviometro,mm,736777.0,43.529882,10.927966,1655819.68,4821481.49,441.0,2.0
1743,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740857.0,43.650094,11.392472,1692970.61,4835807.90,500.0,2.0
1744,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740877.0,43.650094,11.392472,1692970.61,4835807.90,500.0,2.0
1751,TOS11000088,0,Poggio Casciano,Bagno a Ripoli,FI,NaN,pluviometro,mm,508801.0,43.694483,11.328336,1687659.82,4840590.84,215.0,NaN
1753,TOS03003011,0,Poggio Perotto,Magliano in Toscana,GR,NaN,pluviometro,mm,746207.0,42.613681,11.254882,1684972.91,4720396.56,82.0,2.0
1754,TOS03003011,0,Poggio Perotto,Magliano in Toscana,GR,NaN,pluviometro,mm,746227.0,42.613681,11.254882,1684972.91,4720396.56,82.0,NaN
2081,TOS01001291,0,S. Donato in Poggio,Tavarnelle Val di Pesa,FI,NaN,pluviometro,mm,16890.0,43.538057,11.232544,1680407.43,4823005.13,375.0,2.0
2155,TOS11000045,0,S. Miniato Poggio al Pino,San Miniato,PI,NaN,pluviometro,mm,753407.0,43.679502,10.893552,1652659.90,4838034.82,117.0,NaN
2298,TOS01002661,0,Siena Poggio al Vento,Siena,SI,NaN,pluviometro,mm,754107.0,43.320448,11.312592,1687546.02,4799013.84,348.0,NaN

In [282]:
query('Siena Poggio', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2299,TOS01002661,0,Siena Poggio al Vento,Siena,SI,NaN,termometro,�C,754101.0,43.320448,11.312592,1687546.02,4799013.84,348.0,NaN

In [283]:
choose(2298)

In [284]:
move_on('Simignano')

In [285]:
query('Simignano')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2300,TOS01001379,0,Simignano,Sovicille,SI,NaN,pluviometro,mm,744107.0,43.29205,11.167234,1675841.2,4795543.72,420.0,2.0

In [286]:
choose(2300)

In [287]:
move_on('Sovicille')

In [288]:
query('Sovicille')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1711,TOS19000681,0,Podere Casetta,Sovicille,SI,NaN,freatimetro,m,763879.0,43.252262,11.225785,1680708.90,4791249.82,192.57,0.0
1712,TOS19000681,0,Podere Casetta,Sovicille,SI,NaN,qualita,microS/cm,763885.0,43.252262,11.225785,1680708.90,4791249.82,192.57,0.0
1713,TOS19000681,0,Podere Casetta,Sovicille,SI,NaN,termometro acqua,�C,763883.0,43.252262,11.225785,1680708.90,4791249.82,192.57,0.0
1814,TOS03005707,0,Ponte Orgia,Sovicille,SI,Merse,idrometro,m,747159.0,43.214645,11.258112,1683445.92,4787142.60,NaN,NaN
1815,TOS03005707,0,Ponte Orgia,Sovicille,SI,Merse,pluviometro,mm,747157.0,43.214645,11.258112,1683445.92,4787142.60,NaN,NaN
2300,TOS01001379,0,Simignano,Sovicille,SI,NaN,pluviometro,mm,744107.0,43.292050,11.167234,1675841.20,4795543.72,420.00,2.0
2313,TOS03002761,0,Sovicille,Sovicille,SI,NaN,pluviometro,mm,745157.0,43.276294,11.229860,1680968.43,4793927.65,260.00,2.0

In [289]:
choose(2313)

In [290]:
move_on('Stia')

In [291]:
query('Stia')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1008,TOS01005822,0,Istia,Grosseto,GR,OmbroneGR,idrometro,m,745659.0,42.777814,11.187915,1679007.91,4738479.21,18.0,NaN
1009,TOS01005822,0,Istia,Grosseto,GR,OmbroneGR,idrometro,m,745679.0,42.777814,11.187915,1679007.91,4738479.21,18.0,NaN
1010,TOS16005821,0,Istia Siap,Grosseto,GR,OmbroneGR,idrometro,m,22292.0,42.778538,11.191791,1679322.90,4738567.82,NaN,NaN
2341,TOS01000581,0,Stia,Pratovecchio Stia,AR,NaN,pluviometro,mm,740157.0,43.801781,11.717606,1718639.13,4853463.19,537.0,NaN
2342,TOS01000581,0,Stia,Pratovecchio Stia,AR,NaN,pluviometro,mm,740177.0,43.801781,11.717606,1718639.13,4853463.19,537.0,NaN
2343,TOS01004379,0,Stia,Pratovecchio Stia,AR,Arno,idrometro,m,740109.0,43.800511,11.705702,1717686.16,4853290.74,537.0,NaN
2344,TOS01004379,0,Stia,Pratovecchio Stia,AR,Arno,idrometro,m,740129.0,43.800511,11.705702,1717686.16,4853290.74,537.0,NaN
2345,TOS11000105,0,Stia Monte,Pratovecchio Stia,AR,NaN,anemometro,deg,749855.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2346,TOS11000105,0,Stia Monte,Pratovecchio Stia,AR,NaN,anemometro,m/s,749856.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2347,TOS11000105,3,Stia Monte3,Pratovecchio Stia,AR,NaN,anemometro,m/s,749893.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2348,TOS11000105,0,Stia Monte,Pratovecchio Stia,AR,NaN,barometro,mB,749853.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2349,TOS11000105,0,Stia Monte,Pratovecchio Stia,AR,NaN,igrometro,%,749852.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2350,TOS11000105,0,Stia Monte,Pratovecchio Stia,AR,NaN,pluviometro,mm,749857.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2351,TOS11000105,0,Stia Monte,Pratovecchio Stia,AR,NaN,termometro,�C,749851.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2352,TOS11000042,0,Stiacciole,Grosseto,GR,NaN,igrometro,%,753352.0,42.788848,11.175772,1677982.90,4739678.82,53.0,NaN
2353,TOS11000042,0,Stiacciole,Grosseto,GR,NaN,pluviometro,mm,753357.0,42.788848,11.175772,1677982.90,4739678.82,53.0,NaN
2354,TOS11000042,0,Stiacciole,Grosseto,GR,NaN,radiometro solare,W/mq,753354.0,42.788848,11.175772,1677982.90,4739678.82,53.0,NaN
2355,TOS11000042,0,Stiacciole,Grosseto,GR,NaN,termometro,�C,753351.0,42.788848,11.175772,1677982.90,4739678.82,53.0,NaN
2356,TOS03001550,0,Stiappa Siap,Pescia,PT,NaN,pluviometro,mm,736057.0,43.994901,10.711244,1637239.90,4872745.82,605.0,2.0
2467,TOS01000571,0,Vallucciole,Pratovecchio Stia,AR,NaN,pluviometro,mm,739707.0,43.842022,11.657476,1713658.39,4857775.52,745.0,2.0

In [292]:
choose(2341)

In [293]:
move_on('Tereglio_Coreglia_Antelminelli')

In [294]:
query('Tereglio')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2402,TOS02000339,0,Tereglio,Coreglia Antelminelli,LU,NaN,pluviometro,mm,731257.0,44.059846,10.567786,1625599.84,4879730.47,590.0,2.0

In [295]:
choose(2402)

In [296]:
move_on('Terni')

In [297]:
query('Terni')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [298]:
move_on('Velletri')

In [299]:
query('Velletri')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [300]:
query('Vell')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
774,TOS01001273,0,Fattoria Iavello,Montemurlo,PO,NaN,pluviometro,mm,736557.0,43.959575,11.069778,1666086.48,4869481.21,518.0,2.0
1575,TOS02000381,0,Pian di Novello,Abetone Cutigliano,PT,NaN,pluviometro,mm,14069.0,44.113244,10.694341,1635614.21,4885862.26,1110.0,2.0

In [301]:
move_on('Vernio')

In [302]:
query('Vernio')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2495,TOS01001171,0,Vernio,Vernio,PO,NaN,pluviometro,mm,737807.0,44.056676,11.120557,1669883.12,4880369.81,695.0,2.0
2496,TOS11000506,0,Vernio,Vernio,PO,NaN,anemometro,deg,550661.0,44.036938,11.149634,1672269.39,4878237.79,349.0,NaN
2497,TOS11000506,0,Vernio,Vernio,PO,NaN,anemometro,m/s,550651.0,44.036938,11.149634,1672269.39,4878237.79,349.0,NaN
2498,TOS11000506,0,Vernio,Vernio,PO,NaN,igrometro,%,550631.0,44.036938,11.149634,1672269.39,4878237.79,349.0,NaN
2499,TOS11000506,0,Vernio,Vernio,PO,NaN,pluviometro,mm,550601.0,44.036938,11.149634,1672269.39,4878237.79,349.0,NaN
2500,TOS11000506,0,Vernio,Vernio,PO,NaN,radiometro solare,W/mq,550619.0,44.036938,11.149634,1672269.39,4878237.79,349.0,NaN
2501,TOS11000506,0,Vernio,Vernio,PO,NaN,termometro,�C,550621.0,44.036938,11.149634,1672269.39,4878237.79,349.0,NaN

In [303]:
query('Vernio', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2495,TOS01001171,0,Vernio,Vernio,PO,NaN,pluviometro,mm,737807.0,44.056676,11.120557,1669883.12,4880369.81,695.0,2.0
2499,TOS11000506,0,Vernio,Vernio,PO,NaN,pluviometro,mm,550601.0,44.036938,11.149634,1672269.39,4878237.79,349.0,NaN

In [304]:
choose(2499, "On map, this was closest to the 'Vernio' label")

In [305]:
move_on('Vetta_Amiata')

In [306]:
query('Amiata')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
11,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,anemometro,deg,747305.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
12,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,anemometro,m/s,747306.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
13,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,anemometro,m/s,747343.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
14,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,barometro,mB,747303.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,6.0
15,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,igrometro,%,747302.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
16,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,nivometro,m,747344.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,4.0
17,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,pluviometro,mm,747307.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
18,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,radiometro solare,W/mq,747304.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,6.0
19,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,termometro,�C,747301.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
20,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,anemometro,deg,811561.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
21,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,anemometro,m/s,811551.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,10.0
22,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,igrometro,%,811531.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
23,TOS19000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,nivometro,m,747345.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
24,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,pluviometro,mm,747327.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
25,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,termometro,�C,747321.0,42.890100,11.625200,1714392.23,4751970.05,1678.0,3.0
1224,TOS01005761,0,Monte Amiata Scalo,Montalcino,SI,Orcia,idrometro,m,744809.0,42.975772,11.546923,1707711.90,4761287.82,NaN,NaN

In [307]:
query('Vetta Amiata', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
17,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,pluviometro,mm,747307.0,42.8901,11.6252,1714392.23,4751970.05,1678.0,3.0
24,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,pluviometro,mm,747327.0,42.8901,11.6252,1714392.23,4751970.05,1678.0,3.0

In [308]:
choose(17)

In [309]:
jsons.dumps(searches)

'[{"final": 26, "location": "Abbadia_S_Salvatore", "queries": {"Abbadia": [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]}}, {"location": "Arbure", "queries": {"Arbure": [], "bure": [], "Ar": [62, 67, 68, 69, 70, 71, 72, 73, 74, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 199, 200, 201, 215, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 290, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 374, 375, 376, 377, 378, 379, 380, 381, 382, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 447, 448, 449, 450, 451, 452, 453, 454, 458, 459, 460, 461, 462, 463, 464, 474, 475, 476, 477, 478, 479, 480, 492, 499, 500, 501, 502, 503, 504, 505, 506, 525, 526, 527, 528, 529, 530, 531, 532, 533, 567, 568, 569, 570, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 668, 669, 684, 685, 686, 701, 702, 703, 704, 708, 709, 730, 731, 732, 733, 734, 735, 747, 748, 749, 750, 751, 752, 753, 754, 820, 821, 822, 853, 854, 855, 856, 857, 858, 915, 916, 917, 973, 974, 975, 976, 977, 978, 983, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1011, 1012, 1013, 1033, 1034, 1035, 1048, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1103, 1104, 1105, 1106, 1115, 1118, 1119, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1176, 1177, 1178, 1208, 1209, 1210, 1218, 1227, 1228, 1229, 1230, 1231, 1247, 1263, 1264, 1265, 1266, 1267, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1410, 1411, 1412, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1427, 1428, 1429, 1430, 1450, 1451, 1452, 1468, 1469, 1470, 1471, 1475, 1476, 1477, 1484, 1485, 1486, 1487, 1488, 1502, 1503, 1504, 1505, 1506, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1536, 1537, 1556, 1557, 1558, 1559, 1560, 1561, 1587, 1643, 1644, 1645, 1646, 1647, 1648, 1661, 1662, 1663, 1682, 1683, 1684, 1685, 1686, 1717, 1718, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1777, 1780, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1806, 1807, 1808, 1820, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1957, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1980, 1998, 1999, 2000, 2001, 2002, 2003, 2045, 2051, 2052, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2225, 2242, 2245, 2246, 2258, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278, 2314, 2315, 2317, 2318, 2319, 2320, 2321, 2323, 2324, 2325, 2326, 2331, 2332, 2336, 2337, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2403, 2404, 2405, 2415, 2416, 2421, 2422, 2423, 2424, 2425, 2455, 2456, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2491, 2492, 2493, 2505, 2506, 2507, 2523, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533], "Arb": [178, 179, 180, 181, 182, 183, 215, 567, 733, 734, 735, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1147, 1148, 1149, 1150, 1151, 1176, 1177, 1178, 1227, 1228, 1229, 1230, 1231, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1717, 1718, 1785, 1957, 1998, 1999, 2000, 2001, 2002, 2003, 2331, 2332, 2336, 2337]}}, {"location": "Bastia_Umbra", "queries": {"Bastia": [], "Umbra": [], "astia": [], "mbra": [66, 1847, 1848, 1849]}}, {"final": 205, "location": "Bibbiena", "queries": {"Bibbiena": [205, 206, 1902, 1903, 1904]}}, {"final": 236, "location": "Borgo_a_Mozzano", "queries": {"Mozzano": [234, 235, 236, 237, 650, 651, 652, 653, 654, 655, 742, 743, 744, 851]}}, {"location": "Bugnano", "queries": {"Bugnano": [], "ugnano": [400, 1226, 1524, 1525]}}, {"location": "C10_Petrignano", "queries": {"Petrignano": [], "C10": []}}, {"location": "CC1", "queries": {"CC1": []}}, {"location": "CC2", "queries": {"CC2": []}}, {"location": "CSA", "queries": {"CSA": []}}, {"location": "CSAL", "queries": {"CSAL": []}}, {"final": 285, "location": "Calavorno", "queries": {"Calavorno": [283, 284, 285, 286]}}, {"final": 305, "location": "Camaldoli", "queries": {"Camaldoli": [305, 306, 307, 308]}}, {"final": 510, "location": "Castel_del_Piano", "queries": {"Piano": [314, 315, 316, 317, 318, 508, 509, 510, 511, 512, 513, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1588, 1589, 1590, 1591, 1592, 1593, 2254, 2255, 2256], "Castel del Piano": [508, 509, 510, 511, 512, 513, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 2254, 2255, 2256]}}, {"final": 567, "location": "Cavallina", "queries": {"Cavallina": [567]}}, {"location": "CoS", "queries": {"CoS": [698, 699, 700, 2064]}}, {"final": 680, "location": "Consuma", "queries": {"Consuma": [679, 680, 681]}}, {"final": 704, "location": "Croce_Arcana", "queries": {"Arcana": [701, 702, 703, 704]}}, {"location": "DIEC", "queries": {"DIEC": [742, 743, 744]}}, {"final": 730, "location": "David_Lazzaretti", "queries": {"David": [730, 731, 732]}}, {"location": "Ermicciolo", "queries": {"Ermicciolo": [], "Ermi": [], "cciolo": [1883], "ciolo": [1883]}}, {"final": 772, "location": "Fabbriche_di_Vallico", "queries": {"Fabbriche": [772, 773, 852]}}, {"final": 789, "location": "Firenze", "queries": {"Firenze": [781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 1435, 1436, 1437, 1499, 1500, 1501, 1781, 2517, 2518, 2519], "Firenze/termometro": [786, 789, 805, 806]}, "why": "All within 3km of each other; temperature shouldn\'t vary much at that distance, right? split the distance difference"}, {"location": "Fiume_Chiascio_Petrignano", "queries": {"Fiume": [], "Chiascio": []}}, {"location": "Galleria_Alta", "queries": {"Galleria": [], "Alta": [455, 456, 457], "Galeria": [], "Gal": [383, 384, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 899]}}, {"final": 887, "location": "Gallicano", "queries": {"Gallicano": [887]}}, {"final": 1000, "location": "Incisa", "queries": {"Incisa": [983, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746], "Incisa/pluviometro": [983, 1000, 1001, 1743, 1744]}, "why": "\\"Incisa Valle\\" seems the most representative"}, {"location": "LT2", "queries": {"LT2": [], "LT": [455, 456, 457, 670, 671, 672, 673, 674, 1028, 1029, 1030, 1031, 1032, 1204, 1205, 1206, 1207, 1764, 1765, 1766, 1767, 1768, 1769, 1847, 1848, 1849, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564, 2565, 2566]}}, {"final": 8, "location": "Laghetto_Verde", "queries": {"Laghetto": [3, 4, 5, 6, 7, 8, 9, 10], "Laghetto/pluviometro": [8], "Laghetto/termometro": [10]}}, {"final": 1059, "location": "Laterina", "queries": {"Laterina": [1059, 1060, 1820]}}, {"final": 1067, "location": "Le_Croci", "queries": {"Croci": [1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070], "Le Croci/pluviometro": [1067, 1069, 1070], "Le Croci/termometro": [1068]}}, {"final": 1113, "location": "Lucca_Orto_Botanico", "queries": {"Botanico": [1111, 1112, 1113, 1114]}}, {"location": "Lupa", "queries": {"Lupa": []}}, {"location": "Madonna_di_Canneto", "queries": {"Madonna": [1118, 1119], "Canneto": [374, 375, 376, 377, 378, 379]}}, {"final": 1148, "location": "Mangona", "queries": {"Mangona": [1147, 1148, 1149, 1150, 1151]}}, {"final": 1184, "location": "Mensano", "queries": {"Mensano": [1183, 1184, 1185, 1186, 1187]}}, {"final": 1219, "location": "Montalcinello", "queries": {"Montalcinello": [1219]}}, {"final": 1268, "location": "Monte_S_Quirico", "queries": {"Quirico": [1268, 1269]}}, {"final": 1273, "location": "Monte_Serra", "queries": {"Monte Serra": [1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283], "Monte Serra/pluviometro": [1273, 1280, 1281], "Monte Serra/termometro": [1274, 1283]}, "why": "Doesn\'t seem to be much of a difference; only 500m apart, on top of an aquifer"}, {"location": "Monteporzio", "queries": {"Monteporzio": [], "porzio": [], "Monte": [96, 97, 98, 99, 100, 101, 102, 103, 374, 375, 376, 377, 378, 379, 447, 448, 449, 450, 451, 452, 453, 454, 566, 668, 774, 873, 878, 879, 880, 881, 882, 883, 884, 885, 937, 938, 939, 970, 973, 974, 975, 997, 1048, 1092, 1093, 1094, 1107, 1108, 1109, 1196, 1197, 1198, 1199, 1200, 1201, 1208, 1209, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1588, 1589, 1590, 1591, 1592, 1593, 1670, 1671, 1672, 1717, 1718, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1957, 2041, 2042, 2043, 2078, 2079, 2080, 2115, 2116, 2226, 2227, 2228, 2229, 2230, 2231, 2247, 2248, 2249, 2250, 2251, 2252, 2253, 2257, 2314, 2315, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2441, 2442, 2443, 2444]}}, {"final": 1361, "location": "Monteroni_Arbia_Biena", "queries": {"Arbia": [1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1717, 1718, 1957], "Arbia/pluviometro": [1361, 1364], "Arbia/termometro": [1363]}}, {"final": 1392, "location": "Montevarchi", "queries": {"Montevarchi": [1092, 1093, 1094, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395], "Montevarchi/pluviometro": [1392, 1393]}}, {"final": 1404, "location": "Monticiano_la_Pineta", "queries": {"Pineta": [1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 2320, 2321], "Pineta/pluviometro": [1404, 1405, 2320, 2321]}}, {"final": 1427, "location": "Nave_di_Rosano", "queries": {"Rosano": [1427, 1428, 1429, 1430, 1431]}}, {"final": 1453, "location": "Orentano", "queries": {"Orentano": [1453, 1454, 1455, 1456]}}, {"location": "P24", "queries": {"P24": [], "24": []}}, {"location": "P25", "queries": {"P25": []}}, {"location": "PAG", "queries": {"PAG": [309, 310, 311, 312, 313, 684, 685, 686, 955, 1225, 1489, 1490, 1491, 1492, 1493, 1506, 2025]}}, {"location": "POL", "queries": {"POL": [82, 83, 164, 165, 166, 167, 168, 169, 170, 580, 581, 582, 755, 756, 757, 758, 759, 760, 761, 915, 916, 917, 956, 957, 1159, 1284, 1285, 1286, 1287, 1288, 1289, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1431, 1658, 1659, 1660, 1714, 1715, 1716, 1747, 1748, 1749, 1750, 1751, 1752, 2372, 2373, 2431, 2432, 2433, 2434, 2435, 2436, 2511, 2512, 2513]}}, {"final": 1553, "location": "Pentolina", "queries": {"Pentolina": [1549, 1550, 1551, 1552, 1553, 1554, 1555], "Pentolina/pluviometro": [1553], "Pentolina/termometro": [1555]}}, {"location": "Petrignano", "queries": {"Petrignano": []}}, {"final": 1568, "location": "Piaggione", "queries": {"Piaggione": [1568, 1569, 1570, 1571]}}, {"final": 1711, "location": "Podere_Casetta", "queries": {"Podere": [1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723]}}, {"final": 1815, "location": "Ponte_Orgia", "queries": {"Orgia": [340, 341, 342, 343, 344, 345, 1814, 1815, 2247, 2248, 2249, 2250, 2251, 2252, 2253]}}, {"final": 1776, "location": "Ponte_a_Moriano", "queries": {"Moriano": [1771, 1772, 1773, 1774, 1775, 1776]}}, {"final": 1870, "location": "Pontetetto", "queries": {"Pontet": [1868, 1869, 1870, 1871]}}, {"location": "Pozzo_1", "queries": {"Pozzo": [1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910]}}, {"location": "Pozzo_2", "queries": {}}, {"location": "Pozzo_3", "queries": {}}, {"location": "Pozzo_4", "queries": {}}, {"location": "Pozzo_5", "queries": {}}, {"location": "Pozzo_5+6", "queries": {}}, {"location": "Pozzo_6", "queries": {}}, {"location": "Pozzo_7", "queries": {}}, {"location": "Pozzo_8", "queries": {}}, {"location": "Pozzo_9", "queries": {}}, {"location": "SAL", "queries": {"SAL": [26, 27, 117, 118, 119, 120, 121, 122, 455, 456, 457, 661, 662, 663, 664, 665, 666, 667, 1831, 2200, 2201, 2202, 2203, 2225, 2322, 2327, 2328, 2329, 2330]}}, {"final": 2045, "location": "S_Agata", "queries": {"Agata": [2045]}}, {"final": 2094, "location": "S_Fiora", "queries": {"Fiora": [730, 731, 732, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106], "Fiora/pluviometro": [2094, 2095], "Fiora/termometro": [2097, 2098, 2099, 2100]}}, {"final": 2101, "location": "S_Fiora_11bis", "queries": {"11bis": [2101, 2102, 2103]}}, {"final": 2104, "location": "S_Fiora_8", "queries": {"Fiora 8": [2104, 2105, 2106]}}, {"final": 2162, "location": "S_Piero", "queries": {"Piero": [1152, 1153, 1154, 1777, 1908, 1909, 1910, 2045, 2158, 2159, 2160, 2161, 2162], "Piero/pluviometro": [1153, 1777, 2045, 2162]}}, {"final": 1271, "location": "S_Savino", "queries": {"Savino": [1270, 1271, 1272]}}, {"final": 2251, "location": "Scorgiano", "queries": {"Scorgiano": [2247, 2248, 2249, 2250, 2251, 2252, 2253], "Scorgiano/pluviometro": [2251]}}, {"location": "Settefrati", "queries": {"Settefrati": [], "Sette": [], "frati": []}}, {"final": 2298, "location": "Siena_Poggio_al_Vento", "queries": {"Poggio": [1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 2081, 2082, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2294, 2295, 2296, 2297, 2298, 2299], "Poggio/pluviometro": [1737, 1738, 1743, 1744, 1751, 1753, 1754, 2081, 2155, 2298], "Siena Poggio/termometro": [2299]}}, {"final": 2300, "location": "Simignano", "queries": {"Simignano": [2300]}}, {"final": 2313, "location": "Sovicille", "queries": {"Sovicille": [1711, 1712, 1713, 1814, 1815, 2300, 2313]}}, {"final": 2341, "location": "Stia", "queries": {"Stia": [1008, 1009, 1010, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2467]}}, {"final": 2402, "location": "Tereglio_Coreglia_Antelminelli", "queries": {"Tereglio": [2402]}}, {"location": "Terni", "queries": {"Terni": []}}, {"location": "Velletri", "queries": {"Velletri": [], "Vell": [774, 1575]}}, {"final": 2499, "location": "Vernio", "queries": {"Vernio": [2495, 2496, 2497, 2498, 2499, 2500, 2501], "Vernio/pluviometro": [2495, 2499]}, "why": "On map, this was closest to the \'Vernio\' label"}, {"final": 17, "location": "Vetta_Amiata", "queries": {"Amiata": [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 1224], "Vetta Amiata/pluviometro": [17, 24]}}]'

In [312]:
with open('station-search.json', 'w') as fp:
    fp.write(jsons.dumps(searches))

In [316]:
searches[0]

In [317]:
jsons.dumps(searches[0])

'{"final": 26, "location": "Abbadia_S_Salvatore", "queries": {"Abbadia": [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]}}'

# Put It All Together

In [352]:
predf = {
    'Name of Column': [],
    'Features Measured': [],
    'Station ID': [],
    'Latitude': [],
    'Longitude': [],
    'Elevation (m)': []
}

for s in searches:
    predf['Name of Column'].append(s.location)
    feats = ', '.join(loc_meas[s.location]).replace('_', ' ')
    predf['Features Measured'].append(feats)
    if hasattr(s, 'final'):
        r = stazioni.loc[s.final]
        el = r['Quota'] if r['Quota'] == r['Quota'] else ''
        predf['Station ID'].append(r['IDStazione'])
        predf['Latitude'].append(r['LAT [o]'])
        predf['Longitude'].append(r['LON [o]'])
        predf['Elevation (m)'].append(el)
    else:
        predf['Station ID'].append('')
        predf['Latitude'].append('')
        predf['Longitude'].append('')
        predf['Elevation (m)'].append('')

prehtml = pd.DataFrame(predf, dtype='string')

In [353]:
prehtml

,Name of Column,Features Measured,Station ID,Latitude,Longitude,Elevation (m)
0,Abbadia_S_Salvatore,"Rainfall, Temperature",TOS07000001,42.8943436457514,11.6693687438965,855.0
1,Arbure,Flow Rate,,,,
2,Bastia_Umbra,"Rainfall, Temperature",,,,
3,Bibbiena,Rainfall,TOS01000626,43.7141492697,11.8309493029,415.0
4,Borgo_a_Mozzano,Rainfall,TOS02004271,43.9798766944972,10.5515098571777,100.0
...,...,...,...,...,...,...
79,Tereglio_Coreglia_Antelminelli,Rainfall,TOS02000339,44.0598455627244,10.5677855014801,590.0
80,Terni,Rainfall,,,,
81,Velletri,"Rainfall, Temperature",,,,
82,Vernio,Rainfall,TOS11000506,44.0369377887391,11.149634357813,349.0
83,Vetta_Amiata,Rainfall,TOS11000115,42.8901,11.6252,1678.0

In [354]:
prehtml['Features Measured'].unique()

<StringArray>
[       'Rainfall, Temperature',                    'Flow Rate',
                     'Rainfall',                       'Volume',
         'Depth to Groundwater',                  'Temperature',
                   'Hydrometry',         'Hydrometry, Rainfall',
 'Depth to Groundwater, Volume']
Length: 9, dtype: string

In [356]:
c1 = prehtml['Station ID'] == ''
c2 = prehtml['Elevation (m)'] == ''
prehtml[~c1 & c2]

,Name of Column,Features Measured,Station ID,Latitude,Longitude,Elevation (m)
53,Ponte_Orgia,Rainfall,TOS03005707,43.2146453955979,11.2581115961075,

In [357]:
prehtml.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83])

In [366]:
html = '''
<table class="table">
    <thead>
        <tr class="bg-secondary text-light">
'''

for c in prehtml.columns:
    html += f'<th class="p-1">{c}</th>'

html += '''
        </tr>
    </thead>
    <tbody>
'''

for i in prehtml.index.values:
    r = prehtml.loc[i]
    html += ''.join([
        '<tr>',
        f"<td><code>{r['Name of Column']}</code></td>",
        f"<td>{r['Features Measured']}</td>"
    ])
    if r['Station ID'] != '':
        html += ''.join([
            f"<td>{r['Station ID']}</td>",
            f"<td>{float(r['Latitude']):.6f}</td>",
            f"<td>{float(r['Longitude']):.6f}</td>"
        ])
        el = r['Elevation (m)']
        if el != '':
            if el.endswith('.0'):
                html += f"<td>{el[:-2]}</td>"
            else:
                html += f"<td>{el}</td>"
        else: # Ponte Orgia is missing elevation
            html += '<td class="text-danger">??</td>'
    else:
        html += '''
            <td class="text-danger">??</td>
            <td></td>
            <td></td>
            <td></td>
        '''
    html += '</tr>'

html += '''
    </tbody>
</table>
'''

In [367]:
html

'\n<table class="table">\n    <thead>\n        <tr class="bg-secondary text-light">\n<th class="p-1">Name of Column</th><th class="p-1">Features Measured</th><th class="p-1">Station ID</th><th class="p-1">Latitude</th><th class="p-1">Longitude</th><th class="p-1">Elevation (m)</th>\n        </tr>\n    </thead>\n    <tbody>\n<tr><td><code>Abbadia_S_Salvatore</code></td><td>Rainfall, Temperature</td><td>TOS07000001</td><td>42.894344</td><td>11.669369</td><td>855</td></tr><tr><td><code>Arbure</code></td><td>Flow Rate</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Bastia_Umbra</code></td><td>Rainfall, Temperature</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Bibbiena</code></td><td>Rainfall</td><td>TOS01000626</td><td>43.714149</td><td>11.830949</td><td>415</td></tr><tr><td><code>Borgo_a_Mozzano</code></td><td>Rainfall</td><td>TOS02004271</td><td>43.979877</td><td>10.551510</td><td>100</td></tr><tr><td><code>Bugnano</code></td><td>Flow Rate</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>C10_Petrignano</code></td><td>Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>CC1</code></td><td>Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>CC2</code></td><td>Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>CSA</code></td><td>Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>CSAL</code></td><td>Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Calavorno</code></td><td>Rainfall</td><td>TOS02004195</td><td>44.019750</td><td>10.535103</td><td>137</td></tr><tr><td><code>Camaldoli</code></td><td>Rainfall</td><td>TOS01000611</td><td>43.810416</td><td>11.817376</td><td>1111</td></tr><tr><td><code>Castel_del_Piano</code></td><td>Rainfall</td><td>TOS03002901</td><td>42.893956</td><td>11.526710</td><td>566</td></tr><tr><td><code>Cavallina</code></td><td>Rainfall</td><td>TOS01000911</td><td>43.983567</td><td>11.237420</td><td>256</td></tr><tr><td><code>CoS</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Consuma</code></td><td>Rainfall</td><td>TOS01001041</td><td>43.784466</td><td>11.585201</td><td>955</td></tr><tr><td><code>Croce_Arcana</code></td><td>Rainfall</td><td>TOS02000372</td><td>44.129883</td><td>10.781536</td><td>1716</td></tr><tr><td><code>DIEC</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>David_Lazzaretti</code></td><td>Depth to Groundwater</td><td>TOS29000055</td><td>42.859722</td><td>11.602777</td><td>1080</td></tr><tr><td><code>Ermicciolo</code></td><td>Flow Rate</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Fabbriche_di_Vallico</code></td><td>Rainfall</td><td>TOS02000332</td><td>43.999596</td><td>10.432135</td><td>345</td></tr><tr><td><code>Firenze</code></td><td>Temperature</td><td>TOS01001095</td><td>43.779197</td><td>11.258056</td><td>50</td></tr><tr><td><code>Fiume_Chiascio_Petrignano</code></td><td>Hydrometry</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Galleria_Alta</code></td><td>Flow Rate</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Gallicano</code></td><td>Rainfall</td><td>TOS02000299</td><td>44.064125</td><td>10.442982</td><td>179</td></tr><tr><td><code>Incisa</code></td><td>Rainfall</td><td>TOS01004591</td><td>43.689849</td><td>11.456191</td><td>108.42</td></tr><tr><td><code>LT2</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Laghetto_Verde</code></td><td>Rainfall, Temperature</td><td>TOS11000114</td><td>42.883103</td><td>11.661623</td><td>910</td></tr><tr><td><code>Laterina</code></td><td>Rainfall</td><td>TOS01000799</td><td>43.508954</td><td>11.716307</td><td>210</td></tr><tr><td><code>Le_Croci</code></td><td>Rainfall, Temperature</td><td>TOS01000926</td><td>44.007030</td><td>11.271254</td><td>388</td></tr><tr><td><code>Lucca_Orto_Botanico</code></td><td>Temperature</td><td>TOS02000512</td><td>43.841864</td><td>10.510860</td><td>16</td></tr><tr><td><code>Lupa</code></td><td>Flow Rate</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Madonna_di_Canneto</code></td><td>Flow Rate</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Mangona</code></td><td>Rainfall</td><td>TOS01000921</td><td>44.050061</td><td>11.195636</td><td>540</td></tr><tr><td><code>Mensano</code></td><td>Rainfall, Temperature</td><td>TOS03001385</td><td>43.291376</td><td>11.071148</td><td>365</td></tr><tr><td><code>Montalcinello</code></td><td>Rainfall</td><td>TOS03002733</td><td>43.203111</td><td>11.076620</td><td>380</td></tr><tr><td><code>Monte_S_Quirico</code></td><td>Hydrometry</td><td>TOS02004291</td><td>43.857255</td><td>10.506863</td><td>25</td></tr><tr><td><code>Monte_Serra</code></td><td>Rainfall, Temperature</td><td>TOS01001801</td><td>43.751788</td><td>10.555000</td><td>918</td></tr><tr><td><code>Monteporzio</code></td><td>Rainfall, Temperature</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Monteroni_Arbia_Biena</code></td><td>Rainfall, Temperature</td><td>TOS11000082</td><td>43.243014</td><td>11.416887</td><td>165</td></tr><tr><td><code>Montevarchi</code></td><td>Rainfall</td><td>TOS01004571</td><td>43.541212</td><td>11.566208</td><td>133.8</td></tr><tr><td><code>Monticiano_la_Pineta</code></td><td>Rainfall</td><td>TOS03002742</td><td>43.134374</td><td>11.242022</td><td>450</td></tr><tr><td><code>Nave_di_Rosano</code></td><td>Hydrometry</td><td>TOS01004659</td><td>43.771197</td><td>11.422816</td><td>78.84</td></tr><tr><td><code>Orentano</code></td><td>Rainfall, Temperature</td><td>TOS01001889</td><td>43.774425</td><td>10.657082</td><td>22</td></tr><tr><td><code>P24</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>P25</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>PAG</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>POL</code></td><td>Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pentolina</code></td><td>Rainfall, Temperature</td><td>TOS11000080</td><td>43.208502</td><td>11.179902</td><td>450</td></tr><tr><td><code>Petrignano</code></td><td>Temperature</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Piaggione</code></td><td>Hydrometry, Rainfall</td><td>TOS02004284</td><td>43.929353</td><td>10.514275</td><td>72</td></tr><tr><td><code>Podere_Casetta</code></td><td>Depth to Groundwater</td><td>TOS19000681</td><td>43.252262</td><td>11.225785</td><td>192.57</td></tr><tr><td><code>Ponte_Orgia</code></td><td>Rainfall</td><td>TOS03005707</td><td>43.214645</td><td>11.258112</td><td class="text-danger">??</td></tr><tr><td><code>Ponte_a_Moriano</code></td><td>Temperature</td><td>TOS11000109</td><td>43.890091</td><td>10.529101</td><td>33</td></tr><tr><td><code>Pontetetto</code></td><td>Rainfall</td><td>TOS02004315</td><td>43.829653</td><td>10.469765</td><td>12.99</td></tr><tr><td><code>Pozzo_1</code></td><td>Depth to Groundwater, Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_2</code></td><td>Depth to Groundwater, Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_3</code></td><td>Depth to Groundwater, Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_4</code></td><td>Depth to Groundwater, Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_5</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_5+6</code></td><td>Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_6</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_7</code></td><td>Depth to Groundwater, Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_8</code></td><td>Depth to Groundwater, Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Pozzo_9</code></td><td>Depth to Groundwater, Volume</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>SAL</code></td><td>Depth to Groundwater</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>S_Agata</code></td><td>Rainfall</td><td>TOS01000961</td><td>44.020694</td><td>11.337209</td><td>357</td></tr><tr><td><code>S_Fiora</code></td><td>Rainfall, Temperature</td><td>TOS11000052</td><td>42.854480</td><td>11.555793</td><td>813</td></tr><tr><td><code>S_Fiora_11bis</code></td><td>Depth to Groundwater</td><td>TOS20000004</td><td>42.838214</td><td>11.584455</td><td>706</td></tr><tr><td><code>S_Fiora_8</code></td><td>Depth to Groundwater</td><td>TOS20000003</td><td>42.838184</td><td>11.585775</td><td>705</td></tr><tr><td><code>S_Piero</code></td><td>Rainfall</td><td>TOS01004621</td><td>43.965105</td><td>11.328013</td><td>222</td></tr><tr><td><code>S_Savino</code></td><td>Rainfall</td><td>TOS01000741</td><td>43.339127</td><td>11.742346</td><td>275</td></tr><tr><td><code>Scorgiano</code></td><td>Rainfall</td><td>TOS11000025</td><td>43.366271</td><td>11.151425</td><td>233</td></tr><tr><td><code>Settefrati</code></td><td>Rainfall, Temperature</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Siena_Poggio_al_Vento</code></td><td>Rainfall, Temperature</td><td>TOS01002661</td><td>43.320448</td><td>11.312592</td><td>348</td></tr><tr><td><code>Simignano</code></td><td>Rainfall</td><td>TOS01001379</td><td>43.292050</td><td>11.167234</td><td>420</td></tr><tr><td><code>Sovicille</code></td><td>Rainfall</td><td>TOS03002761</td><td>43.276294</td><td>11.229860</td><td>260</td></tr><tr><td><code>Stia</code></td><td>Rainfall</td><td>TOS01000581</td><td>43.801781</td><td>11.717606</td><td>537</td></tr><tr><td><code>Tereglio_Coreglia_Antelminelli</code></td><td>Rainfall</td><td>TOS02000339</td><td>44.059846</td><td>10.567786</td><td>590</td></tr><tr><td><code>Terni</code></td><td>Rainfall</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Velletri</code></td><td>Rainfall, Temperature</td>\n            <td class="text-danger">??</td>\n            <td></td>\n            <td></td>\n            <td></td>\n        </tr><tr><td><code>Vernio</code></td><td>Rainfall</td><td>TOS11000506</td><td>44.036938</td><td>11.149634</td><td>349</td></tr><tr><td><code>Vetta_Amiata</code></td><td>Rainfall</td><td>TOS11000115</td><td>42.890100</td><td>11.625200</td><td>1678</td></tr>\n    </tbody>\n</table>\n'

In [368]:
with open('location-table.html', 'w') as fp:
    fp.write(html)