In [1]:
import pandas as pd

In [4]:
auser = pd.read_csv('../../data/raw/aquifer/auser.csv')
print(auser.shape)
auser.head()

(8154, 27)

,Date,Rainfall_Gallicano,Rainfall_Pontetetto,Rainfall_Monte_Serra,Rainfall_Orentano,Rainfall_Borgo_a_Mozzano,Rainfall_Piaggione,Rainfall_Calavorno,Rainfall_Croce_Arcana,Rainfall_Tereglio_Coreglia_Antelminelli,...,Temperature_Monte_Serra,Temperature_Ponte_a_Moriano,Temperature_Lucca_Orto_Botanico,Volume_POL,Volume_CC1,Volume_CC2,Volume_CSA,Volume_CSAL,Hydrometry_Monte_S_Quirico,Hydrometry_Piaggione
0,05/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,10.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.2,0.0,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,08/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.4,0.0,13.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.4,0.0,12.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
auser.columns

Index(['Date', 'Rainfall_Gallicano', 'Rainfall_Pontetetto',
       'Rainfall_Monte_Serra', 'Rainfall_Orentano', 'Rainfall_Borgo_a_Mozzano',
       'Rainfall_Piaggione', 'Rainfall_Calavorno', 'Rainfall_Croce_Arcana',
       'Rainfall_Tereglio_Coreglia_Antelminelli',
       'Rainfall_Fabbriche_di_Vallico', 'Depth_to_Groundwater_LT2',
       'Depth_to_Groundwater_SAL', 'Depth_to_Groundwater_PAG',
       'Depth_to_Groundwater_CoS', 'Depth_to_Groundwater_DIEC',
       'Temperature_Orentano', 'Temperature_Monte_Serra',
       'Temperature_Ponte_a_Moriano', 'Temperature_Lucca_Orto_Botanico',
       'Volume_POL', 'Volume_CC1', 'Volume_CC2', 'Volume_CSA', 'Volume_CSAL',
       'Hydrometry_Monte_S_Quirico', 'Hydrometry_Piaggione'],
      dtype='object')

In [12]:
cols_rain = [
    'Rainfall_Gallicano',
    'Rainfall_Pontetetto',
    'Rainfall_Monte_Serra',
    'Rainfall_Orentano',
    'Rainfall_Borgo_a_Mozzano',
    'Rainfall_Piaggione',
    'Rainfall_Calavorno',
    'Rainfall_Croce_Arcana',
    'Rainfall_Tereglio_Coreglia_Antelminelli',
    'Rainfall_Fabbriche_di_Vallico'
]

cols_depth = [
    'Depth_to_Groundwater_LT2',
    'Depth_to_Groundwater_SAL',
    'Depth_to_Groundwater_PAG',
    'Depth_to_Groundwater_CoS',
    'Depth_to_Groundwater_DIEC'
]

cols_temp = [
    'Temperature_Orentano',
    'Temperature_Monte_Serra',
    'Temperature_Ponte_a_Moriano',
    'Temperature_Lucca_Orto_Botanico'
]

cols_vol = [
    'Volume_POL',
    'Volume_CC1',
    'Volume_CC2',
    'Volume_CSA',
    'Volume_CSAL'
]

cols_hydro = [
    'Hydrometry_Monte_S_Quirico',
    'Hydrometry_Piaggione'
]

all_cols = [cols_rain, cols_depth, cols_temp, cols_vol, cols_hydro]
for x in all_cols:
    for c in x:
        auser[c]

In [13]:
auser['Date'] = pd.to_datetime(auser['Date'], format='%d/%m/%Y')

In [14]:
auser.isnull().sum()

Date                                          0
Rainfall_Gallicano                         2859
Rainfall_Pontetetto                        2859
Rainfall_Monte_Serra                       2865
Rainfall_Orentano                          2859
Rainfall_Borgo_a_Mozzano                   2859
Rainfall_Piaggione                         3224
Rainfall_Calavorno                         2859
Rainfall_Croce_Arcana                      2859
Rainfall_Tereglio_Coreglia_Antelminelli    2859
Rainfall_Fabbriche_di_Vallico              2859
Depth_to_Groundwater_LT2                   3352
Depth_to_Groundwater_SAL                   3609
Depth_to_Groundwater_PAG                   4347
Depth_to_Groundwater_CoS                   3839
Depth_to_Groundwater_DIEC                  4884
Temperature_Orentano                          0
Temperature_Monte_Serra                       0
Temperature_Ponte_a_Moriano                   0
Temperature_Lucca_Orto_Botanico               0
Volume_POL                                 2494
Volume_CC1                                 2494
Volume_CC2                                 2494
Volume_CSA                                 2494
Volume_CSAL                                2494
Hydrometry_Monte_S_Quirico                  913
Hydrometry_Piaggione                       2035
dtype: int64

In [15]:
auser[auser['Hydrometry_Monte_S_Quirico'].isnull()]['Date']

0      1998-03-05
1      1998-03-06
2      1998-03-07
3      1998-03-08
4      1998-03-09
          ...
5642   2013-08-15
5644   2013-08-17
5647   2013-08-20
7515   2018-10-01
7629   2019-01-23
Name: Date, Length: 913, dtype: datetime64[ns]

In [17]:
for x in all_cols:
    for c in x:
        print(c, '...', auser[~auser[c].isnull()]['Date'].values[0])

Rainfall_Gallicano ... 2006-01-01T00:00:00.000000000
Rainfall_Pontetetto ... 2006-01-01T00:00:00.000000000
Rainfall_Monte_Serra ... 2006-01-01T00:00:00.000000000
Rainfall_Orentano ... 2006-01-01T00:00:00.000000000
Rainfall_Borgo_a_Mozzano ... 2006-01-01T00:00:00.000000000
Rainfall_Piaggione ... 2006-01-01T00:00:00.000000000
Rainfall_Calavorno ... 2006-01-01T00:00:00.000000000
Rainfall_Croce_Arcana ... 2006-01-01T00:00:00.000000000
Rainfall_Tereglio_Coreglia_Antelminelli ... 2006-01-01T00:00:00.000000000
Rainfall_Fabbriche_di_Vallico ... 2006-01-01T00:00:00.000000000
Depth_to_Groundwater_LT2 ... 2006-01-01T00:00:00.000000000
Depth_to_Groundwater_SAL ... 2007-04-06T00:00:00.000000000
Depth_to_Groundwater_PAG ... 2009-01-01T00:00:00.000000000
Depth_to_Groundwater_CoS ... 2006-06-29T00:00:00.000000000
Depth_to_Groundwater_DIEC ... 2011-01-02T00:00:00.000000000
Temperature_Orentano ... 1998-03-05T00:00:00.000000000
Temperature_Monte_Serra ... 1998-03-05T00:00:00.000000000
Temperature_Ponte_a_Moriano ... 1998-03-05T00:00:00.000000000
Temperature_Lucca_Orto_Botanico ... 1998-03-05T00:00:00.000000000
Volume_POL ... 2005-01-01T00:00:00.000000000
Volume_CC1 ... 2005-01-01T00:00:00.000000000
Volume_CC2 ... 2005-01-01T00:00:00.000000000
Volume_CSA ... 2005-01-01T00:00:00.000000000
Volume_CSAL ... 2005-01-01T00:00:00.000000000
Hydrometry_Monte_S_Quirico ... 2000-01-01T00:00:00.000000000
Hydrometry_Piaggione ... 2000-01-01T00:00:00.000000000

In [18]:
from datetime import datetime
auser = auser[auser['Date'] > datetime(1999, 12, 31)]

In [19]:
auser.isnull().sum()

Date                                          0
Rainfall_Gallicano                         2192
Rainfall_Pontetetto                        2192
Rainfall_Monte_Serra                       2198
Rainfall_Orentano                          2192
Rainfall_Borgo_a_Mozzano                   2192
Rainfall_Piaggione                         2557
Rainfall_Calavorno                         2192
Rainfall_Croce_Arcana                      2192
Rainfall_Tereglio_Coreglia_Antelminelli    2192
Rainfall_Fabbriche_di_Vallico              2192
Depth_to_Groundwater_LT2                   2685
Depth_to_Groundwater_SAL                   2942
Depth_to_Groundwater_PAG                   3680
Depth_to_Groundwater_CoS                   3172
Depth_to_Groundwater_DIEC                  4217
Temperature_Orentano                          0
Temperature_Monte_Serra                       0
Temperature_Ponte_a_Moriano                   0
Temperature_Lucca_Orto_Botanico               0
Volume_POL                                 1827
Volume_CC1                                 1827
Volume_CC2                                 1827
Volume_CSA                                 1827
Volume_CSAL                                1827
Hydrometry_Monte_S_Quirico                  246
Hydrometry_Piaggione                       1368
dtype: int64

In [20]:
auser[auser['Hydrometry_Monte_S_Quirico'].isnull()]['Date']

839    2000-06-21
840    2000-06-22
841    2000-06-23
842    2000-06-24
843    2000-06-25
          ...
5642   2013-08-15
5644   2013-08-17
5647   2013-08-20
7515   2018-10-01
7629   2019-01-23
Name: Date, Length: 246, dtype: datetime64[ns]

In [21]:
# BOTH HYDROMETRIES
#
# 6/21/00 - 6/25/00 (Quirico includes 6/26)
# 8/5/00 - 12/31/00
# 10/25/07 (Quirico includes 10/26 - 10/30)
# 10/17/08 - 12/31/08

# MISSING IN QUIRICO
# 8/3, 8/4, 8/11, 8/12, 8/15, 8/17, 8/20/13
# 10/1/18
# 1/23/19

for d in auser[auser['Hydrometry_Monte_S_Quirico'].isnull()]['Date']:
    print(d)

2000-06-21 00:00:00
2000-06-22 00:00:00
2000-06-23 00:00:00
2000-06-24 00:00:00
2000-06-25 00:00:00
2000-06-26 00:00:00
2000-08-05 00:00:00
2000-08-06 00:00:00
2000-08-07 00:00:00
2000-08-08 00:00:00
2000-08-09 00:00:00
2000-08-10 00:00:00
2000-08-11 00:00:00
2000-08-12 00:00:00
2000-08-13 00:00:00
2000-08-14 00:00:00
2000-08-15 00:00:00
2000-08-16 00:00:00
2000-08-17 00:00:00
2000-08-18 00:00:00
2000-08-19 00:00:00
2000-08-20 00:00:00
2000-08-21 00:00:00
2000-08-22 00:00:00
2000-08-23 00:00:00
2000-08-24 00:00:00
2000-08-25 00:00:00
2000-08-26 00:00:00
2000-08-27 00:00:00
2000-08-28 00:00:00
2000-08-29 00:00:00
2000-08-30 00:00:00
2000-08-31 00:00:00
2000-09-01 00:00:00
2000-09-02 00:00:00
2000-09-03 00:00:00
2000-09-04 00:00:00
2000-09-05 00:00:00
2000-09-06 00:00:00
2000-09-07 00:00:00
2000-09-08 00:00:00
2000-09-09 00:00:00
2000-09-10 00:00:00
2000-09-11 00:00:00
2000-09-12 00:00:00
2000-09-13 00:00:00
2000-09-14 00:00:00
2000-09-15 00:00:00
2000-09-16 00:00:00
2000-09-17 00:00:00
2000-09-18 00:00:00
2000-09-19 00:00:00
2000-09-20 00:00:00
2000-09-21 00:00:00
2000-09-22 00:00:00
2000-09-23 00:00:00
2000-09-24 00:00:00
2000-09-25 00:00:00
2000-09-26 00:00:00
2000-09-27 00:00:00
2000-09-28 00:00:00
2000-09-29 00:00:00
2000-09-30 00:00:00
2000-10-01 00:00:00
2000-10-02 00:00:00
2000-10-03 00:00:00
2000-10-04 00:00:00
2000-10-05 00:00:00
2000-10-06 00:00:00
2000-10-07 00:00:00
2000-10-08 00:00:00
2000-10-09 00:00:00
2000-10-10 00:00:00
2000-10-11 00:00:00
2000-10-12 00:00:00
2000-10-13 00:00:00
2000-10-14 00:00:00
2000-10-15 00:00:00
2000-10-16 00:00:00
2000-10-17 00:00:00
2000-10-18 00:00:00
2000-10-19 00:00:00
2000-10-20 00:00:00
2000-10-21 00:00:00
2000-10-22 00:00:00
2000-10-23 00:00:00
2000-10-24 00:00:00
2000-10-25 00:00:00
2000-10-26 00:00:00
2000-10-27 00:00:00
2000-10-28 00:00:00
2000-10-29 00:00:00
2000-10-30 00:00:00
2000-10-31 00:00:00
2000-11-01 00:00:00
2000-11-02 00:00:00
2000-11-03 00:00:00
2000-11-04 00:00:00
2000-11-05 00:00:00
2000-11-06 00:00:00
2000-11-07 00:00:00
2000-11-08 00:00:00
2000-11-09 00:00:00
2000-11-10 00:00:00
2000-11-11 00:00:00
2000-11-12 00:00:00
2000-11-13 00:00:00
2000-11-14 00:00:00
2000-11-15 00:00:00
2000-11-16 00:00:00
2000-11-17 00:00:00
2000-11-18 00:00:00
2000-11-19 00:00:00
2000-11-20 00:00:00
2000-11-21 00:00:00
2000-11-22 00:00:00
2000-11-23 00:00:00
2000-11-24 00:00:00
2000-11-25 00:00:00
2000-11-26 00:00:00
2000-11-27 00:00:00
2000-11-28 00:00:00
2000-11-29 00:00:00
2000-11-30 00:00:00
2000-12-01 00:00:00
2000-12-02 00:00:00
2000-12-03 00:00:00
2000-12-04 00:00:00
2000-12-05 00:00:00
2000-12-06 00:00:00
2000-12-07 00:00:00
2000-12-08 00:00:00
2000-12-09 00:00:00
2000-12-10 00:00:00
2000-12-11 00:00:00
2000-12-12 00:00:00
2000-12-13 00:00:00
2000-12-14 00:00:00
2000-12-15 00:00:00
2000-12-16 00:00:00
2000-12-17 00:00:00
2000-12-18 00:00:00
2000-12-19 00:00:00
2000-12-20 00:00:00
2000-12-21 00:00:00
2000-12-22 00:00:00
2000-12-23 00:00:00
2000-12-24 00:00:00
2000-12-25 00:00:00
2000-12-26 00:00:00
2000-12-27 00:00:00
2000-12-28 00:00:00
2000-12-29 00:00:00
2000-12-30 00:00:00
2000-12-31 00:00:00
2007-10-25 00:00:00
2007-10-26 00:00:00
2007-10-27 00:00:00
2007-10-28 00:00:00
2007-10-29 00:00:00
2007-10-30 00:00:00
2008-10-17 00:00:00
2008-10-18 00:00:00
2008-10-19 00:00:00
2008-10-20 00:00:00
2008-10-21 00:00:00
2008-10-22 00:00:00
2008-10-23 00:00:00
2008-10-24 00:00:00
2008-10-25 00:00:00
2008-10-26 00:00:00
2008-10-27 00:00:00
2008-10-28 00:00:00
2008-10-29 00:00:00
2008-10-30 00:00:00
2008-10-31 00:00:00
2008-11-01 00:00:00
2008-11-02 00:00:00
2008-11-03 00:00:00
2008-11-04 00:00:00
2008-11-05 00:00:00
2008-11-06 00:00:00
2008-11-07 00:00:00
2008-11-08 00:00:00
2008-11-09 00:00:00
2008-11-10 00:00:00
2008-11-11 00:00:00
2008-11-12 00:00:00
2008-11-13 00:00:00
2008-11-14 00:00:00
2008-11-15 00:00:00
2008-11-16 00:00:00
2008-11-17 00:00:00
2008-11-18 00:00:00
2008-11-19 00:00:00
2008-11-20 00:00:00
2008-11-21 00:00:00
2008-11-22 00:00:00
2008-11-23 00:00:00
2008-11-24 00:00:00
2008-11-25 00:00:00
2008-11-26 00:00:00
2008-11-27 00:00:00
2008-11-28 00:00:00
2008-11-29 00:00:00
2008-11-30 00:00:00
2008-12-01 00:00:00
2008-12-02 00:00:00
2008-12-03 00:00:00
2008-12-04 00:00:00
2008-12-05 00:00:00
2008-12-06 00:00:00
2008-12-07 00:00:00
2008-12-08 00:00:00
2008-12-09 00:00:00
2008-12-10 00:00:00
2008-12-11 00:00:00
2008-12-12 00:00:00
2008-12-13 00:00:00
2008-12-14 00:00:00
2008-12-15 00:00:00
2008-12-16 00:00:00
2008-12-17 00:00:00
2008-12-18 00:00:00
2008-12-19 00:00:00
2008-12-20 00:00:00
2008-12-21 00:00:00
2008-12-22 00:00:00
2008-12-23 00:00:00
2008-12-24 00:00:00
2008-12-25 00:00:00
2008-12-26 00:00:00
2008-12-27 00:00:00
2008-12-28 00:00:00
2008-12-29 00:00:00
2008-12-30 00:00:00
2008-12-31 00:00:00
2013-08-03 00:00:00
2013-08-04 00:00:00
2013-08-11 00:00:00
2013-08-12 00:00:00
2013-08-15 00:00:00
2013-08-17 00:00:00
2013-08-20 00:00:00
2018-10-01 00:00:00
2019-01-23 00:00:00

In [24]:
auser[auser['Hydrometry_Piaggione'].isnull()]['Date'].isin(auser[auser['Hydrometry_Monte_S_Quirico'].isnull()]['Date']).sum()

231

In [25]:
null_hydro_a = auser[auser['Hydrometry_Monte_S_Quirico'].isnull()]['Date'].values
null_hydro_b = auser[auser['Hydrometry_Piaggione'].isnull()]['Date'].values

In [26]:
null_hydro_ab = auser[auser['Hydrometry_Monte_S_Quirico'].isnull() & auser['Hydrometry_Piaggione'].isnull()]['Date'].values

In [27]:
null_hydro_a = [d for d in null_hydro_a if d not in null_hydro_ab]
null_hydro_b = [d for d in null_hydro_b if d not in null_hydro_ab]

In [28]:
null_hydro_a

[numpy.datetime64('2000-06-26T00:00:00.000000000'),
 numpy.datetime64('2007-10-26T00:00:00.000000000'),
 numpy.datetime64('2007-10-27T00:00:00.000000000'),
 numpy.datetime64('2007-10-28T00:00:00.000000000'),
 numpy.datetime64('2007-10-29T00:00:00.000000000'),
 numpy.datetime64('2007-10-30T00:00:00.000000000'),
 numpy.datetime64('2013-08-03T00:00:00.000000000'),
 numpy.datetime64('2013-08-04T00:00:00.000000000'),
 numpy.datetime64('2013-08-11T00:00:00.000000000'),
 numpy.datetime64('2013-08-12T00:00:00.000000000'),
 numpy.datetime64('2013-08-15T00:00:00.000000000'),
 numpy.datetime64('2013-08-17T00:00:00.000000000'),
 numpy.datetime64('2013-08-20T00:00:00.000000000'),
 numpy.datetime64('2018-10-01T00:00:00.000000000'),
 numpy.datetime64('2019-01-23T00:00:00.000000000')]

In [29]:
len(null_hydro_b)

1137

In [30]:
null_hydro_ab

array(['2000-06-21T00:00:00.000000000', '2000-06-22T00:00:00.000000000',
       '2000-06-23T00:00:00.000000000', '2000-06-24T00:00:00.000000000',
       '2000-06-25T00:00:00.000000000', '2000-08-05T00:00:00.000000000',
       '2000-08-06T00:00:00.000000000', '2000-08-07T00:00:00.000000000',
       '2000-08-08T00:00:00.000000000', '2000-08-09T00:00:00.000000000',
       '2000-08-10T00:00:00.000000000', '2000-08-11T00:00:00.000000000',
       '2000-08-12T00:00:00.000000000', '2000-08-13T00:00:00.000000000',
       '2000-08-14T00:00:00.000000000', '2000-08-15T00:00:00.000000000',
       '2000-08-16T00:00:00.000000000', '2000-08-17T00:00:00.000000000',
       '2000-08-18T00:00:00.000000000', '2000-08-19T00:00:00.000000000',
       '2000-08-20T00:00:00.000000000', '2000-08-21T00:00:00.000000000',
       '2000-08-22T00:00:00.000000000', '2000-08-23T00:00:00.000000000',
       '2000-08-24T00:00:00.000000000', '2000-08-25T00:00:00.000000000',
       '2000-08-26T00:00:00.000000000', '2000-08-27T00:00:00.000000000',
       '2000-08-28T00:00:00.000000000', '2000-08-29T00:00:00.000000000',
       '2000-08-30T00:00:00.000000000', '2000-08-31T00:00:00.000000000',
       '2000-09-01T00:00:00.000000000', '2000-09-02T00:00:00.000000000',
       '2000-09-03T00:00:00.000000000', '2000-09-04T00:00:00.000000000',
       '2000-09-05T00:00:00.000000000', '2000-09-06T00:00:00.000000000',
       '2000-09-07T00:00:00.000000000', '2000-09-08T00:00:00.000000000',
       '2000-09-09T00:00:00.000000000', '2000-09-10T00:00:00.000000000',
       '2000-09-11T00:00:00.000000000', '2000-09-12T00:00:00.000000000',
       '2000-09-13T00:00:00.000000000', '2000-09-14T00:00:00.000000000',
       '2000-09-15T00:00:00.000000000', '2000-09-16T00:00:00.000000000',
       '2000-09-17T00:00:00.000000000', '2000-09-18T00:00:00.000000000',
       '2000-09-19T00:00:00.000000000', '2000-09-20T00:00:00.000000000',
       '2000-09-21T00:00:00.000000000', '2000-09-22T00:00:00.000000000',
       '2000-09-23T00:00:00.000000000', '2000-09-24T00:00:00.000000000',
       '2000-09-25T00:00:00.000000000', '2000-09-26T00:00:00.000000000',
       '2000-09-27T00:00:00.000000000', '2000-09-28T00:00:00.000000000',
       '2000-09-29T00:00:00.000000000', '2000-09-30T00:00:00.000000000',
       '2000-10-01T00:00:00.000000000', '2000-10-02T00:00:00.000000000',
       '2000-10-03T00:00:00.000000000', '2000-10-04T00:00:00.000000000',
       '2000-10-05T00:00:00.000000000', '2000-10-06T00:00:00.000000000',
       '2000-10-07T00:00:00.000000000', '2000-10-08T00:00:00.000000000',
       '2000-10-09T00:00:00.000000000', '2000-10-10T00:00:00.000000000',
       '2000-10-11T00:00:00.000000000', '2000-10-12T00:00:00.000000000',
       '2000-10-13T00:00:00.000000000', '2000-10-14T00:00:00.000000000',
       '2000-10-15T00:00:00.000000000', '2000-10-16T00:00:00.000000000',
       '2000-10-17T00:00:00.000000000', '2000-10-18T00:00:00.000000000',
       '2000-10-19T00:00:00.000000000', '2000-10-20T00:00:00.000000000',
       '2000-10-21T00:00:00.000000000', '2000-10-22T00:00:00.000000000',
       '2000-10-23T00:00:00.000000000', '2000-10-24T00:00:00.000000000',
       '2000-10-25T00:00:00.000000000', '2000-10-26T00:00:00.000000000',
       '2000-10-27T00:00:00.000000000', '2000-10-28T00:00:00.000000000',
       '2000-10-29T00:00:00.000000000', '2000-10-30T00:00:00.000000000',
       '2000-10-31T00:00:00.000000000', '2000-11-01T00:00:00.000000000',
       '2000-11-02T00:00:00.000000000', '2000-11-03T00:00:00.000000000',
       '2000-11-04T00:00:00.000000000', '2000-11-05T00:00:00.000000000',
       '2000-11-06T00:00:00.000000000', '2000-11-07T00:00:00.000000000',
       '2000-11-08T00:00:00.000000000', '2000-11-09T00:00:00.000000000',
       '2000-11-10T00:00:00.000000000', '2000-11-11T00:00:00.000000000',
       '2000-11-12T00:00:00.000000000', '2000-11-13T00:00:00.000000000',
       '2000-11-14T00:00:00.000000000', '2000-11-15T00:00:00.000000000',
       '2000-11-16T00:00:00.000000000', '2000-11-17T00:00:00.000000000',
       '2000-11-18T00:00:00.000000000', '2000-11-19T00:00:00.000000000',
       '2000-11-20T00:00:00.000000000', '2000-11-21T00:00:00.000000000',
       '2000-11-22T00:00:00.000000000', '2000-11-23T00:00:00.000000000',
       '2000-11-24T00:00:00.000000000', '2000-11-25T00:00:00.000000000',
       '2000-11-26T00:00:00.000000000', '2000-11-27T00:00:00.000000000',
       '2000-11-28T00:00:00.000000000', '2000-11-29T00:00:00.000000000',
       '2000-11-30T00:00:00.000000000', '2000-12-01T00:00:00.000000000',
       '2000-12-02T00:00:00.000000000', '2000-12-03T00:00:00.000000000',
       '2000-12-04T00:00:00.000000000', '2000-12-05T00:00:00.000000000',
       '2000-12-06T00:00:00.000000000', '2000-12-07T00:00:00.000000000',
       '2000-12-08T00:00:00.000000000', '2000-12-09T00:00:00.000000000',
       '2000-12-10T00:00:00.000000000', '2000-12-11T00:00:00.000000000',
       '2000-12-12T00:00:00.000000000', '2000-12-13T00:00:00.000000000',
       '2000-12-14T00:00:00.000000000', '2000-12-15T00:00:00.000000000',
       '2000-12-16T00:00:00.000000000', '2000-12-17T00:00:00.000000000',
       '2000-12-18T00:00:00.000000000', '2000-12-19T00:00:00.000000000',
       '2000-12-20T00:00:00.000000000', '2000-12-21T00:00:00.000000000',
       '2000-12-22T00:00:00.000000000', '2000-12-23T00:00:00.000000000',
       '2000-12-24T00:00:00.000000000', '2000-12-25T00:00:00.000000000',
       '2000-12-26T00:00:00.000000000', '2000-12-27T00:00:00.000000000',
       '2000-12-28T00:00:00.000000000', '2000-12-29T00:00:00.000000000',
       '2000-12-30T00:00:00.000000000', '2000-12-31T00:00:00.000000000',
       '2007-10-25T00:00:00.000000000', '2008-10-17T00:00:00.000000000',
       '2008-10-18T00:00:00.000000000', '2008-10-19T00:00:00.000000000',
       '2008-10-20T00:00:00.000000000', '2008-10-21T00:00:00.000000000',
       '2008-10-22T00:00:00.000000000', '2008-10-23T00:00:00.000000000',
       '2008-10-24T00:00:00.000000000', '2008-10-25T00:00:00.000000000',
       '2008-10-26T00:00:00.000000000', '2008-10-27T00:00:00.000000000',
       '2008-10-28T00:00:00.000000000', '2008-10-29T00:00:00.000000000',
       '2008-10-30T00:00:00.000000000', '2008-10-31T00:00:00.000000000',
       '2008-11-01T00:00:00.000000000', '2008-11-02T00:00:00.000000000',
       '2008-11-03T00:00:00.000000000', '2008-11-04T00:00:00.000000000',
       '2008-11-05T00:00:00.000000000', '2008-11-06T00:00:00.000000000',
       '2008-11-07T00:00:00.000000000', '2008-11-08T00:00:00.000000000',
       '2008-11-09T00:00:00.000000000', '2008-11-10T00:00:00.000000000',
       '2008-11-11T00:00:00.000000000', '2008-11-12T00:00:00.000000000',
       '2008-11-13T00:00:00.000000000', '2008-11-14T00:00:00.000000000',
       '2008-11-15T00:00:00.000000000', '2008-11-16T00:00:00.000000000',
       '2008-11-17T00:00:00.000000000', '2008-11-18T00:00:00.000000000',
       '2008-11-19T00:00:00.000000000', '2008-11-20T00:00:00.000000000',
       '2008-11-21T00:00:00.000000000', '2008-11-22T00:00:00.000000000',
       '2008-11-23T00:00:00.000000000', '2008-11-24T00:00:00.000000000',
       '2008-11-25T00:00:00.000000000', '2008-11-26T00:00:00.000000000',
       '2008-11-27T00:00:00.000000000', '2008-11-28T00:00:00.000000000',
       '2008-11-29T00:00:00.000000000', '2008-11-30T00:00:00.000000000',
       '2008-12-01T00:00:00.000000000', '2008-12-02T00:00:00.000000000',
       '2008-12-03T00:00:00.000000000', '2008-12-04T00:00:00.000000000',
       '2008-12-05T00:00:00.000000000', '2008-12-06T00:00:00.000000000',
       '2008-12-07T00:00:00.000000000', '2008-12-08T00:00:00.000000000',
       '2008-12-09T00:00:00.000000000', '2008-12-10T00:00:00.000000000',
       '2008-12-11T00:00:00.000000000', '2008-12-12T00:00:00.000000000',
       '2008-12-13T00:00:00.000000000', '2008-12-14T00:00:00.000000000',
       '2008-12-15T00:00:00.000000000', '2008-12-16T00:00:00.000000000',
       '2008-12-17T00:00:00.000000000', '2008-12-18T00:00:00.000000000',
       '2008-12-19T00:00:00.000000000', '2008-12-20T00:00:00.000000000',
       '2008-12-21T00:00:00.000000000', '2008-12-22T00:00:00.000000000',
       '2008-12-23T00:00:00.000000000', '2008-12-24T00:00:00.000000000',
       '2008-12-25T00:00:00.000000000', '2008-12-26T00:00:00.000000000',
       '2008-12-27T00:00:00.000000000', '2008-12-28T00:00:00.000000000',
       '2008-12-29T00:00:00.000000000', '2008-12-30T00:00:00.000000000',
       '2008-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [33]:
pd.Series(null_hydro_b).describe(datetime_is_numeric=True)

count                             1137
mean     2008-10-31 03:01:06.490765056
min                2001-01-22 00:00:00
25%                2007-09-28 00:00:00
50%                2009-06-18 00:00:00
75%                2010-03-29 00:00:00
max                2020-05-05 00:00:00
dtype: object