Acea provides geodata for different sites and facilities; this notebook exists to clean that geodata and restrict it to only the locations our datasets mention.

In [9]:
import pandas as pd
df = pd.read_csv('../../data/geo/stazioni.csv', ';')
df

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
0,TOS19000601,0,5A,Cecina,LI,NaN,freatimetro,m,761579.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
1,TOS19000601,0,5A,Cecina,LI,NaN,qualita,microS/cm,761585.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
2,TOS19000601,0,5A,Cecina,LI,NaN,termometro acqua,�C,761583.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
3,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,deg,751055.0,42.883103,11.661623,1717391.08,4751286.43,910.00,10.0
4,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,m/s,751056.0,42.883103,11.661623,1717391.08,4751286.43,910.00,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2567,TOS02000519,0,Vorno,Capannori,LU,NaN,pluviometro,mm,14120.0,43.790768,10.515243,1621939.90,4849765.82,87.00,2.0
2568,TOS11000502,0,Zoo di Poppi,Poppi,AR,NaN,igrometro,%,753752.0,43.736000,11.782500,1724105.17,4846330.51,417.00,NaN
2569,TOS11000502,0,Zoo di Poppi,Poppi,AR,NaN,pluviometro,mm,753757.0,43.736000,11.782500,1724105.17,4846330.51,417.00,NaN
2570,TOS11000502,0,Zoo di Poppi,Poppi,AR,NaN,radiometro solare,W/mq,753754.0,43.736000,11.782500,1724105.17,4846330.51,417.00,2.0
2571,TOS11000502,0,Zoo di Poppi,Poppi,AR,NaN,termometro,�C,753751.0,43.736000,11.782500,1724105.17,4846330.51,417.00,NaN

In [10]:
# some features are more equal than others
keep = [
    'IDStazione',
    'Nome',
    'Comune',
    'Provincia',
    'Strumento',
    'Unita\' Misura',
    'LAT [o]',
    'LON [o]',
    'Quota'
]

df1 = df[keep]

In [16]:
something='Chiascio'
df1[df1['Nome'].str.contains(something) | df1['Comune'].str.contains(something) | df1['Provincia'].str.contains(something)]

Empty DataFrame
Columns: [IDStazione, Nome, Comune, Provincia, Strumento, Unita' Misura, LAT [o], LON [o], Quota]
Index: []

In [4]:
# we are literally interested in only 1% of the dataset's observations
keep = [
    'TOS07000001', # Abbadia S. Salvatore
    'TOS01000626', # Bibbiena
    'TOS02004271', # Borgo a Mozzano
    'TOS02004195', # Calavorno
    'TOS01000611', # Camaldoli
    'TOS03002901', # Castel del Piano
    'TOS01000911', # Cavallina
    'TOS01001041', # Consuma
    'TOS02000372', # Croce Arcana
    'TOS29000055', # David Lazzaretti
    'TOS02000332', # Fabbriche di Vallico
    'TOS11000111', # Firenze
    'TOS02000299', # Gallicano
    'TOS01000891', # Incisa
    'TOS11000114', # Laghetto Verde
    'TOS01000799', # Laterina
    'TOS01000926', # Le Croci
    'TOS02000512', # Lucca Orto Botanico
    'TOS01000921', # Mangona
    'TOS03001385', # Mensano
    'TOS03002733', # Montalcinello
    'TOS02004291', # Monte S. Quirico
    'TOS11000020', # Monte Serra
    'TOS11000082', # Monteroni Arbia Biena
    'TOS01004571', # Montevarchi
    'TOS03002742', # Monticiano La Pineta
    'TOS01004659', # Nave di Rosano
    'TOS01001889', # Orentano
    'TOS11000080', # Pentolina
    'TOS02004284', # Piaggione
    'TOS19000681', # Podere Casetta
    'TOS11000109', # Ponte a Moriano
    'TOS03005707', # Ponte Orgia
    'TOS02004315', # Pontetetto
    'TOS01000961', # S. Agata
    'TOS11000052', # S. Fiora
    'TOS20000004', # S. Fiora 11bis
    'TOS20000003', # S. Fiora 8
    'TOS01000925', # S. Piero
    'TOS01000741', # S. Savino
    'TOS11000025', # Scorgiano
    'TOS01002661', # Siena Poggio al Vento
    'TOS01001379', # Simignano
    'TOS03002761', # Sovicille
    'TOS01000581', # Stia
    'TOS02000339', # Tereglio Coreglia Antelminelli
    'TOS01001171', # Vernio
    'TOS11000115'  # Vetta Amiata
]

df2 = df1[df1['IDStazione'].isin(keep)]

In [6]:
# use english ascii
df2.columns = [
    'ID',
    'Name',
    'Municipality',
    'Province',
    'Instrument',
    'Units',
    'Lat',
    'Lng',
    'Elevation'
]

df2['Instrument'] = df2['Instrument'].replace({
    'anemometro': 'anemometer',
    'igrometro': 'hygrometer',
    'nivometro': 'snow meter',
    'pluviometro': 'rain gauge',
    'radiometro solare': 'Crookes radiometer',
    'termometro': 'thermometer',
    'barometro': 'barometer',
    'idrometro': 'stage',
    'freatimetro': 'phreatimeter',
    'qualita': 'quality',
    'termometro acqua': 'water thermometer',
    'evaporimetro': 'atmometer'
})

df2['Units'] = df2['Units'].replace('�C', 'C')

<ipython-input-6-8ad14e419ec1>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Instrument'] = df2['Instrument'].replace({
<ipython-input-6-8ad14e419ec1>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Units'] = df2['Units'].replace('�C', 'C')

In [7]:
df2

,ID,Name,Municipality,Province,Instrument,Units,Lat,Lng,Elevation
3,TOS11000114,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,anemometer,deg,42.883103,11.661623,910.0
4,TOS11000114,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,anemometer,m/s,42.883103,11.661623,910.0
5,TOS11000114,Abbadia S. S. - Laghetto Verde3,Abbadia S.S.,SI,anemometer,m/s,42.883103,11.661623,910.0
6,TOS11000114,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,hygrometer,%,42.883103,11.661623,910.0
7,TOS11000114,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,snow meter,m,42.883103,11.661623,910.0
...,...,...,...,...,...,...,...,...,...
2313,TOS03002761,Sovicille,Sovicille,SI,rain gauge,mm,43.276294,11.229860,260.0
2341,TOS01000581,Stia,Pratovecchio Stia,AR,rain gauge,mm,43.801781,11.717606,537.0
2342,TOS01000581,Stia,Pratovecchio Stia,AR,rain gauge,mm,43.801781,11.717606,537.0
2402,TOS02000339,Tereglio,Coreglia Antelminelli,LU,rain gauge,mm,44.059846,10.567786,590.0
2495,TOS01001171,Vernio,Vernio,PO,rain gauge,mm,44.056676,11.120557,695.0

In [8]:
df2.to_csv('../../data/geo/geo.csv', index=False)